

<!DOCTYPE html>
<html>
	<head>
		<title>allepey beach</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Algerian:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Algerian', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/qeoGADF.jpeg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Algerian', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:  calibri;
    			
    			
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:15px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo">Bharatwasii</h1></div>
            	<a href="kerala.html">Home</a>
            </nav>
            <div id="title"><h1>ALLEPEY BEACH</h1></div>
			<div class="description">
			<span class="des">Alleppey Beach is a famous picnic spot in Kerala that houses an extended human-friendly beach. Since Alleppey is known as the Venice of the East, the trade through the sea and backwaters contributes a lot toward the economic development of Kerala.

A pier extended towards the sea is known to be 137 years old and also it is reached out to the mass through the entertainment beach festival conducted on New Year’s Eve. A lighthouse situated nearby exists as a fascination to all groups of people visiting the beach.

The marine products of Alleppey have a great demand among the public, so the beach can be seen so crowded always. Moreover, the serenity on the sides of the beach is alluring. It is lined by coconuts swaying in the sea breeze creating such a nice atmosphere throughout the day.
Location: Alleppey Kerala, 688007, 

Timings: All day.

Entry fee: None.
			</span>
			<br/>
			</div>
			<div class="map">
        		<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=allepey beach%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"</iframe><a href="https://add-google-map.com"></a></div>
     		</div>
		</header>
	</body>
</html>