

<!DOCTYPE html>
<html>
	<head>
		<title>kasargod</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Algerian:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Algerian', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/7yD7DAo.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Algerian', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:  calibri;
    			
    			
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:15px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo">Bharatwasii</h1></div>
            	<a href="kerala.html">Home</a>
            </nav>
            <div id="title"><h1>KASARGOD</h1></div>
			<div class="description">
			<span class="des">
Journey to the South of India and God’s Own Country to discover a gem that offers tourists plenty of holiday thrills. Kasaragod is located in the famed Western Ghats and much of its topography reflects this. Green hills and coconut gardens create beautiful oases that are a treat to explore while the Arabian Sea to the west invites you to visit unspoilt beaches. The tourist places in Kasargod boasts of historical structures, religious sites, ritual worship like theyyam, and art forms like yakshagana and gombeyaata. If you’re fortunate enough, you can witness festivals like Sarvajanika Ganeshotsava and Mallikarjuna temple festival taking place.

Like much of Kerala, Kasaragod is very tourist-friendly. You’ll have no difficulty finding places to stay. Getting from one local attraction to another is easy too and transportation is readily available. However, despite being a popular tourist destination, it doesn’t feel overdeveloped. It still retains an old world charm and this gives it a special character.

If you’re planning to travel to Kasaragod, there are certain important details you should know. The tourist places in Kasaragod are definitely going to give you an experience of a lifetime. The experience so great that it will remain etched in your heart forever and you will share you travel tales with your dear ones. Hence, we’ve put together a list of them including the best time to visit, best tourist places and the best places to stay at. Read on to find out more about this beautiful town and district, Kasaragod.
			</span>
			<br/>
			</div>
			<div class="map">
        		<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=kasargod%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"</iframe><a href="https://add-google-map.com"></a></div>
     		</div>
		</header>
	</body>
</html>