

<!DOCTYPE html>
<html>
	<head>
		<title>kumarakom</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Algerian:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Algerian', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/D5V9dmb.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Algerian', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:  calibri;
    			
    			
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:15px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo">Bharatwasii</h1></div>
            	<a href="kerala.html">Home</a>
            </nav>
            <div id="title"><h1>KUMARAKOM</h1></div>
			<div class="description">
			<span class="des">Kumarakom is a cluster of beautiful little islands on the Vembanad Lake, Kerala’s largest lake in South India. It offers a scenic view of emerald green backwaters of Kerala flanked by luxuriant vegetation and paddy fields. Being endowed with worldwide recognition on account of its backwater tourism, the tourist places in Kumarakom is most sought after tourist destination due to its pristine beauty and tranquility. With miles of solitude and peace being one of the most serene offerings of Kumarakom, this fascinating destination has got something for everybody whether you are seeking relaxation, rejuvenation or on a honeymoon trip.

 

An enchanting backwater destination, Kumarakom offers visitors many other leisure options. Whether it is a cruise on some of the most beautiful houseboats or a rejuvenating experience of watching the most peculiar birds in the sky, Kumarakom hits the spot in many ways. Kumarakom is an enchanting destination to enjoy a tropical paradise along with refreshing Ayurvedic Spas and a spiritual escape with some famous pilgrimage centers. If one wishes to engage in some daring adventures, Vembanad is a veritable playground. The lake is the favorite hotspot for adventurers to indulge in activities like angling, yachting, and boating. For shopping lovers and foodies too, Kumarakom is a delight for travelers.

 

It is one of the most popular tourist destinations and is known for its divine, pristine and serene ambience and nature. Along with blessed with a wide variety of flora and fauna, Kumarakom is gifted with great weather, beautiful landscapes, waterways and lush greenery. The tourist places in Kumarakom are a rich spectrum of cultural and historical diversity and offers one the much needed escape from the hustle and bustle of city life. If one wishes to dive into the experience of taking a close sneak peek of nature, then Kumarakom turns out to be one of the most spectacular destinations in Kerala.
			</span>
			<br/>
			</div>
			<div class="map">
        		<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=kumarakom%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"</iframe><a href="https://add-google-map.com"></a></div>
     		</div>
		</header>
	</body>
</html>