

<!DOCTYPE html>
<html>
	<head>
		<title>kumarakom bird sanctuary</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Algerian:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Algerian', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/Vd036G4.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Algerian', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:  calibri;
    			
    			
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:15px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo">Bharatwasii</h1></div>
            	<a href="kerala.html">Home</a>
            </nav>
            <div id="title"><h1>KUMARAKOM BIRD SANCTUARY</h1></div>
			<div class="description">
			<span class="des">For all avid bird watchers and fauna lovers, the Kumarakom Bird Sanctuary is nothing less than a heaven. Set in the backdrop of Kerala Backwaters, this beautiful bird sanctuary is known for its lush green lawns and deep blue skies, which are adorned by birds from all over the world. The sanctuary, which is spread over 14 acres offers boat ride from Kavanar River or the Vembanad Lake. 

The main attraction of birds that can be seen here includes the duck, the Brahminy Kite, waterfowl and cormorant, darter and egret along with heron, cuckoo, moorhen, and owl. The place is also home to a number of migratory birds such as flycatcher, Siberian Crane, teal, lark and parrot. The bird sanctuary is probably most popular for having migratory birds from as far as Siberia and the Himalayas. 

Mostly an early morning trek, preferably before the sunrise, is one of the best ways of watching birds here. The birds leave their forest homes early in the morning and usually surround and fly over the lake, making it the hub for bird watchers from all over the world which makes this place one of the best tourist places in Kerala. 

Location: Kavanattinkara, Kumarakom, Kerala 686563,

Timings: 6:30 AM to 5 PM
			</span>
			<br/>
			</div>
			<div class="map">
        		<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=kumarakom bird sanctuary%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"</iframe><a href="https://add-google-map.com"></a></div>
     		</div>
		</header>
	</body>
</html>