

<!DOCTYPE html>
<html>
	<head>
		<title>neyyar dam</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Algerian:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Algerian', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/heTBWo2.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Algerian', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:  calibri;
    			
    			
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:15px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo">Bharatwasii</h1></div>
            	<a href="kerala.html">Home</a>
            </nav>
            <div id="title"><h1>NEYYAR DAM</h1></div>
			<div class="description">
			<span class="des"> Neyyar dam is a gravity dam on the Neyyar River in Thiruvananthapuram district of Kerala, South India, located on the foot of the Western Ghats about 30 km from Thiruvananthapuram. It was established in 1958 and is a popular picnic spot. Lying against the southern low hills of the Western Ghats, Neyyar Dam has a scenic lake.Neyyar Dam is home to the beautiful and peaceful Sivananda Yoga Vedanta Dhanwanthari Ashram where you can take courses in Yoga and practice meditation. The trees that are growing inside the Ashram are astonishing by their height and vigor, which is due to both care by the people.Try drinking the juice from a local coconut and eating the white milky lining. On the journey from Trivandrum you will see rubber plantations and the local harvest of the white latex that comes from the trees.
			While you are in Kerala don’t miss a chance to visit the Neyyar Dam which is one of the most visited tourist places in Kerala. Situated at the foot of the Western Ghat this lake was established in the year 1958. This popular picnic spot is heaven for tourist in search of some serenity and isolation. Refresh your spirit as you visit this one of a kind dam while enjoying the beautiful surroundings.

The Neyyar Dam is a part of the Neyyar Wildlife Sanctuary which is an abode of a variety of flora and fauna. One can find different species of wildlife like wild boars and elephants to the vast range of medicinal herbs. This place is definitely a paradise for nature lovers.
Location: Kallikkad, Kerala 695572,

Timings: 8 AM to 7 PM.

			</span>
			<br/>
			</div>
			<div class="map">
        		<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=neyyar dam thiruvananthapuram%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"</iframe><a href="https://add-google-map.com"></a></div>
     		</div>
		</header>
	</body>
</html>