*
{
	padding:0;
	margin:0;
}
.header
{
	width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/COF1cXM.jpeg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
          
               background-attachment: fixed;
}

nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
                            font-family: algerian;
			}
			nav .logo{
			    width: 25%;
			    text-align: center; 
                               
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 1200;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:white;
				font-size:40px;
				font-family:  algerian;
			}

                        


                          #title h4{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:white;
				font-size:20px;
				font-family:  algerian;
			}

.header h1
{
	padding-top:30px;
	color:white;
    text-align:center;
}

.container
{
	width:100%;
	overflow:hidden;
	//background:skyblue;
	margin: 20px auto;
	padding:20px;
}
.container ul
{
	padding:0px;
	margin:0px;
}
.container ul li
{
	list-style:none;
	float:left;
	width:20%;
	height:300px;
//	background:red;
	margin:40px 30px 10px 20px;
	box-sizing:border-box;
//	border:2px solid green;
}
.container ul li .just_fix
{
	float:left;
	width:100%;
	height:250px;
	box-sizing:border-box;
//	border:2px solid green;
}
.container ul li .title
{
	width:100%;
	height:50px;
	line-height:50px;
	margin-top:250px;
	font-family: cursive;
//	background-color:#00b894;
	color:white;
	text-align:center;
}

@media screen and (max-width:1250px)
{
	.container ul li
	{
		width:40%;
		margin-left:100px;
	}
}
