<!DOCTYPE html>
<html>
	<head>
		<title>GUJARAT</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/GVYYze9.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			#outer{
				height:100%;
				width:100%;
				border:1px solid;
			}
			
			.gallery img{
				width:100%;
				
			}
			.wlink{
				padding:15px;
				text-align:center;
				overflow-x: hidden;
				display: flex;
				text-decoration: none;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: bolder; 
    			
			}
			.responsive{
				padding:0 6px;
				float:left;
				width:25%;
				padding-top: 20px;
				
			}

			.chnge:after{
    			content:'';
    			animation:changetext 10s infinite linear;color:#00b894;
			}


			@media only screen and (max-width: 1000px){
				.responsive{
					width:50%;
					margin:6px 0;
				}
				nav .logo{statue of unity.html
					padding-left: 5px;
				}
			}

			@media only screen and (max-width: 450px){
				.responsive{
					width:100%;	
				}
				nav .logo{
					padding-left: 5px;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="index.html.html">Home</a>
            </nav>
            <div id="title"><h1>tourism in gujarat</h1></div>

            	<div class="responsive">
					<div class="gallery">
						<a href="statue of unity.html" target="_blank"><img src="https://i.imgur.com/lXcyuxq.jpg" width="300" height="200"></a>	
						<div class="des"><a href="statue of unity.html" class="wlink">statue of unity</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="sabarmati ashram.html" target="_blank"><img src="https://i.imgur.com/AVggKvm.jpg" width="300" height="200"></a>	
						<div class="des"><a href="sabarmati ashram.html" class="wlink">sabarmati ashram </a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="kutch.html" target="_blank"><img src="https://i.imgur.com/UOyao0r.jpg" width="300" height="200"></a>	
						<div class="des"><a href="kutch.html" class="wlink">kutch</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="baroda.html" target="_blank"><img src="https://i.imgur.com/iq6nlbp.jpg" width="300" height="200"></a>
						<div class="des"><a href="baroda.html" class="wlink">baroda</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="champanerpavagadh.html" target="_blank"><img src="https://i.imgur.com/UqMWiLQ.jpg" width="300" height="200"></a>	
						<div class="des"><a href="champanerpavagadh.html" class="wlink">Champaner-Pavagadh</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="dwarka.html" target="_blank"><img src="https://i.imgur.com/JD8dJSH.jpg" width="300" height="200"></a>	
						<div class="des"><a href="dwarka.html" class="wlink">dwarka</a></div>					
					</div>
				</div>
				
				<div class="responsive">
					<div class="gallery">
						<a href="gir.html" target="_blank"><img src="https://i.imgur.com/ZGUQQtA.jpg" width="300" height="200"></a>	
						<div class="des"><a href="gir.html" class="wlink">gir national park</a></div>					
					</div>
				</div>	

				<div class="responsive">
					<div class="gallery">
						<a href="idar.html" target="_blank"><img src="https://i.imgur.com/z2tK5d0.jpg" width="300" height="200"></a>
						<div class="des"><a href="idar.html" class="wlink">idar hill fort</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="junagadh.html" target="_blank"><img src="https://i.imgur.com/fBVdQEE.jpg" width="300" height="200"></a>	
						<div class="des"><a href="junagadh.html" class="wlink">junagadh</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="nalsarovar.html" target="_blank"><img src="https://i.imgur.com/JzUhQa9.jpg" width="300" height="200"></a>	
						<div class="des"><a href="nalsarovar.html" class="wlink">nalsarovar bird sanctuary</a></div>					
					</div>
				</div>
				
				<div class="responsive">
					<div class="gallery">
						<a href="narara marine park.html" target="_blank"><img src="https://i.imgur.com/0KH48Y2.jpg" width="300" height="200"></a>
						<div class="des"><a href="narara marine park.html" class="wlink">Narara Marine Park</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="poloforest.html" target="_blank"><img src="https://i.imgur.com/2veTr5o.jpg" width="300" height="200"></a>	
						<div class="des"><a href="polo forest.html" class="wlink">polo forest</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="queens stepwell.html" target="_blank"><img src="https://i.imgur.com/voflkTH.jpg" width="300" height="200"></a>	
						<div class="des"><a href="queens stepwell.html" class="wlink">queens stepwell</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="saputara.html" target="_blank"><img src="https://i.imgur.com/k8lgAwV.jpg" width="300" height="200"></a>	
						<div class="des"><a href="saputara.html" class="wlink">saputara, the dangs</a></div>					
					</div>
				</div>	

				<div class="responsive">
					<div class="gallery">
						<a href="shatrunjay hill temples.html" target="_blank"><img src="https://i.imgur.com/KLo9u2D.jpg" width="300" height="200"></a>
						<div class="des"><a href="shatrunjay hill temples.html" class="wlink">shatrunjay hill temples</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="somnath.html" target="_blank"><img src="https://i.imgur.com/ecs36M2.jpg" width="300" height="200"></a>	
						<div class="des"><a href="somnath.html" class="wlink">somnath</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="sun temple.html" target="_blank"><img src="https://i.imgur.com/GW7uliW.jpg" width="300" height="200"></a>	
						<div class="des"><a href="sun temple.html" class="wlink">sun temple</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="blackbuck.html" target="_blank"><img src="https://i.imgur.com/MFphgZX.jpg" width="300" height="200"></a>	
						<div class="des"><a href="blackbuck.html" class="wlink">velavadar blackbuck national park</a></div>					
					</div>
				</div>

		</header>
	</body>
</html>