<!DOCTYPE html>
<html lang="en">
<head>
	<title>TOURISM PLACES IN TAMILNADU</title>
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width = device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">

</head>
<body>

<section class="header">
<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="layout.html">Home</a>
            </nav>
<div id="title"><h1>TAMILNADU TOURISM</h1></div>

 <div class="container-fluid">
<div class="container">
<ul>
	 <li><a href="hogenakkal.html"><img class="just_fix" src="https://i.imgur.com/rxeGzua.jpg"></a><div class="title">HOGENAKKAL</div></li>
	 <li><a href="mahabalipuram.html"><img class="just_fix" src="https://i.imgur.com/8EibFzc.jpg"></a><div class="title">MAHABALIPURAM</div></li>
	 <li><a href="thootukudi.html"><img class="just_fix" src="https://i.imgur.com/ICUQnzb.jpeg"></a><div class="title">THOOTUKUDI</div></li>
    <li><a href="velankanni.html"><img class="just_fix" src="https://i.imgur.com/fJKPUDw.jpg"></a><div class="title">VELANKANNI</div></li>
    <li><a href="thanjavur.html"><img class="just_fix" src="https://i.imgur.com/RYXMZrJ.jpeg" ></a><div class="title">THANJAVUR</div></li>
	<li><a href="thiruvannamalai.html"><img class="just_fix" src="https://i.imgur.com/dArIBNd.jpg" ></a><div class="title">THIRUVANNAMALAI</div></li>
	<li><a href="ooty.html"><img class="just_fix" src="https://i.imgur.com/qtfmy6N.jpeg" ></a><div class="title">OOTY</div></li>
	<li><a href="madurai.html"><img class="just_fix" src="https://i.imgur.com/PN7zqZ1.jpg" ></a><div class="title">MADURAI</div></li>
	<li><a href="vellore.html"><img class="just_fix" src="https://i.imgur.com/PvQAZlp.jpg" ></a><div class="title">VELLORE</div></li>
	<li><a href="yelagiri.html"><img class="just_fix" src="https://i.imgur.com/5B1EEJ2.jpeg"></a><div class="title">YELAGIRI</div></li>
    <li><a href="chennai.html"><img class="just_fix" src="https://i.imgur.com/rfVAsl1.jpg"></a><div class="title">CHENNAI</div></li>
    <li><a href="kanyakumari.html"><img class="just_fix" src="https://i.imgur.com/CmMKU62.jpg"></a><div class="title">KANYAKUMARI</div></li>
    <li><a href="kodaikanal.html"><img class="just_fix" src="https://i.imgur.com/YxXo6zT.jpeg"></a><div class="title">KODAIKANAL</div></li>
    <li><a href="rameshwaram.html"><img class="just_fix" src="https://i.imgur.com/SzbVLr1.jpeg"></a><div class="title">RAMESHWARAM</div></li>
    <li><a href="pondicherry.html"><img class="just_fix" src="https://i.imgur.com/RdFreVk.jpg"></a><div class="title">PONDICHERRY</div></li>
    <li><a href="tiruchirapalli.html"><img class="just_fix" src="https://i.imgur.com/COBgPoz.jpeg"></a><div class="title">TIRUCHIRAPALLI</div></li>
    <li><a href="auroville.html"><img class="just_fix" src="https://i.imgur.com/c87HNAu.jpg"></a><div class="title">AUROVILLE</div></li>

	
   
    <li><a href="kumbakonam.html"><img class="just_fix" src="https://i.imgur.com/1w7OiSE.jpg"></a><div class="title">KUMBAKONAM</div></li>
    <li><a href="kanchipuram.html"><img class="just_fix" src="https://i.imgur.com/6eUeS5g.jpg"></a><div class="title">KANCHIPURAM</div></li>
    
    <li><a href="chidambaram.html"><img class="just_fix" src="https://i.imgur.com/niCXVXa.jpeg"></a><div class="title">CHIDAMBARAM</div></li>
    
</ul>
</div>
</div>

</section>
</body>
</html>

