<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		*{
    margin: 0;padding: 0;box-sizing: border-box;
    //font-family: 'Caveat',cursive;
}
		body{
			height:100vh;
			width:100%;
			background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://imgur.com/pvtcNZf.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			overflow: auto;
			background-position:center;
			//font-family: 'Open Sans',cursive;
		}
		.row .logo{
			    width: 25%;
			    text-align: center;
			   font-family:'Caveat',cursive;  
			  // border:1px solid red;  
			}
		.row a{
				text-decoration: none;
				color:rgba(200,255,150,1);
				padding-right: 30px;
				//font-weight: 700;
				font-size:25px;
				//border:1px solid red;
			}
		h1{
			font-size: 22px;
			padding-left: 30px;
		}
		.row 
		{
			//font-family: cursive;  
			//background-image: linear-gradient(rgba(195, 72, 248,0.7),rgba(195, 72, 248,0.2));
			background-image: linear-gradient(rgba(0, 0, 0,0.2),rgba(0, 0, 0,0.2));
			width:100%;
			height:10vh;
			//color:white;
			display: flex;justify-content: space-between;
			align-items: center;
			color:white;

		}
		/*.row  a
		{
			color:rgba(200,255,150,1);
			text-decoration:none;
			//font-size:19px;
			font-size:22px;
			//float:right;
			padding:6px 15px 6px 3px;
		}*/
		#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;

            //align-items:flex-start;
        }
        #centre
        {
        	width:100%;
        }
        #heading
        {
        	width: 100%;
        	height:12vh;
        	//border:1px solid red;
        	font-family:'Cinzel Decorative',cursive;
			font-size:50px;
			//color:rgba(255,255,255,1);
			//background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
			animation: colorchange 1s infinite;
        }
        @keyframes colorchange
        {
        					20%{color:white;}
	                       //20%{color:skyblue;}
	                       100%{color:#bf55ec;}
	                       50%{color:rgba(200,255,150,1);}
        }
        .fbox
        {
        	//border:1px solid red;
        	margin:20px 0px 20px;
        }
        .fbox img
        {
        	width:280px;
        	height:200px;
        	border-radius: 15px;
        
        }
        .card
        {
        	 align-items: center;
        	 font-size:15px;
        	// font-family: cursive;
        	 color:rgba(200,255,150,1);
        }
         @media only screen and (max-width: 768px)
         {
         	#heading
         	{
         		font-size: 40px;
         		justify-content: center;
         	}
         	.row a
         	{
         		//height:40px;
         		font-size: 22px;
         		padding-right: 20px;
         	}
         	h1{
         		font-size: 20px;
         		padding-left:20px;
         	}

         }
         @media only screen and (max-width: 360px)
          {
          	#heading
          	{
          		font-size:28px;
          		height:40px;
          	}
          	.row a
         	{
         		//height:40px;
         		font-size: 18px;
         		padding-right: 15px;
         	}
         	h1{
         		font-size: 16px;
         		padding-left:15px;
         	}
          }
	</style>
</head>
<body>
			<div class="row">
				<div class="logo"><h1 class="animated infinite heartBeat">BHARATWASII</h1></div>
				<a href="#">HOME</a>
			</div>
		<div id="centre">
			<center>
				<div id="heading">
					DELHI TOURISM
				</div>
				<div id="container">
						
						<div class="fbox"><a href="red_fort "><img src="https://imgur.com/2o0liGi.jpg" alt="Red_Fort"></a><div class="card"> RED FORT </div></div>

						<div class="fbox"><a href="india_gate "><img src="https://imgur.com/JIRthqs.jpg"  alt="India_gate"></a><div class="card"> INDIA GATE </div> </div>	
						<div class="fbox"><a href="rashtrapati_bhawan "> <img src="https://imgur.com/3hwEsXw.jpg" alt="Rashtrapati_bhavan"></a><div class="card">RASHTRAPATI BHAWAN</div></div>	
						<div class="fbox"><a href="jantar_mantar "><img src="https://imgur.com/lFZ4K3S.jpg" alt="Jantar_mantar"></a> <div class="card"> JANTAR MANTAR </div></div>
						<div class="fbox"><a href="raj_ghat "><img src="https://imgur.com/aqJUi3M.jpg" alt="RAj_Ghat"></a><div class="card">RAJ GHAT </div> </div>
						<div class="fbox"><a href="purana_qila "><img src="https://imgur.com/EHignLD.jpg" alt="Purana_qila"></a><div class="card">
						PURANA QILA </div> </div>
						<div class="fbox"><a href="firoz_shah_kotla_fort "><img src="https://imgur.com/9TL5shE.jpg" alt="Firoj_shah_kotla_fort"></a><div class="card">FIROJ SHAH KOTLA FORT </div> </div>
						<div class="fbox"><a href="agrasen_ki_baoli "><img src="https://imgur.com/7kx9szF.jpg" alt="Agrasen_ki_baoli"></a><div class="card">AGRASEN KI BAOLI</div> </div>
						<div class="fbox"><a href="lodhi_garden "><img src="https://imgur.com/HJfvb60.jpg" alt="Lodhi_garden"></a><div class="card"> LODHI GARDEN</div> </div>
						<div class="fbox"><a href="qutub_minar "><img src="https://imgur.com/qErCz38.jpg" alt="Qutub_minar"></a><div class="card"> QUTUB MINAR</div> </div>
						<div class="fbox"><a href="humayun_tomb "><img src="https://imgur.com/YpreyWk.jpg" alt="Humayun_tomb"></a><div class="card"> HUMAYUN TOMB</div> </div>
						<div class="fbox"><a href="akshardham_temple "><img src="https://imgur.com/cMg8IUu.jpg" alt="Akshardham_temple"></a><div class="card">AKSHARDHAM TEMPLE</div> </div>
						<div class="fbox"><a href="chhatrapur_temple "><img src="https://imgur.com/rgkUySc.jpg" alt="Chhatratrapur_temple"></a><div class="card">CHHATRAPUR TEMPLE</div> </div>
						<div class="fbox"><a href="lotus_temple "><img src="https://imgur.com/fY7WhPo.jpg" alt="lotus_temple"></a><div class="card">LOTUS TEMPLE </div> </div>
						<div class="fbox"><a href="lakshminarayan_temple "><img src="https://imgur.com/QpagSNu.jpg" alt="lakshminarayan_temple"></a><div class="card">LAKSHMINARAYAN TEMPLE </div> </div>	
						<div class="fbox"><a href="bangla_sahib "><img src="https://imgur.com/HvVg8cv.jpg" alt="bangla_sahib"></a><div class="card">BANGLA SAHIB GURUDWARA </div> </div>
						<div class="fbox"><a href="iscon_temple "><img src="https://imgur.com/wg0w1tZ.jpg" alt="iscon_temple"></a><div class="card">ISCON TEMPLE </div> </div>
						<div class="fbox"><a href="jama_masjid "><img src="https://imgur.com/exWTpkz.jpg" alt="jama_masjid"></a><div class="card">JAMA MASJID </div> </div>
						<div class="fbox"><a href="tomb_of_safdarjung "><img src="https://imgur.com/7ZhaTLH.jpg" alt="tomb_of_safdarjung"></a><div class="card">TOMB OF SAFDARJUNG </div> </div>
						<div class="fbox"><a href="garden_of_five_senses "><img src="https://imgur.com/s8CcxRn.jpg" alt="garden_of_five sences"></a><div class="card">GARDEN OF FIVE SENCES </div> </div>
						<div class="fbox"><a href="hauz_khas_fort "><img src="https://imgur.com/8NLolEu.jpg" alt="hauz_khas_fort"></a><div class="card">HAUZ KHAS FORT </div> </div>
						<div class="fbox"><a href="nehru_park "><img src="https://imgur.com/WQIKhO5.jpg" alt="nehru_park"></a><div class="card">NEHRU PARK</div> </div>
						<div class="fbox"><a href="barahkhamba_tomb "><img src="https://imgur.com/VVkhS5D.jpg" alt="barahkhamba_tomb"></a><div class="card">BARAHKHAMBA TOMB</div> </div>
						<div class="fbox"><a href="NIZAMUDDIN "><img src="https://imgur.com/aBzUCrF.jpg" alt="NIZAMUDDIN"></a><div class="card">NIZAMUDDIN DARGAH</div> </div>
						<div class="fbox"><a href="moth_ki_masjid "><img src="https://imgur.com/RA22GmC.jpg" alt="moth_ki_masjid"></a><div class="card">MOTH KI MASJID</div> </div>
						<div class="fbox"><a href="atgah_khan's_tomb "><img src="https://imgur.com/NKfrZgd.jpg" alt="atgah_khan's_tomb"></a><div class="card">ATGAH KHAN TOMB</div> </div>
						<div class="fbox"><a href="craft_museum "><img src="https://imgur.com/zxiHhCl.jpg" alt="craft_museum"></a><div class="card">CRAFT MUSEUM</div> </div>
						<div class="fbox"><a href="national_rail_museum "><img src="https://imgur.com/atvQXdU.jpg" alt="national_rail_museum"></a><div class="card">NATIONAL RAIL MUSEUM</div> </div>
						<div class="fbox"><a href="shankar_international_doll_museum "><img src="https://imgur.com/HmWJOoV.jpg" alt="shankar_international_doll_museum"></a><div class="card">SHANKAR INTERNATIONAL DOLL MUSEUM</div> </div>
						<div class="fbox"><a href="national_museum "><img src="https://imgur.com/LanqFsk.jpg" alt="national_museum"></a><div class="card">NATIONAL MUSEUM</div> </div>
						<div class="fbox"><a href="indian_war_memorial_museum "><img src="https://imgur.com/ragfyLv.jpg" alt="indian_war_memorial_museum"></a><div class="card">INDIAN WAR MEMORIAl MUSEUM</div> </div>
						<div class="fbox"><a href="indian_air_force_museum "><img src="https://imgur.com/BJHy5fH.jpg" alt="indian_air_force_museum"></a><div class="card">INDIAN AIR FORCE MUSEUM</div> </div>
						<div class="fbox"><a href="tibet_house_museum "><img src="https://imgur.com/KxHxTSL.jpg" alt="tibet_house_museum"></a><div class="card">TIBET HOUSE MUSEUM</div> </div>
						<div class="fbox"><a href="the_educational_national_gallery_of_modern_art "><img src="https://imgur.com/5hrXLog.jpg" alt="the_educational_national_gallery_of_modern_art"></a><div class="card">GALLERY OF MODERN ART</div> </div>
						<div class="fbox"><a href="nehru_planetarium "><img src="https://imgur.com/nUVNjv8.jpg" alt="nehru_planetarium"></a><div class="card">NEHRU PLANETARIUM</div> </div>
						<div class="fbox"><a href="okhla_bird_sanctuary "><img src="https://imgur.com/7WyP9r1.jpg" alt="okhla_bird_sanctuary"></a><div class="card">OKHLA BIRD SANCTUARY</div> </div>
						<div class="fbox"><a href="southern_ridge_forest "><img src="https://imgur.com/KneFnbX.jpg" alt="souther_ridge_forest"></a><div class="card">SOUTHERN RIDGE FOREST</div> </div>
						<div class="fbox"><a href="hijron_ka_khanqah "><img src="https://imgur.com/efuM5fv.jpg" alt="hijron_ka_khanqah"></a><div class="card">HIJRON KA KHANQAH</div> </div>
						<div class="fbox"><a href="mehrauli_archeological_park "><img src="https://imgur.com/BOUjZ1t.jpg" alt="mehrauli_archeological_park"></a><div class="card">MEHRAULI ARCHEOLOGICAL PARK</div> </div>
						<div class="fbox"><a href="science_museum "><img src="https://imgur.com/7op28nY.jpg" alt="science_museum"></a><div class="card">SCIENCE MUSEUM</div> </div>
						<div class="fbox"><a href="national_zoological_park "><img src="https://imgur.com/OrADJxm.jpg" alt="national_zoological_park"></a><div class="card">NATIONAL ZOOLOGICAL PARK</div> </div>
				</div>
			</center>
		</div>
</body>
</html>