<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		*{
    margin: 0;padding: 0;box-sizing: border-box;
    //font-family: 'Caveat',cursive;
}
		body{
			height:100vh;
			width:100%;
			background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://imgur.com/8w015PX.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			overflow: auto;
			background-position:center;
			//font-family: 'Open Sans',cursive;
		}
		.row .logo{
			    width: 25%;
			    text-align: center;
			   font-family:'Caveat',cursive;  
			}
		.row a{
				text-decoration: none;
				color:rgba(200,255,150,1);
				padding-right: 30px;
				//font-weight: 700;
				font-size:25px;
				//border:1px solid red;
			}
		h1{
			font-size: 22px;
			padding-left: 30px;
		}
		.row 
		{
			
			background-image: linear-gradient(rgba(0, 0, 0,0.2),rgba(0, 0, 0,0.2));
			width:100%;
			height:10vh;
			display: flex;justify-content: space-between;
			align-items: center;
			color:white;

		}
		#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
        }
        #centre
        {
        	width:100%;
        }
        #heading
        {
        	width: 100%;
        	height:12vh;
        	//font-family:'Caveat',cursive;
        	//font-family: 'Flamenco', cursive;
        	font-weight: 700;
			font-size:50px;
			animation: colorchange 1s infinite;
			text-align: center;
        }
        .des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			//word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    #map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 450px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
			 @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}
        @keyframes colorchange
        {
        					20%{color:white;}
	                       //20%{color:skyblue;}
	                       100%{color:#bf55ec;}
	                       50%{color:rgba(200,255,150,1);}
        }
         @media only screen and (max-width: 768px)
         {
         	#heading
         	{
         		font-size: 40px;
         		justify-content: center;
         	}
         	.row a
         	{
         		//height:40px;
         		font-size: 22px;
         		padding-right: 20px;
         	}
         	h1{
         		font-size: 20px;
         		padding-left:20px;
         	}

         }
         @media only screen and (max-width: 360px)
          {
          	#heading
          	{
          		font-size:24px;
          		height:40px;
          	}
          	.row a
         	{
         		//height:40px;
         		font-size: 18px;
         		padding-right: 15px;
         	}
         	h1{
         		font-size: 16px;
         		padding-left:15px;
         	}
          }
	</style>
</head>
<body>
			<div class="row">
				<div class="logo"><h1 class="animated infinite heartBeat">BHARATWASII</h1></div>
				<a href="delhi_tourism ">HOME</a>
			</div>
		<div id="centre">
				<div id="heading">
					PURANA QILA
				</div>
				<div class="description">
			<span class="des">Purana Qila, Hindustani for Old Fort also formerly called Shergarh & Sher Fort is one of the oldest forts in Delhi, India. The site has been continuously inhabited for 2,500 years and remains dating from the pre-Mauryan period have been found. The present citadel was begun in the time of Humayun and its construction continued under Sher Shah Suri. The site is often identified with the site of Indraprastha, the capital of the kingdoms of the Pandavas from the Mahabharata.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/19exH5FV94NLJRtz5" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://maps.google.com/maps?q=purana-qila%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</div>
</body>
</html>