<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		*{
    margin: 0;padding: 0;box-sizing: border-box;
    //font-family: 'Caveat',cursive;
}
		body{
			height:100vh;
			width:100%;
			background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://imgur.com/7glyLLY.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			overflow: auto;
			background-position:center;
			//font-family: 'Open Sans',cursive;
		}
		.row .logo{
			    width: 25%;
			    text-align: center;
			   font-family:'Caveat',cursive;  
			}
		.row a{
				text-decoration: none;
				color:rgba(200,255,150,1);
				padding-right: 30px;
				//font-weight: 700;
				font-size:25px;
				//border:1px solid red;
			}
		h1{
			font-size: 22px;
			padding-left: 30px;
		}
		.row 
		{
			
			background-image: linear-gradient(rgba(0, 0, 0,0.2),rgba(0, 0, 0,0.2));
			width:100%;
			height:10vh;
			display: flex;justify-content: space-between;
			align-items: center;
			color:white;

		}
		#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }
        #centre
        {
        	width:100%;
        }
        #heading
        {
        	width: 100%;
        	height:12vh;
        	//font-family:'Caveat',cursive;
        	//font-family: 'Flamenco', cursive;
        	font-weight: 700;
			font-size:35px;
			animation: colorchange 1s infinite;
			text-align: center;
        }
        .des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			//word-spacing: 5px; 
    			font-size:20px;
			}
			.fbox
        {
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:280px;
        	height:200px;
        	border-radius: 15px;
        
        }
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    #map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 450px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
			 @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}
        @keyframes colorchange
        {
        					20%{color:white;}
	                       //20%{color:skyblue;}
	                       100%{color:#bf55ec;}
	                       50%{color:rgba(200,255,150,1);}
        }
         @media only screen and (max-width: 768px)
         {
         	#heading
         	{
         		font-size: 25px;
         		justify-content: center;
         	}
         	.row a
         	{
         		//height:40px;
         		font-size: 22px;
         		padding-right: 20px;
         	}
         	h1{
         		font-size: 20px;
         		padding-left:20px;
         	}

         }
         @media only screen and (max-width: 360px)
          {
          	#heading
          	{
          		font-size:20px;
          		height:40px;
          	}
          	.row a
         	{
         		//height:40px;
         		font-size: 18px;
         		padding-right: 15px;
         	}
         	h1{
         		font-size: 16px;
         		padding-left:15px;
         	}
          }
	</style>
</head>
<body>
			<div class="row">
				<div class="logo"><h1 class="animated infinite heartBeat">BHARATWASII</h1></div>
				<a href="delhi_tourism ">HOME</a>
			</div>
		<div id="centre">
				<div id="heading">
					SHANKAR INTERNATIONAL DOLL MUSEUM
				</div>
				<div class="description">
			<span class="des">
				The International Dolls Museum is a large collection of dolls in Delhi, India. It was set up by K. Shankar Pillai, a political cartoonist. Housed in the Children's Book Trust building on Bahadur Shah Zafar Marg, accessed through a separate entrance, a winding staircase, leading up to a foyer. The museum has a floor area of 5,184.5 sq ft (481.66 m2) and occupies a portion of the first floor.
				
<br>
K. Shankar Pillai (1902–1989), noted cartoonist, set up Children's Book Trust, a pioneering work in the field of children's literature in India, in 1957. Later, a gift of a doll from a Hungarian diplomat gave Shankar the idea of collecting dolls from countries he visited. He often held exhibitions for poor children, and at one exhibition in Delhi, among the hundreds of visitors were the then Prime Minister Jawaharlal Nehru accompanied by his daughter Indira Gandhi. Indira was inspired and together with Shankar set up an international museum for dolls, eventually materializing on 30 November 1965.[

			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/19exH5FV94NLJRtz5" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://maps.google.com/maps?q=shankar-international-doll_museum%20&t=k&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
     		<div id="container">
     			
     			<div class="fbox"><img src="https://imgur.com/ljg4Wnx.jpg" alt="shankar_international_doll_museum"></div>
     			<div class="fbox"><img src="https://imgur.com/ZVi0Dkf.jpg" alt="shankar_international_doll_museum"></div>
     			<div class="fbox"><img src="https://imgur.com/xUZDd1N.jpg" alt="shankar_international_doll_museum"></div>
     			<div class="fbox"><img src="https://imgur.com/mq3HlG1.jpg" alt="shankar_international_doll_museum"></div>
     			<div class="fbox"><img src="https://imgur.com/swq3zzx.jpg" alt="shankar_international_doll_museum"></div>
     			<div class="fbox"><img src="https://imgur.com/kDsDrF1.jpg" alt="shankar_international_doll_museum"></div>
     			<div class="fbox"><img src="https://imgur.com/ytAcOoH.jpg" alt="shankar_international_doll_museum"></div>
     			
     			
					
     		</div>
		</div>
</body>
</html>