<!DOCTYPE html>
<html>
<head>
	<title>Along</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <style>
	 	  *{
                        margin: 0px;padding:0px;box-sizing: border-box;
                }
                body{
                        background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/LMWoWNX.jpg');
                        background-repeat:no-repeat; background-size:cover; background-position:center; width:100%;height:100vh;
                        font-family: 'Flamenco',cursive; overflow-x:hidden; 
                }
                nav{
                        width:100%;height: 12vh;display:flex;justify-content:space-between;background: rgba(0,0,0,0.4);
                        align-items: center;color:white;
                                        }
                                .logo{
                                        text-align: center;
                                        width:25%; font-size:25px;color:#20B2AA;
                                }
                                nav a{
                                         text-decoration: none;
                                    color:#00b894;
                                     padding-right: 30px;
                                     font-weight: 700;
                                   font-size:22px;text-transform: uppercase;
                                }       
                                .name{
                                         width: 100%;
                                         height: 70px;
                                }
                                .name h1{
                                            text-align:center;
                                            color:yellow;
                                            padding-top: 20px;font-size:30px; text-transform: uppercase;
                                }
                                .description{
                                        width: 50%;
                                        float:left;
                                }
                        .des{
                               padding: 10px;
                                        text-align:justify;
                              overflow-x: hidden;
                               display: flex;
                              color:#FFEBCD;justify-content: center;
                              align-items: center;font-family: 'Flamenco', cursive;
                              text-transform: uppercase;
                              letter-spacing: 4px;
                              word-spacing: 6px; 
                              font-size:22px;
                                }
                                .map{
                                        padding: 10px;
                                        height: auto;
                                        width: 50%;
                                        float: right; 
                                }
                                .map-info{
                                        
                                        width: 100%;
                                        height: 100%;
                                }
                                 @media only screen and (max-width: 1224px){
                                .des{
                                        font-size: 15px;
                                }
                                .description{
                                        width:100%;
                                }
                                .map{
                                        width:100%;
                                }
                        }

                        @media only screen and (max-width: 500px){
                                .des{
                                        font-size: 13px;
                                }
                                .description{
                                        width: 100%;
                                }
                                .map{
                                        width:100%;
                                }
                        }
	 </style>
</head>
<body>
       <header>
       	<nav>
       		<div class="logo"><h1>Bharatwasii</h1></div>
       		<a href="arunachal.html">home</a>
       	</nav>
       	   <div class="name"><h1>Along</h1></div>
      	     <div class="description">
      		<p class="des">Formerly known as Along, the town of Aalo functions as the headquarters of the West Siang district in Arunachal Pradesh. Lying close to several tiny villages, this small town is situated at the congregation of the two rivers of Sipu and Yomgo.Surrounded by hills and beautiful orange orchards, this is another exotic nature getaway in Arunachal Pradesh.
      		</p>
      </br>
      </div>
      <div class="map">
      		<a href="https://goo.gl/maps/D4r6kC8cb6irDk5K6"target="_blank">
      	     <div class="map-info">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56278.909407495594!2d94.76950324805887!3d28.163779516911564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37406b83ee60a12f%3A0xdb536ba6ec8c88c4!2sAalo%20791001!5e0!3m2!1sen!2sin!4v1597557687541!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
      		</a>
      </div>
       </header>
</body>
</html>