<!DOCTYPE html>
<html>
<head>
	<title>Tours and Travels</title>
	  	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

      
	  <style>
		      *{
      margin: 0px;padding: 0px;box-sizing: border-box;
    }
      body{
           background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://imgur.com/yQ0MPla.jpg'); 
          background-size:cover;background-position: center;
          background-repeat:no-repeat;
          height: 100vh; width: 100%;
              }
      .logo{
        align:center; 
        font-family: 'Caveat', cursive;
        margin-left: 10px;font-size:23px;
        color:cyan;
      }
      main{
         margin-top: 10px;
         text-align:center;
         color: yellow; font-family: 'Flamenco', cursive;

      }
      main h1{
          text-transform: uppercase;font-size:30px;
      }
      nav{
        width: 100%;
        height: 8vh;8i   
        background-color: rgba(0,0,0,0.5);
      }
            .back{
              float: right;
              margin-right: 10px;
            }
            .back a{
                  text-decoration: none;
                  font-family:cursive;
                  color:cyan;font-size:21px;font-weight: 700;
                  text-transform: uppercase;
            }
      
      div {
        margin: 5px;
        margin-left: 8px;
        justify-content: space-around;
      }
      .row{
        float: left;

      }
      .column{
        float:left;
        margin-left:28px;
      
      
      }
      .img{
        width:300px;
        height:190px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;border-radius:50px;
        
      }

      .ups{
        
        float:left; 
      }
      .down{
                       float: left;
                      margin-left: 28px;
                     }
      .rise{
              float:left; 
      }
      .fall{
              float: left;
                      margin-left: 28px;
                }
                .far{
                            float:left; 
                }
                .away{
                   float: left;
                      margin-left: 28px;
                }
                .day{
                   float: left;
                }
                .night{
                  float: left;
                      margin-left: 28px;
                }
                p{
                  text-align: center;text-transform: uppercase;letter-spacing:1px;font-weight: 800;
                }
      .var {
        animation: varbharatwasii 1s infinite;
      }
            @keyframes varbharatwasii {
                                          0%{color:#CC0;}
                                        20%{color:#F33;}
                                        50%{color:#003;}
                                       100%{color:#CC3;}
                          
            }
            .colorchange{
          animation: colorchangearunachalpradesh 1s infinite;
        }
        @keyframes colorchangearunachalpradesh{
                              0%{color:red;}
                              20%{color:skyblue;}
                              50%{color:#bf55ec;}
                              100%{color:white;}
        }
        
         @media only screen and (max-width: 1224px){
          img{
            width: 100%;
            margin-left: 10px;
          }
      }
         @media only screen and (max-width: 500px){
          img{
            width: 100%;
            margin-left: 10px;
          }
         }
	</style>
</head>
<body>
        <header>
      	   <div class="logo"><h1><span class="var">Bharatwasii</span></h1></div>
         </header>
          <nav>
           <div class="back">
      	   <a href="#">home</a>
            </div>
      	     </nav>
      	  <main><h1>Tourism in <span class="colorchange">Arunachal Pradesh</span></h1></main>
           <div class="row">
           	<div class="column">
           		<a href="bhalukpong "target="_blank"><img class="img"src="https://imgur.com/sGXAkor.jpg"></a>
           		<p style="color:white;font-family:'flamenco',cursive ;font-size:100%;">Bhalukpong</p>
                	</div>
           	<div class="column">
           		<a href="bomdila "target="_blank"><img class="img"src="https://imgur.com/KGakT2p.jpg"></a>
           		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Bomdila</p>
                  </div>
           <div class="column">
           		<a href="japanesepeace "target="_blank"><img class="img"src="https://imgur.com/0FP6HbK.jpg"></a>
           		<p style="color:white ;font-family:'flamenco',cursive  ;font-size:100%;">Japanese Peace Pagoda</p>
                	</div>
           	  <div class="column">
           		<a href="namdaphapark "target="_blank"><img class="img"src="https://imgur.com/43nmuAl.jpg"></a>
           		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Namdapha National Park</p>
                	</div>
             </div>
             <div class="ups">
             <div class="down">
             		<a href="dirang "target="_blank"><img class="img"src="https://imgur.com/K8MyICw.jpg"></a>
             		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Dirang</p>
                	</div>
             	 <div class="down">
             		<a href="daporijo "target="_blank"><img class="img"src="https://imgur.com/k7vQ1dq.jpg"></a>
             		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Daporijo</p>
             	     </div>
             	 <div class="down">
             		<a href="batasialoop "target="_blank"><img class="img"src="https://imgur.com/k2aVfJK.jpg"></a>
             		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Batasia Loop</p>
                  	</div>
             	 <div class="down">
             		<a href="itanagar "target="_blank"><img class="img"src="https://imgur.com/thARGpE.jpg"></a>
             		<p style="color:white;font-family: 'flamenco',cursive ;font-size:100%;">Itanagar</p>
             	    </div>
             </div>
             <div class="rise">
             	<div class="fall">
             		<a href="pasighat "target="_blank"><img class="img"src="https://imgur.com/YBuDfbz.jpg"></a>
             		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Pasighat Town</p>
                  	</div>
             		<div class="fall">
             		<a href="roing "target="_blank"><img class="img"src="https://imgur.com/HsGAAgE.jpg"></a>
             		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Roing</p>
                 	</div>
             	<div class="fall">
             		<a href="nuranang "target="_blank"><img class="img"src="https://imgur.com/WRgHGri.jpg"></a>
             		<p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Nuranang Waterfall</p>
                 	</div>
             	<div class="fall">
             		<a href="tezu "target="_blank"><img class="img"src="https://imgur.com/CMBaxXP.jpg"></a>
             		<p style="color:white;font-family: ;font-size:100%;">Tezu</p>
             	    </div>
                  </div>
             <div class="far">
             <div class="away">
                <a href="zirovalley "target="_blank"><img class="img"src="https://imgur.com/qnh6o8Z.jpg"></a>
                <p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Ziro Valley</p>
                  </div>
            <div class="away">
                <a href="tawang "target="_blank"><img class="img"src="https://imgur.com/LEfAs9X.jpg"></a>
                <p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Tawang Gate</p>
                  </div>
             <div class="away">
                <a href="tigerreserve "target="_blank"><img class="img"src="https://imgur.com/gkKgZaC.jpg"></a>
                <p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Pakke Tiger Reserve</p>
                    </div>
             <div class="away">
                <a href="along "target="_blank"><img class="img"src="https://imgur.com/rIlceb4.jpg"></a>
                <p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Along</p>
                  </div>
                </div>
              <div class="day">
                <div class="night">
                    <a href="anni "target="_blank"><img class="img"src="https://imgur.com/dZ9oVdy.jpg"></a>
                    <p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Anini</p>
                </div>
                 <div class="night">
                    <a href="mechuka "target="_blank"><img class="img"src="https://imgur.com/CIrpNrb.jpg"></a>
                    <p style="color:white;font-family:'flamenco',cursive ;font-size:100%;">Mechuka Valley</p>
                </div>
                 <div class="night">
                    <a href="sangetserlake "target="_blank"><img class="img"src="https://imgur.com/FVMH61Q.jpg"></a>
                    <p style="color:white;font-family:'flamenco',cursive  ;font-size:100%;">Sangetser Lake</p>
                </div>
                 <div class="night">
                    <a href="goldenpagoda "target="_blank"><img class="img"src="https://imgur.com/s9G5orK.jpg"></a>
                    <p style="color:white;font-family:'flamenco',cursive;font-size:100%;">Golden Pagoda</p>
                </div>
              </div>
</body>
</html>