<!DOCTYPE html>
<html>
<head>
	<title>Daporijio</title>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
   
      <style>
      	    *{
                  margin: 0px;padding:0px;box-sizing: border-box;
            }
            body{
                  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/2hPNn5i.jpg');
                  background-repeat:no-repeat; background-size:cover; background-position:center; width:100%;height:100vh;
                  font-family: 'Flamenco',cursive; overflow-x:hidden; 
            }
            nav{
                  width:100%;height: 12vh;display:flex;justify-content:space-between;background: rgba(0,0,0,0.4);
                  align-items: center;color:white;
                              }
                        .logo{
                              text-align: center;
                              width:25%; font-size:24px;color:#FFA500;font-weight:400; 
                        }
                        nav a{
                               text-decoration: none;
                            color:cyan;
                             padding-right: 30px;
                             font-weight: 700;
                           font-size:22px;text-transform: uppercase;
                        }     
                        .name{
                               width: 100%;
                               height: 70px;
                        }
                        .name h1{
                                  text-align:center;
                                  color:#FFD700;font-size: 40px;font-weight: 700;
                                  padding-top: 23px;text-transform: uppercase; 
                        }
                        .description{
                              width: 50%;
                              float:left;
                        }
                        .des{
                              padding: 10px;
                              text-align:justify;
                            overflow-x: hidden;
                            display: flex;
                            color:#F0FFFF;justify-content: center;
                           align-items: center;font-family: 'Flamenco', cursive;
                         text-transform: uppercase;
                         letter-spacing: 3px;
                         word-spacing: 5px; 
                         font-size:23px;
                        }
                        .map{
                              padding: 10px;
                              height: auto;
                              width: 50%;
                              float: right; 
                        }
                        .map-info{
                              
                              width: 100%;
                              height: 100%;
                        }
                         @media only screen and (max-width: 1224px){
                        .des{
                              font-size: 15px;
                        }
                        .description{
                              width:100%;
                        }
                        .map{
                              width:100%;
                        }
                  }

                  @media only screen and (max-width: 500px){
                        .des{
                              font-size: 13px;
                        }
                        .description{
                              width: 100%;
                        }
                        .map{
                              width:100%;
                        }
                  }
      </style>
      </head> 
<body>
     <header>
     	<nav>
     		<div class="logo"><h1>Bharatwasii</h1></div>
     		<a href="arunachal ">home</a>
     	</nav>
     	     <div class="name"><h1>Daporijio</h1></div>
      	     <div class="description">
      		<p class="des">Daporijo is a small town in the Upper Subansiri district of Arunachal Pradesh. River Subansiri (a tributary of Brahmaputra River) flows through Daporijo giving a panoramic view of nature. Daporijo is situated 600 meters above sea level surrounded by rainforests of bamboo trees, paddy fields & raw nature. Daporijo is a must-visit place for anyone travelling across Arunachal Pradesh.
      		</p>
      	</br>
      </div>
             <div class="map">
      		<a href="https://goo.gl/maps/F76KSAfL7aKyJBoU6"target="_blank">
      			<div class="map-info">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14093.02144589944!2d94.21295637092625!3d27.986082671386374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3741a591b5a08b99%3A0xbdf85f84f488a7d4!2sDaporijo%20791122!5e0!3m2!1sen!2sin!4v1597556212805!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        	</div>
      		</a>
      </div>
     </header>
</body>
</html>