<!DOCTYPE html>
<html>
<head>
	<title>Pasighat</title>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
   
      <style>
      	     *{
                  margin: 0px;padding:0px;box-sizing: border-box;
            }
            body{
                  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/kJgQan8.jpg');
                  background-repeat:no-repeat; background-size:cover; background-position:center; width:100%;height:100vh;
                  font-family: 'Flamenco',cursive; overflow-x:hidden; 
            }
            nav{
                  width:100%;height: 12vh;display:flex;justify-content:space-between;background: rgba(0,0,0,0.4);
                  align-items: center;color:white;
                              }
                        .logo{
                              text-align: center;
                              width:25%; font-size:24px;color:#00FA9A;
                        }
                        nav a{
                               text-decoration: none;
                            color:#00b894;
                             padding-right: 30px;
                             font-weight: 700;
                           font-size:22px;text-transform: uppercase;
                        }     
                        .name{
                               width: 100%;
                               height: 70px;
                        }
                        .name h1{
                                  text-align:center;
                                  color:#ADFF2F;font-size: 40px;font-weight: 700;
                                  padding-top: 23px;text-transform: uppercase; 
                        }
                        .description{
                              width: 50%;
                              float:left;
                        }
                        .des{
                              padding: 10px;
                              text-align:justify;
                            overflow-x: hidden;
                            display: flex;
                            color:#F0FFFF;justify-content: center;
                           align-items: center;font-family: 'Flamenco', cursive;
                         text-transform: uppercase;
                         letter-spacing: 3px;
                         word-spacing: 5px; 
                         font-size:20px;
                        }
                        .map{
                              padding: 10px;
                              height: auto;
                              width: 50%;
                              float: right; 
                        }
                        .map-info{
                              
                              width: 100%;
                              height: 100%;
                        }
                         @media only screen and (max-width: 1224px){
                        .des{
                              font-size: 15px;
                        }
                        .description{
                              width:100%;
                        }
                        .map{
                              width:100%;
                        }
                  }

                  @media only screen and (max-width: 500px){
                        .des{
                              font-size: 13px;
                        }
                        .description{
                              width: 100%;
                        }
                        .map{
                              width:100%;
                        }
                  }
      </style>
      </head> 
<body>
     <header>
     	<nav>
     		<div class="logo"><h1>Bharatwasii</h1></div>
     		<a href="arunachal ">home</a>
     	</nav>
     	     <div class="name"><h1>Pasighat</h1></div>
      	     <div class="description">
      		<p class="des"> Pasighat is the headquarters of East Siang district in the Indian state of Arunachal Pradesh. Situated at 155 meters, Pasighat is the land of the mighty Siang and indigenous hanging bridges. Round cane rings, swinging strings, shattered wooden pavements dangling above the mighty Siang makes it a picture perfect moment of thrill and adventure.
          The pleasant waterfall graces the mountain cliffs and chills the vicinity. The songs of the birds, the fragrances of the forest after the rains are simply overpowering. 
      		</p>
      	</br>
      </div>
             <div class="map">
      		<a href="https://goo.gl/maps/FFRXe5jA3JaxejG27"target="_blank">
      			<div class="map-info">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14083.101451169532!2d95.31720812095581!3d28.06188280755436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f96c3a0c72f09%3A0x2a6b8445d41d326c!2sPasighat%20791102!5e0!3m2!1sen!2sin!4v1597556584335!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>           
      		</div>
      		</a>
      </div>
     </header>
</body>
</html>