<!DOCTYPE html>
<html>
<head>
	<title>Pakke Tiger Reserve</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <style>
	 	   *{
                  margin:0px;padding:0px;box-sizing:border-box; 
              }
              body{
                    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/8HkFhzA.jpg');
                    background-size:cover;
                    background-position:center;
                    background-repeat:no-repeat;
                    width:100%;height:100vh;overflow-x: hidden;
              }
              nav{
                    width:100%;height:11vh;background:rgba(0,0,0,0.4); display: flex;justify-content: space-between;
                    align-items:center; text-transform:uppercase;font-family:'Flamenco',cursive;  
              }
              .logo{
                    color:cyan;margin-left: 10px; 
              }
              nav a{
                     text-decoration: none;color:white;padding-right:30px;font-size:20px;font-weight: 500;
              }              
              .name{
                      width: 100%;height:45px;
              }    
             .name h1{
                       color:yellow;text-transform:uppercase;text-align:center;padding-top:10px;font-family: 'Flamenco' cursive;
                       font-size: 40px;  
             } 
             .description{
                    float: left;width:50%;
             }
             .des{
                   text-transform:uppercase;font-family:'Caveat',cursive;color:#FFE4B5;padding:30px; text-align:justify;
                   overflow-x: hidden;display:flex;justify-content:center;align-items:center;
                   letter-spacing:4px;word-spacing: 5px;font-size: 22px;padding-top: 50px;      
             }
         .map{
              height:auto;width: 50%;
              /*border:1px solid;*/
              float: right;padding:10px;

         }
         .map-info{
                 width: 100%;height:100%;
         }
           @media only screen and (max-width: 1024px){
                        .des{
                              font-size: 15px;
                        }
                        .description{
                              width:100%;
                        }
                        .map{
                              width:100%;
                        }
                  }

                  @media only screen and (max-width: 400px){
                        .des{
                              font-size: 13px;
                        }
                        .description{
                              width: 100%;
                        }
                        .map{
                              width:100%;
                        }
                  }
	 </style>
</head>
<body>
       <header>
       	<nav>
       		<div class="logo"><h1>Bharatwasii</h1></div>
       		<a href="arunachal ">home</a>
       	</nav>
       	   <div class="name"><h1>Pakke Tiger Reserve</h1></div>
      	     <div class="description">
      		<p class="des">Pakke Tiger Reserve, also known as Pakhui Tiger Reserve, is a Project Tiger reserve in the Pakke Kessang district of Arunachal Pradesh in northeastern India.It is considered one of the best protected national parks in the country.Pakke is also known for its amazing sightings of four resident hornbill species.
      		</p>
      </br>
      </div>
      <div class="map">
      		<a href="https://goo.gl/maps/b61nEWqfbjpdm3Up8"target="_blank">
      		<div class="map-info">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.839371398217!2d92.8156404143702!3d27.09836025859823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374361ed474cb9a9%3A0x2185f9b84d19a84e!2sPakke%20Tiger%20Reserve!5e0!3m2!1sen!2sin!4v1597557132265!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
      		</a>
      </div>
       </header>
</body>
</html>