<!DOCTYPE html>
<html>
<head>
	<title>Ziro Valley</title>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
   
      <style>
      	     *{
                  margin: 0px;padding:0px;box-sizing: border-box;
            }
            body{
                  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/hQbwl4C.jpg');
                  background-repeat:no-repeat; background-size:cover; background-position:center; width:100%;height:100vh;
                  font-family: 'Flamenco',cursive; overflow-x:hidden; 
            }
            nav{
                  width:100%;height: 12vh;display:flex;justify-content:space-between;background: rgba(0,0,0,0.4);
                  align-items: center;color:white;
                              }
                        .logo{
                              text-align: center;
                              width:25%; font-size:24px;color:#ADFF2F;
                        }
                        nav a{
                               text-decoration: none;
                            color:#00b894;
                             padding-right: 30px;
                             font-weight: 700;
                           font-size:22px;text-transform: uppercase;
                        }     
                        .name{
                               width: 100%;
                               height: 70px;
                        }
                        .name h1{
                                  text-align:center;
                                  color:#FF69B4;font-size: 40px;font-weight: 700;
                                  padding-top: 23px;text-transform: uppercase; 
                        }
                        .description{
                              width: 50%;
                              float:left;
                        }
                        .des{
                              padding: 10px;
                              text-align:justify;
                            overflow-x: hidden;
                            display: flex;
                            color:#F0FFFF;justify-content: center;
                           align-items: center;font-family: 'Flamenco', cursive;
                         text-transform: uppercase;
                         letter-spacing: 3px;
                         word-spacing: 5px; 
                         font-size:23px;
                        }
                        .map{
                              padding: 10px;
                              height: auto;
                              width: 50%;
                              float: right; 
                        }
                        .map-info{
                              
                              width: 100%;
                              height: 100%;
                        }
                         @media only screen and (max-width: 1224px){
                        .des{
                              font-size: 15px;
                        }
                        .description{
                              width:100%;
                        }
                        .map{
                              width:100%;
                        }
                  }

                  @media only screen and (max-width: 500px){
                        .des{
                              font-size: 13px;
                        }
                        .description{
                              width: 100%;
                        }
                        .map{
                              width:100%;
                        }
                  }
      </style>
      </head> 
<body>
     <header>
     	<nav>
     		<div class="logo"><h1>Bharatwasii</h1></div>
     		<a href="arunachal ">home</a>
     	</nav>
     	     <div class="name"><h1>Ziro Valley</h1></div>
      	     <div class="description">
      		<p class="des">It is one of the oldest towns in Arunachal Pradesh.
          This beautiful hill station is located 1500 metres above sea level. The place has an imposing landscape of beautiful lush green forest, rivulets and elevated patches. It is famous for paddy-cum-pisciculture cultivation. The area is renowned for the terrace paddy fields where the unique system of poly-culture and water management is practiced by the local people.
      		</p>
      	</br>
      </div>
             <div class="map">
      		<a href="https://goo.gl/maps/q2Swjc3PT8ZzJrpr9"target="_blank">
      			<div class="map-info">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28300.102790669906!2d93.80064429342406!3d27.546589853615092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3741612864517cd3%3A0xb9e78639773cc4ea!2sZiro%20791120!5e0!3m2!1sen!2sin!4v1597556972228!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
      		</a>
      </div>
     </header>
</body>
</html>