		<html>
<head>
	<meta http-equiv = "X-UA-Compatible" content="IE=edge">
	      <meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	<style>
		*{

			margin:0px;
			padding:0px;
			box-sizing:border-box;
		}
		body
		{
			height:100vh;
			width:100%;
			background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://i.imgur.com/pxUiR6e.jpg");
			background-repeat:no-repeat;
			background-size: cover;
			background-position:center;
			overflow:auto;
		}
		
		nav
		{
			height:15vh;
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:rgba(0,0,0,0.6);
			
		}

		#heading
		{
			height:100px;
			width:100%;
			text-shadow: 3px 3px green;
			text-align:center;
			font-size:30px;
			color:white;
			font-family:Lobster;
		}
		#logo
		{
			
			width:20%;
			text-align:center;
			color:white;


		}
		
		#text
		{
			
			width:100%;
			
			float:left;
			padding:30px;
			padding-top:70px;
			color:white;
			
			font-family:"PT Sans Narrow";
			text-align:center;
			font-size:20px;


		}
		
		.responsive
		{
			padding:0 6px;
             
			float:left;
			width:60%;
			padding-top:20px;

		}
		.res
		{
			padding:0 6px;
             
			float:left;
			width:40%;
			padding-top:20px;

		}
        .image
		{
			padding:20px;
		}
        @media only screen and (max-width:1000px)
		{
			.responsive
			{
				width:60%;
				margin:6px 0;
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:40%;
				margin:6px 0;
			}

		}
		@media only screen and (max-width:400px)
		{
			.responsive
			{
				width:100%;
			
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:100%;
			}

		}
	</style>
	</head>
	<body>
		
			<nav>

                <div id="logo">BHARATWASII</div>
				<a href="file:///C:/Users/anshr/Desktop/himanshi/maha.html" style="font-family:Lemonada;color:white; text-decoration:none;padding-right:30px; ">Home</a>
			</nav>
			<div id="heading"><h1>Aga Khan Palace</h1></div>
			
			<div class="responsive">
			<div id="text"><b>The Aga Khan Palace was built by Sultan Muhammed Shah Aga Khan III in Pune, India. The palace was an act of charity by the spiritual leader of the Nizari Ismaili Muslims, who wanted to help the poor in the neighbouring areas of Pune, who were drastically hit by famine.[1]
The Aga Khan Palace is a majestic building.[2] The palace is closely linked to the Indian freedom movement as it served as a prison for Mahatma Gandhi, his wife Kasturba Gandhi, his secretary Mahadev Desai and Sarojini Naidu.

</b>
</div></div>
<div class="res">
<div class="image"><a href="https://www.google.com/maps/place/Aga+Khan+Palace/@18.5524942,73.8992676,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2c11768711b1b:0xac1ba97447d569f4!8m2!3d18.5524942!4d73.9014563?hl=en" target="_blank" ><div id="maptile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.477611700178!2d73.89926761484327!3d18.552494187390437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c11768711b1b%3A0xac1ba97447d569f4!2sAga%20Khan%20Palace!5e0!3m2!1sen!2sin!4v1597667409458!5m2!1sen!2sin"width="100%" height="400" frameborder="0" style="border:0;border-radius:20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> </a></div>
		</div>

	</body>
</html>
