<html>
<head>
	<meta http-equiv = "X-UA-Compatible" content="IE=edge">
	      <meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	<style>
		*{

			margin:0px;
			padding:0px;
			box-sizing:border-box;
		}
		body
		{
			height:100vh;
			width:100%;
			background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://i.imgur.com/BCoavUU.jpg");
			background-repeat:no-repeat;
			background-size: cover;
			background-position:center;
			overflow:auto;
		}
		
		nav
		{
			height:15vh;
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:rgba(0,0,0,0.6);
			
		}

		#heading
		{
			height:100px;
			width:100%;
			text-shadow: 3px 3px green;
			text-align:center;
			font-size:30px;
			color:white;
			font-family:Lobster;
		}
		#logo
		{
			
			width:20%;
			text-align:center;
			color:white;


		}
		
		#text
		{
			
			width:100%;
			
			float:left;
			padding:30px;
			padding-top:70px;
			color:white;
			
			font-family:"PT Sans Narrow";
			text-align:center;
			font-size:20px;


		}
		
		.responsive
		{
			padding:0 6px;
             
			float:left;
			width:60%;
			padding-top:20px;

		}
		.res
		{
			padding:0 6px;
             
			float:left;
			width:40%;
			padding-top:20px;

		}
        .image
		{
			padding:20px;
		}
        @media only screen and (max-width:1000px)
		{
			.responsive
			{
				width:60%;
				margin:6px 0;
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:40%;
				margin:6px 0;
			}

		}
		@media only screen and (max-width:400px)
		{
			.responsive
			{
				width:100%;
			
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:100%;
			}

		}
	</style>
	</head>
	<body>
		
			<nav>

                <div id="logo">BHARATWASII</div>
				<a href="file:///C:/Users/anshr/Desktop/himanshi/maha " style="font-family:Lemonada;color:white; text-decoration:none;padding-right:30px; ">Home</a>
			</nav>
			<div id="heading"><h1>Lions Point</h1></div>
			
			<div class="responsive">
			<div id="text"><b>At a distance of 12 km from Lonavala Railway Station, Lion's Point is a vantage point located midway between Bhushi Dam and Aamby valley in Lonavala. It is one of the popular viewpoints in Lonavala and also among the must visit places in Lonavala.

The view from the Lions Point is majestic and panoramic. One would see dozens of small waterfalls, lush green hills and lakes around during monsoon season. The sunrise and sunset views from here are mesmerizing. The wind is extremely strong at this place and it was quite thrilling to see many adventurous people get close to the edge to get 'that' living-on-the-edge photograph. The drive to the point is also equally scenic
</b>
</div></div>
<div class="res">
<div class="image"><a href="https://www.google.com/maps/place/Lion+Point/@18.7462454,73.3947229,15z/data=!3m1!4b1!4m5!3m4!1s0x3be8011253a9bfa1:0xcdbd8e41ba9b54f!8m2!3d18.746246!4d73.4034777?hl=en" target="_blank" ><div id="maptile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15112.652844035902!2d73.39472292819501!3d18.746245446445837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be8011253a9bfa1%3A0xcdbd8e41ba9b54f!2sLion%20Point!5e0!3m2!1sen!2sin!4v1597669007069!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;border-radius:20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> </a></div>
		</div>

	</body>
</html>
















