<html>
<head>
	<meta http-equiv = "X-UA-Compatible" content="IE=edge">
	      <meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	<style>
		*{

			margin:0px;
			padding:0px;
			box-sizing:border-box;
		}
		body
		{
			height:100vh;
			width:100%;
			background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://i.imgur.com/UPnSVX6.jpg");
			background-repeat:no-repeat;
			background-size: cover;
			background-position:center;
			overflow:auto;
		}
		
		nav
		{
			height:15vh;
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:rgba(0,0,0,0.6);
			
		}

		#heading
		{
			height:20vh;
			width:100%;
			text-shadow: 3px 3px green;
			text-align:center;
			font-size:30px;
			color:white;
			font-family:Lobster;
		}
		#logo
		{
			
			width:20%;
			text-align:center;
			color:white;


		}
		
		#text
		{
			
			width:100%;
			padding:30px;
			padding-top:70px;
			
			
			color:white;
			
			font-family:"PT Sans Narrow";
			text-align:center;
			font-size:20px;


		}
		
		.responsive
		{
			padding:0 6px;
             
			float:left;
			width:60%;
			padding-top:20px;

		}
        .res
        {
        	padding:0 6px;
             
			float:left;
			width:40%;
			padding-top:20px;
        }
		.image
		{
			padding:20px;
		}
       @media only screen and (max-width:1000px)
		{
			.responsive
			{
				width:60%;
				margin:6px 0;
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:40%;
				margin:6px 0;
			}

		}
		@media only screen and (max-width:400px)
		{
			.responsive
			{
				width:100%;
			
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:100%;
			}

		}
	</style>
	</head>
	<body>
		
			<nav>

                <div id="logo">BHARATWASII</div>
				<a href="file:///C:/Users/anshr/Desktop/himanshi/maha.html" style="font-family:Lemonada;color:white; text-decoration:none;padding-right:30px; ">Home</a>
			</nav>
			<div id="heading"><h1>Panchavati</h1></div>
			
			<div class="responsive">
			<div id="text"><b>Holy land for the believers of Ramayana, Panchvati attracts a lot of pilgrims. A serene town located near Nasik, the site offers small sightings having a lot of significance in the epic of Ramayana.

Given the legend of Panchvati, the place holds a lot of religious significance even in the present day. Sites such as the Kalaram Temple and the Sita Gufaa are on every pilgrims list. The Kumbh Mela takes place on the river banks of Godavari, and has a surplus of pilgrims from every corner of world during the occasion.
</b>
</div></div>
<div class="res">
<div class="image"><a href="https://www.google.com/maps/place/Panchavati,+Nashik,+Maharashtra/@20.0074939,73.7841631,15z/data=!3m1!4b1!4m5!3m4!1s0x3bddea54b213a9d7:0xc2f9ac85ac767a9d!8m2!3d20.0095493!4d73.7918777?hl=en" target="_blank" ><div id="maptile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14996.097283171055!2d73.7841631255449!3d20.007493934964504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddea54b213a9d7%3A0xc2f9ac85ac767a9d!2sPanchavati%2C%20Nashik%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1597681316670!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;border-radius:20px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> </a></div>
		</div>

	</body>
</html>