<html>
<head>
	<meta http-equiv = "X-UA-Compatible" content="IE=edge">
	      <meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	<style>
		*{

			margin:0px;
			padding:0px;
			box-sizing:border-box;
		}
		body
		{
			height:100vh;
			width:100%;
			background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://i.imgur.com/oBvtNNz.jpg");
			background-repeat:no-repeat;
			background-size: cover;
			background-position:center;
			overflow:auto;
		}
		
		nav
		{
			height:15vh;
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:rgba(0,0,0,0.6);
			
		}

		#heading
		{
			height:100px;
			width:100%;
			text-shadow: 3px 3px green;
			text-align:center;
			font-size:30px;
			color:white;
			font-family:Lobster;
		}
		#logo
		{
			
			width:20%;
			text-align:center;
			color:white;


		}
		
		#text
		{
			
			width:100%;
			
			float:left;
			padding:30px;
			padding-top:70px;
			color:white;
			
			font-family:"PT Sans Narrow";
			text-align:center;
			font-size:20px;


		}
		
		.responsive
		{
			padding:0 6px;
             
			float:left;
			width:60%;
			padding-top:20px;

		}
		.res
		{
			padding:0 6px;
             
			float:left;
			width:40%;
			padding-top:20px;

		}
        .image
		{
			padding:20px;
		}
        @media only screen and (max-width:1000px)
		{
			.responsive
			{
				width:60%;
				margin:6px 0;
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:40%;
				margin:6px 0;
			}

		}
		@media only screen and (max-width:400px)
		{
			.responsive
			{
				width:100%;
			
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:100%;
			}

		}
	</style>
	</head>
	<body>
		
			<nav>

                <div id="logo">BHARATWASII</div>
				<a href="file:///C:/Users/anshr/Desktop/himanshi/maha " style="font-family:Lemonada;color:white; text-decoration:none;padding-right:30px; ">Home</a>
			</nav>
			<div id="heading"><h1>Pench National Park</h1></div>
			
			<div class="responsive">
			<div id="text"><b>Pench National Park is located in the heart of India- Madhya Pradesh and covers a total area of 758 sq.km. It is located on the southern part of Madhya Pradesh, to be specific, in the districts of Seoni and Chhindwara, which also shares a boundary with Maharashtra. An additional area of 257 sq.km of this park lies in Maharashtra but is also accessible from Madhya Pradesh. A treasure of rich flora and fauna, this national park has its area segregated in two divisions- a) Priyadarshini National Park and Mowgli Pench Sanctuary which covers an area of 299 sq.km and b) 464 sq.km which is considered as the buffer area. The national park is named after the river- Pench, which while flowing from north to south, divides the national park in almost equal halves namely eastern and western halves. The park is just not home to wildlife but also to humans. There are 10 villages in and around the park out of which one is inside the park named Fulzari and other nine on the periphery.
</b>
</div></div>
<div class="res">
<div class="image"><a href="https://www.google.com/maps/place/Pench+National+Park/@21.6636346,79.0845575,11z/data=!3m1!4b1!4m5!3m4!1s0x3bd531813bfc958b:0xea7eb748bbe32925!8m2!3d21.6495224!4d79.2451149?hl=en" target="_blank" ><div id="maptile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d237312.36652748182!2d79.0845575414183!3d21.663634596007498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd531813bfc958b%3A0xea7eb748bbe32925!2sPench%20National%20Park!5e0!3m2!1sen!2sin!4v1597668300146!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;border-radius:20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> </a></div>
		</div>

	</body>
</html>


	