		<html>
<head>
	<meta http-equiv = "X-UA-Compatible" content="IE=edge">
	      <meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	<style>
		*{

			margin:0px;
			padding:0px;
			box-sizing:border-box;
		}
		body
		{
			height:100vh;
			width:100%;
			background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://i.imgur.com/eCpa47r.jpg");
			background-repeat:no-repeat;
			background-size: cover;
			background-position:center;
			overflow:auto;
		}
		
		nav
		{
			height:15vh;
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:rgba(0,0,0,0.6);
			
		}

		#heading
		{
			height:100px;
			width:100%;
			text-shadow: 3px 3px green;
			text-align:center;
			font-size:30px;
			color:white;
			font-family:Lobster;
		}
		#logo
		{
			
			width:20%;
			text-align:center;
			color:white;


		}
		
		#text
		{
			
			width:100%;
			
			float:left;
			padding:30px;
			padding-top:70px;
			color:white;
			
			font-family:"PT Sans Narrow";
			text-align:center;
			font-size:20px;


		}
		
		.responsive
		{
			padding:0 6px;
             
			float:left;
			width:60%;
			padding-top:20px;

		}
		.res
		{
			padding:0 6px;
             
			float:left;
			width:40%;
			padding-top:20px;

		}
        .image
		{
			padding:20px;
		}
        @media only screen and (max-width:1000px)
		{
			.responsive
			{
				width:60%;
				margin:6px 0;
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:40%;
				margin:6px 0;
			}

		}
		@media only screen and (max-width:400px)
		{
			.responsive
			{
				width:100%;
			
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:100%;
			}

		}
	</style>
	</head>
	<body>
		
			<nav>

                <div id="logo">BHARATWASII</div>
				<a href="file:///C:/Users/anshr/Desktop/himanshi/maha.html" style="font-family:Lemonada;color:white; text-decoration:none;padding-right:30px; ">Home</a>
			</nav>
			<div id="heading"><h1>Pratapgad Fort</h1></div>
			
			<div class="responsive">
			<div id="text"><b>The Maratha king Shivaji commissioned Moropant Trimbak Pingle, his prime minister, to undertake the construction of this fort in order to defend the banks of the Nira and the Koyna rivers, and to defend the Par pass. It was completed in 1656.[3] The Battle of Pratapgad between Shivaji and Afzal Khan was fought below the ramparts of this fort on 10 November 1659. This was the first major test of the fledgling kingdom's army, and set the stage of the establishment of the Maratha empire. Pratapgad continued to be involved in regional politics. Sakharam Bapu, a well-known minister of Pune, was confined by his rival Nana Phadnis in Pratapgad in 1778. He was later moved from fort to fort until he died at Raigad. In 1796, Nana Phadnis, while escaping from the intrigues of Daulatrao Shinde and his minister Baloba, assembled a strong garrison in Pratapgad before heading to Mahad 

</b>
</div></div>
<div class="res">
<div class="image"><a href="https://www.google.com/maps/place/Pratapgad+Fort/@17.933757,73.5783748,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2bb8fc57af9f1:0xcd7f0daa3666eb!8m2!3d17.933757!4d73.5805635" target="_blank" ><div id="maptile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3795.965629063904!2d73.57837481483391!3d17.93375698775342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bb8fc57af9f1%3A0xcd7f0daa3666eb!2sPratapgad%20Fort!5e0!3m2!1sen!2sin!4v1596998920107!5m2!1sen!2sin"width="100%" height="400" frameborder="0" style="border:0;border-radius:20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> </a></div>
		</div>

	</body>
</html>
