		<html>
<head>
	<meta http-equiv = "X-UA-Compatible" content="IE=edge">
	      <meta name= "viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	<style>
		*{

			margin:0px;
			padding:0px;
			box-sizing:border-box;
		}
		body
		{
			height:100vh;
			width:100%;
			background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://i.imgur.com/ph1QA2m.jpg");
			background-repeat:no-repeat;
			background-size: cover;
			background-position:center;
			overflow:auto;
		}
		
		nav
		{
			height:15vh;
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:rgba(0,0,0,0.6);
			
		}

		#heading
		{
			height:100px;
			width:100%;
			text-shadow: 3px 3px green;
			text-align:center;
			font-size:30px;
			color:white;
			font-family:Lobster;
		}
		#logo
		{
			
			width:20%;
			text-align:center;
			color:white;


		}
		
		#text
		{
			
			width:100%;
			
			float:left;
			padding:30px;
			padding-top:70px;
			color:white;
			
			font-family:"PT Sans Narrow";
			text-align:center;
			font-size:20px;


		}
		
		.responsive
		{
			padding:0 6px;
             
			float:left;
			width:60%;
			padding-top:20px;

		}
		.image
		{
			padding:20px;
		}
		.res
		{
			padding:0 6px;
             
			float:left;
			width:40%;
			padding-top:20px;

		}
        
        @media only screen and (max-width:1000px)
		{
			.responsive
			{
				width:60%;
				margin:6px 0;
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:40%;
				margin:6px 0;
			}

		}
		@media only screen and (max-width:400px)
		{
			.responsive
			{
				width:100%;
			
			}
			nav.logo
			{
				padding-left:5px;
			}
			.res
			{
				width:100%;
			}

		}
	</style>
	</head>
	<body>
		
			<nav>

                <div id="logo">BHARATWASII</div>
				<a href="file:///C:/Users/anshr/Desktop/himanshi/maha " style="font-family:Lemonada;color:white; text-decoration:none;padding-right:30px; ">Home</a>
			</nav>
			<div id="heading"><h1>Shirdi</h1></div>
			
			<div class="responsive">
			<div id="text"><b>The holy is temple is open to all religions.The main shrine is known as samadhi mandhir.There is the beautiful marble statue of Saibaba in sitting posture and his mahasamadhi.Baba took mahasamadhi in 1918.The Italian marble statue is real life like.You will feel baba is looking at you and responding.Remember his message “look to me and I shall look to you”.Experience the divine blessings and peace.
There is free Darshan.You can book aarti online to save time and have good Darshan.For senior citizens and parents of less than one year child , special entry Darshan is provided.Avoid Thursday’s and weekends when there will be heavy rush of piligrims.Mobiles are not allowed inside the shrine.
</b>
</div></div>
<div class="res">
<div class="image"><a href="https://www.google.com/maps/place/Shirdi,+Maharashtra/@19.7605623,74.4590232,14z/data=!3m1!4b1!4m5!3m4!1s0x3bdc5ba7461768af:0xd802d2c2943c99c!8m2!3d19.7645364!4d74.4762124?hl=en" target="_blank" ><div id="maptile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30038.98162564612!2d74.45902321226043!3d19.760562298712202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdc5ba7461768af%3A0xd802d2c2943c99c!2sShirdi%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1597680151371!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;border-radius:20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> </a></div>
		</div>

	</body>
</html>
