<!DOCTYPE html>
<html>
<head>
	<title>Chumukedima Village</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://i.imgur.com/yhXMK0g.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Chumukedima Village</h1>
		<h5 class="sub_heading">Bird's Eye View Hill</h5>
		<div class="menu">
		<a href="nagaland "><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">Chumoukedima is a census town in the Dimapur district of Nagaland state in India. It is at a distance of 14 km from Dimapur on National Highway 39. It is located in the foothills of Naga Hills. The Tourist Village on the top of a hill projects a bird's eye view the whole of Dimapur and other parts of Karbi Anglong district of Assam. Waterfalls are also located in this area.</p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/VpCSEBcx8itLXZJi7" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28736.022208516828!2d93.7606767846265!3d25.80348248842965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3746087f8bdd2d7b%3A0x55d5e1dfb28104d7!2sChumukeidma%2C%20Dimapur%2C%20Nagaland!5e0!3m2!1sen!2sin!4v1597324903461!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>