<!DOCTYPE html>
<html>
<head>
	<title>Dzudu Lake</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.imgur.com/o2stzBx.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Dzudu Lake</h1>
		<h5 class="sub_heading">Mysterious Power in the Lake</h5>
		<div class="menu">
		<a href="nagaland.html"><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">If you are ever near Thuvopisumi Village, you must go to the top of Mount Zanibu, it where you shall find the tourist attraction Dzudu Lake. This mystical lake is surrounded by lush greenery and is a wonderful sight to behold. As because of its proximity to Mt. Zanibu, it is also called the Zanibu Lake. The Dzudu Lake is the heart of lush forests and sparkles amongst all the green. The lake is considered to be sacred and well-protected by the spiritual guardians. It is strictly prohibited to use the water of this lake to drink or bath and even create nuisance. It is one of the places to visit while you’re in Nagaland. Some legends say that the lake has mysterious powers and this also allures many of its visitors.</p>
		</div>
		<div class="main_map">
			<a href=".." target="_blank">
				<div id="map-tile">
					<iframe src="..." width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>