<!DOCTYPE html>
<html>
<head>
	<title>Japfu Peak</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.imgur.com/1nsJZFg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Japfu Peak</h1>
		<h5 class="sub_heading">Saramati Peak</h5>
		<div class="menu">
		<a href="nagaland "><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">One of the most difficult treks in Nagaland is the climb to the Japfu Peak, about 15 km from Kohima. Standing at an altitude of 3,048 m, the peak is Nagaland's second-highest and draws trekkers and adventure lovers for its scenic beauty and thrilling trails. To reach the peak, tourists first need to reach the quaint village of Kigwema and start the hike from a point near the Japfu Christian College. The trail is a demanding one and requires you to walk through dense shrubs. It takes around 5 hours to reach the peak and around 4 hours to get back to Kigwema. The Japfu peak is also famous for being home to the tallest rhododendron tree in the world.</p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/ACMCcFE2EviEMwGG8" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28751.298868854843!2d95.01946430285507!3d25.740411710763414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3747f84067adb8a3%3A0x98848fa562e7f237!2sSaramati%20Peak!5e0!3m2!1sen!2sin!4v1597262923610!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>