<!DOCTYPE html>
<html>
<head>
	<title>Kachari Ruins</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.imgur.com/L5aMzQT.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Kachari Ruins</h1>
		<h5 class="sub_heading">Set of Ruins, Dimapur</h5>
		<div class="menu">
		<a href="nagaland "><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">The Kachari Ruins are a set of ruins located in Dimapur, Nagaland, Northeast India. Their history dates back to the 10th century when they appeared during the Kachari civilization. The Kachari Ruins is a series of mushroom domed pillars. They were created by the Kachari Kingdom, which ruled here before the Ahom invasion into the territory during the 13th Century AD. Their origin and purpose are largely mysterious.</p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/xwAsB6tkgxGviwVH8" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3588.957679708989!2d93.7374639!3d25.9037617!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3745e1fe9702837f%3A0x2bfa01c8e6db17b0!2sKachari%20Ruins%2C%20Super%20Market%20Ln%2C%20High%20School%20Colony%2C%20Half%20Nagarjan%2C%20Dimapur%2C%20Nagaland%20797112!5e0!3m2!1sen!2sin!4v1597249441772!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>