<!DOCTYPE html>
<html>
<head>
	<title>Nagaland State Museum</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.imgur.com/jFE7IOB.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Nagaland State Museum</h1>
		<h5 class="sub_heading">The Rich Heritage of Nagalan4</h5>
		<div class="menu">
		<a href="nagaland.html"><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">The famous State Museum exhibits a unique collection of articles of varied tribes that portray the rich traditions. Tourists can find picture of every tribe. The Naga architecture, their custom, social hierarchy, culture and costume, all are displayed in the museum. 
			</br>
			The main items displayed here include statues, gateposts, pillars and jewellery. A ceremonial drum looks like a dug-out war vessel in a separate shed is also displayed there. These vessels indicate that the Nagas might have come from Sumatra. The basement of the museum has birds and animals of the north-eastern hill states.</p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/a7iYWYWFpj5oNr936" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.585697187225!2d94.10267861374567!3d25.68502511804146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3746219b847cc9e5%3A0x30608d73c347f906!2sNagaland%20State%20Museum!5e0!3m2!1sen!2sin!4v1597258442093!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>