<!DOCTYPE html>
<html>
<head>
	<title>Phek</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.imgur.com/7sWf7FX.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Phek</h1>
		<h5 class="sub_heading">District in Nagaland</h5>
		<div class="menu">
		<a href="nagaland "><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">Phek is a district of Nagaland state, India. It was established in 1973. The district headquarters are in the town of Phek. </br>
			Phek district is a mountainous region, 70% evergreen forest. The highest mountain is Zanibu, with the summit over 2,400 m (7,900 ft) above mean sea level (AMSL). The district HQ town of Phek lies at the lowest altitude of the district at 1,524m above sea level, with the town of Pfutsero at the highest point 2,136m above.
			</br>
			The largest rivers of the district are the Tizu, Lanyi, Arachu, and three most important lakes are the Shilloi, Chida and Dzudu.[1] As of 2002, of its 89 recognized villages, twelve were not accessible by road at all, and of the rest only 24 were accessible by "all-weather roads". </p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/PyPZRvTAKo5npbuR9" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d460233.0265084625!2d94.2530552327051!3d25.68552798817648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3747d69501ba4e85%3A0xf2073bbd2205fb7!2sPhek%2C%20Nagaland!5e0!3m2!1sen!2sin!4v1597262027639!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>