<!DOCTYPE html>
<html>
<head>
	<title>Amarnath</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://i.imgur.com/jArDwJd.jpg');		
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Amarnath</h1>
		<h5 class="sub_heading">The Aap Shambhu Lord Shiva</h5>
		<div class="menu">
		<a href="file:///D:/Photoshop%20works/Bharatwasi/index.html"><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">Amarnath cave is a Hindu shrine located in Jammu and Kashmir, India. The cave is situated at an altitude of 3,888 m (12,756 ft), about 141 km (88 mi) from Srinagar, the summer capital of Jammu and Kashmir and reached through Pahalgam town. The shrine forms an important part of Hinduism, and is considered to be one of the holiest shrines in Hinduism. The cave is surrounded by snowy mountains. The Amarnath temple is one of the 51 Shakti Peethas, temples throughout South Asia that commemorate the location of fallen body parts of the Hindu deity Sati.</p>
		</div>		
		<div class="main_map">
			<a href="https://goo.gl/maps/SE6g1a3rhqHwm1RV7" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3299.2869128797283!2d75.50193141443376!3d34.21569178056174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e24fca96056755%3A0xdfd15d625912515e!2sShri%20Amarnath%20Cave%20Temple!5e0!3m2!1sen!2sin!4v1595991868488!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>