<!DOCTYPE html>
<html>
<head>
	<title>Bahu Fort</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://i.imgur.com/w7OobD2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Bahu Fort</h1>
		<h5 class="sub_heading">Bagh-e-Bahu Garden</h5>
		<div class="menu">
		<a href="file:///D:/Photoshop%20works/Bharatwasi/index "><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">The Bahu Fort is a historic fort in the city of Jammu, Jammu and Kashmir. Constructed on the banks on Tawi River, the ancient fort is believed to be constructed by Raja Bahulochan around 3,000 years ago. It is believed that the first renovation of this fort was undertaken by Maharaja Ranjit Singh during Sikh Rule in 18th century. The fort is a religious place, and within its precincts has a temple dedicated to the Hindu goddess Kali. The temple is known locally as the "Bawe Wali Mata temple".</p>
		</div>

		<div class="main_map">
			<a href="https://goo.gl/maps/SdkTp6VjLXmua7iB6" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3356.485303299617!2d74.87794581438149!3d32.72630198098731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391e8364abe210bb%3A0x6c5c91f85e558409!2sBahu%20Fort%2C%20Gorkha%20Nagar%2C%20Jammu%2C%20180006!5e0!3m2!1sen!2sin!4v1595925303177!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>