<!DOCTYPE html>
<html>
<head>
	<title>Hemis Nationat Park</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.imgur.com/jZl7yts.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Hemis national Park</h1>
		<h5 class="sub_heading">India's Largest National Park / Snow Leopard</h5>
		<div class="menu">
		<a href="file:///D:/Photoshop%20works/Bharatwasi/index "><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">	
			<p class="discription">Hemis National Park (or Hemis High Altitude National Park) is a high altitude national park in the eastern Ladakh Union Territory of the Republic of India. Globally famous for its snow leopards, it is believed to have the highest density of them in any protected area in the world.[1] It is the only national park in India that is north of the Himalayas, the largest notified protected area in India (largest National park) and is the second largest contiguous protected area, after the Nanda Devi Biosphere Reserve and surrounding protected areas. The park is home to a number of species of endangered mammals, including the snow leopard.</p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/SzyiiRQhHhmQ9d3ZA" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.622124908427!2d77.38603371399897!3d33.718725542681604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3902707b177afb8b%3A0xf74ea9833e5618e2!2sHemis%20National%20Park!5e0!3m2!1sen!2sin!4v1596182724200!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>

	</header>

</body>
</html>