<!DOCTYPE html>
<html>
<head>
	<title>Shiv Kohri</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.imgur.com/eaWp6MQ.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Shiv Kohri</h1>
		<h5 class="sub_heading">The Lord Shiva's Cave</h5>
		<div class="menu">
		<a href="file:///D:/Photoshop%20works/Bharatwasi/index.html"><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">Shiv Khori means lord Shiva's cave, is a place dedicated to lord Shiva centuries ago. This place is frequented by the devotees of lord Shiva to worship the lingam inside the cave. The cave is around 200m long and around 200 people can stand in the entrance itself.</br> About 40 to 50-year ago, only a few people knew about the Shiv Khori shrine but it has gained much popularity during decades.</p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/qUpks5qBU9JU7ugY6" target="_blank">
				<div id="map-tile">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123918.18092591874!2d75.49467352566282!3d13.932198945420387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391e6b29132b4b09%3A0x850dcd2d7b894ccb!2sShiv%20Khori!5e0!3m2!1sen!2sin!4v1596288512566!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>