<!DOCTYPE html>
<html>
<head>
	<title>Wular Lake</title>
</head>
<style type="text/css">
	body{
		background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://i.imgur.com/f5ckCcx.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}
	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.sub_heading{
	text-decoration: underline;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
	word-spacing: 2.4px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.menu{
	height: 15vh;
}

.button{
	border: 1px solid white;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 5px;
	border-radius: 30px;
	color: white;
	float: left;
}
 
header a{
	text-decoration: none;
}

.button:hover{
	border: 1px solid #ff9900;
	color: #ffb84d;
}


.dis{
	/*border: 1px solid red;*/
	width: 50%;
	float: left;
}

.discription{
	text-align: center;
	font-size: 22px;
	padding: 40px;
	padding-top: 60px;
	color: white;
}

.main_map{
	height: auto;
	width: 50%;
	float: right;
	padding: 20px;
}



@media only screen and (max-width: 1000px){
	.discription{
		font-size: 20px;
	}
	.dis{
		width: 100%;
	}
	.main_map{
		width: 100%;
	}
	.button{
		font-size: 15px;
	}
}
</style>
<body>
	<header>
		<h1>Wullar Lake</h1>
		<h5 class="sub_heading">Asia's Largest Fresh Water Lake</h5>
		<div class="menu">
		<a href="file:///D:/Photoshop%20works/Bharatwasi/index "><span class="button">< Go Back</span></a>
		</div>
		<div class="dis">
			<p class="discription">Wular Lake (also spelt Wullar) is one of the largest fresh water lakes in Asia. It is sited in Bandipora district in Jammu and Kashmir, India. The lake basin was formed as a result of tectonic activity and is fed by the Jhelum River. The lake's size varies seasonally from 12 to 100 square miles (30 to 260 square kilometres). In addition, much of the lake has been drained as a result of willow plantations being built on the shore in the 1950s.</p>
		</div>
		<div class="main_map">
			<a href="https://goo.gl/maps/JoCxdK6KCRzrYtDq7" target="_blank">
				<div id="map-tile">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105406.18484212963!2d74.50814942984924!3d34.35192170635235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e10b7d1a6438ed%3A0xb3ebfa5078d4e7d1!2sWular%20Lake!5e0!3m2!1sen!2sin!4v1595991798589!5m2!1sen!2sin" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</a>
		</div>
	</header>

</body>
</html>