<!DOCTYPE html>
<html>
<head>
	<title>Rubdantse ruins</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <style >
	 	    *{
			margin: 0px;padding:0px;box-sizing: border-box;
		}
		body{
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/c5aWSEO.jpg');
			background-repeat:no-repeat; background-size:cover; background-position:center; width:100%;height:100vh;
			font-family: 'Flamenco',cursive; overflow-x:hidden; 
		}
		nav{
			width:100%;height: 12vh;display:flex;justify-content:space-between;background: rgba(0,0,0,0.4);
			align-items: center;color:white;
					}
				.logo{
					text-align: center;
					width:25%; font-size: 24px;color:#CD5C5C;
				}
				nav a{
					 text-decoration: none;
				    color:#00b894;
				     padding-right: 30px;
				     font-weight: 700;
				   font-size:22px;text-transform: uppercase;
				}	
				.name{
					 width: 100%;
					 height: 70px;
				}
				.name h1{
					    text-align:center;
					    color:yellow;
					    padding-top: 20px;text-transform: uppercase; 
				}
				.description{
					width: 50%;
					float:left;
				}
				.des{
					padding: 10px;
					text-align:justify;
				    overflow-x: hidden;
				    display: flex;
				    color:#FFEFD5;justify-content: center;
    			    align-items: center;font-family: 'Flamenco', cursive;
    		     	text-transform: uppercase;
    		     	letter-spacing: 2px;
    		    	word-spacing: 5px; 
    		    	font-size:20px;
				}
				.map{
					padding: 10px;
					height: auto;
					width: 50%;
					float: right; 
				}
				.map-info{
					
					width: 100%;
					height: 100%;
				}
				 @media only screen and (max-width: 1224px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 500px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}

	 </style>
</head>
<body>
        <header>
        	<nav>
        		<div class="logo"><h1>Bharatwasii</h1></div>
        		<a href="sikkimtour ">home</a>
        	</nav>
        	<div class="name"><h1>Rabdantse Ruins</h1></div>
        	<div class="description">
        		<p class="des">Rabdentse was the second capital of the former Kingdom of Sikkim from 1670 to 1814. It was
        			first established in 1670 by Chadok Namgyal son of Phuntsog Namgyal by shifting from the first capital of Yuksom that was consecrated in 1642. 
        			Located in the West Sikkim district of the state in the vicinity of Pelling, Rabdentse was the capital of Sikkim Empire in between the late 17th and the early 19th centuries. The capital was shifted from Yuksom to Rabdentse by Chadog Namgyal, the son of the first king of Sikkim. Later on, the city was destroyed by the Gorkhas, and today only its ruined structure.
        	</p>
        	</br>
        	</div>
        	<div class="map">
        		<a href="https://goo.gl/maps/gAgsCnJfZjytynWm8"target="_blank">
        			<div class="map-info">
        				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3545.376352447444!2d88.25443361437492!3d27.3014077498223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e6843288dae1d5%3A0x4ef81485da89197d!2sRabdentse%20Ruins!5e0!3m2!1sen!2sin!4v1597346009340!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        				
        			</div>
        		</a>
        	</div>
        </header>
</body>
</html>