<!DOCTYE html>
<!DOCTYPE html>
<html>
<head>
	<title>Tour and Travels</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style >
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}
			body{
                  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://imgur.com/XL9d2Z3.jpg'); 
                       background-size:cover;
                       background-repeat:no-repeat;
                       height: 100vh; width: 100%;
			}
			.logo{
				align:center; 
				font-family: 'Caveat', cursive;
				margin-left: 10px;
				color:cyan;
			}
			main{
				 margin-top: 10px;
				 text-align:center;
				 color: yellow; font-family: 'Flamenco', cursive;

			}
			main h1{
				  text-transform: uppercase;font-size:30px;
			}
			nav{
				width: 100%;
				height: 8vh;
				background-color: rgba(0,0,0,0.5);
			}
            .back{
            	float: right;
            	margin-right: 10px;
            }
            .back a{
            	    text-decoration: none;
            	    font-family:  cursive;
            	    color:cyan;
            	    text-transform: uppercase;
            }
			
			div {
				margin: 5px;
				margin-left: 8px;
				justify-content: space-around;
			}
			.row{
				float: left;
			}
			.column{
				float:left;
				margin-left: 28px;
			
			
			}
			.img{
				width:300px;
				height:190px;
				margin-top: 30px;
				display: flex;
				justify-content: space-between;
				
			}
			.ups{
				
				float:left; 
			}
			.down{
                       float: left;
                      margin-left: 28px;
                     

			}
			.rise{
				     	float:left; 
			}
			.fall{
        	    float: left;
                      margin-left: 28px;
                }
                .far{
                          	float:left; 
                }
                .away{
                	 float: left;
                      margin-left: 28px;
                }
			.var {
				animation: varbharatwasii 1s infinite;
			}
            @keyframes varbharatwasii {
                                          0%{color:#CC0;}
        	                              20%{color:#F33;}
        	                              50%{color:#003;}
        	                             100%{color:#CC3;}
                          
            }
		    .colorchange{
		    	animation: colorchangesikkim 1s infinite;
		    }
		    @keyframes colorchangesikkim{
                              0%{color:red;}
	                       20%{color:skyblue;}
	                       50%{color:#bf55ec;}
	       
	                       100%{color:white;}
		    }
		     @media only screen and (max-width: 1224px){
		      img{
		      	width: 100%;
		      	margin-left: 10px;
		      }
		  }
		     @media only screen and (max-width: 500px){
		     	img{
		     		width: 100%;
		     		margin-left: 10px;
		     	}
		     }
	</style>

</head>
<body>
	<header>
		<div class="logo"><h1><span class="var">Bharatwasii</span></h1></div>
	</header>
	<nav>
		<div class="back">
			<a href="sikkimtour ">home</a>
		</div>
	</nav>
	<main><h1>Tourism In <span class="colorchange">Sikkim</span></h1></main>
	     <div class="row">
		<div class="column">
		<a href="rumtek "target="_blank"><img class="img"src="https://imgur.com/anPfG97.jpg"></a>
		<p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Rumtek Monastery</p>
		    </div>
		<div class="column">
		<a href="singshore "target="_blank"><img class="img"src="https://imgur.com/GSEk8ZI.jpg"></a>
	    <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Singshore Bridge</p>
		    </div>
		<div class="column">
		<a href="siddheswer "target="_blank"><img class="img"src="https://imgur.com/qzDPFoS.jpg"></a>
		<p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Siddheswer Dham</p>
		      </div>
		<div class="column">
		<a href="rubdantseruins "target="_blank"><img class="img"src="https://imgur.com/c5aWSEO.jpg"></a>
		<p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Rabdantse Ruins</p>
			
		     </div>
	          </div>
          <div class="ups">
  	     <div class="down">
  		<a href="harbhajantample "target="_blank"><img class="img"src="https://imgur.com/zlWN3Xe.jpg"></a>
  		<p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Harbhajan Temple(New)</p>
             	</div>
        <div class="down">
  	    <a href="gurudongmerlake "target="_blank"><img class="img"src="https://imgur.com/rWvH4yM.jpg"></a>
  	    <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Gurudongmer Lake</p>
  	             </div>
  	    <div class="down">
  		<a href="hanumantok "target="_blank"><img class="img"src="https://imgur.com/zuHUcSo.jpg"></a>
  		<p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Hanuman Tok</p>
                  	</div>
       	<div class="down">
  		<a href="kalapatthar "target="_blank"><img class="img"src="https://imgur.com/Ylj6yV8.jpg"></a>
  		<p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Kala Patthar</p>
              	</div>
                </div>
            <div class="rise">
            <div class="fall">
            <a href="tsomgolake "target="_blank"><img class="img"src="https://imgur.com/t0Hv2AV.jpg"></a>
            <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Tsomgo Lake</p>
                      	</div>
            <div class="fall">
            <a href="yumthang "target="_blank"><img class="img"src="https://imgur.com/yYlMnVK.jpg"></a>
            <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Yumthang</p>
                      	</div>
            <div class="fall">
            <a href="zuluk "target="_blank"><img class="img"src="https://imgur.com/GNTHnXx.jpg"></a>
            <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Zuluk</p>
                      	</div>
           	<div class="fall">
            <a href="zeropoint "target="_blank"><img class="img"src="https://imgur.com/ABet9uI.jpg"></a>
            <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Zero Point</p>
                   </div>
                   </div>

            <div class="far">
            <div class="away">
            <a href="lachen "target="_blank"><img class="img"src="https://imgur.com/LYi1A2o.jpg"></a>
          	<p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Lachen</p>
                	</div>
            <div class="away">
            <a href="lachung "target="_blank"><img class="img"src="https://imgur.com/geMfIKE.jpg"></a>
            <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Lachung</p>
                   </div>
            <div class="away">
            <a href="nathangvalley "target="_blank"><img class="img"src="https://imgur.com/LA9CIpH.jpg"></a>
             <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Nathang Valley</p>
                </div>
            <div class="away">
            <a href="nathulapass "target="_blank"><img class="img"src="https://imgur.com/jotdb8G.jpg"></a>
            <p style="color:#BDC3C7;font-family: 'flamenco',cursive;font-size: 100%;">Nathu La Pass</p>
                </div>
                </div>              	
    </body> 
</html>

