<!DOCTYPE html>
<html>
<head>
	<title>Tsomgo Lake</title>
	  <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style >
		   *{
			margin: 0px;padding:0px;box-sizing: border-box;
		}
		body{
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/CLaVTap.jpg');
			background-repeat:no-repeat; background-size:cover; background-position:center; width:100%;height:100vh;
			font-family: 'Flamenco',cursive; overflow-x:hidden; 
		}
		nav{
			width:100%;height: 12vh;display:flex;justify-content:space-between;background: rgba(0,0,0,0.4);
			align-items: center;color:white;
					}
				.logo{
					text-align: center;
					width:25%; font-size:25px;color:#00FF7F;
				}
				nav a{
					 text-decoration: none;
				    color:#00b894;
				     padding-right: 30px;
				     font-weight: 700;
				   font-size:22px;text-transform: uppercase;
				}	
				.name{
					 width: 100%;
					 height: 70px;
				}
				.name h1{
					    text-align:center;
					    color:yellow;text-transform: uppercase;
					    padding-top: 20px; 
				}
				.description{
					width: 50%;
					float:left;
				}
				.des{
					padding: 10px;
					text-align:justify;
				    overflow-x: hidden;
				    display: flex;
				    color:#FFE4E1;justify-content: center;
    			    align-items: center;font-family: 'Flamenco', cursive;
    		     	text-transform: uppercase;
    		     	letter-spacing: 3px;
    		    	word-spacing: 6px; 
    		    	font-size:20px;
				}
				.map{
					padding: 10px;
					height: auto;
					width: 50%;
					float: right; 
				}
				.map-info{
					
					width: 100%;
					height: 100%;
				}
				 @media only screen and (max-width: 1224px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 500px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
	</style>
</head>
<body>
        <header>
        	<nav>
        		<div class="logo"><h1>Bharatwasii</h1></div>
        		<a href="sikkimtour ">home</a>
        	</nav>
        	<div class="name"><h1>Tsomgo Lake</h1></div>
        		<div class="description">
        			<p class="des">Tsomgo Lake, also known as Tsongmo Lake or Changu Lake, is a glacial lake in the East Sikkim district of the Indian state of Sikkim, some 40 kilometres from the capital Gangtok. Located at an elevation of 3,753 m, the lake remains frozen during the winter season.
        			The lake surface reflects different colours with change of seasons and is held in great reverence by the local Sikkimese people. Buddhist monks prognosticated after studying the changing colours of the lake.
        		</p>
        		</br>
        		</div>
        		<div class="map">
        			<a href="https://goo.gl/maps/4UEh9VH5gvCBPf6u5" target="_blank">
        				<div class="map-info">
        					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7086.084668660618!2d88.75833447261815!3d27.37439325918176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e6b293c4110b85%3A0xf5565108538e037a!2sTsongmo%20Lake!5e0!3m2!1sen!2sin!4v1597351206525!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        					
        				</div>
        			</a>
        		</div>
        </header>
</body>
</html>