<!DOCTYPE html></!DOCTYPE html>
<html>
<head>
	<title>Zuluk</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		  *{
		  	margin:0px;padding:0px;box-sizing:border-box; 
		  }
		  body{
		  	  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://imgur.com/GNTHnXx.jpg');
		  	  background-size:cover;
		  	  background-position:center;
		  	  background-repeat:no-repeat;
		  	  width:100%;height:100vh;overflow-x: hidden;
		  }
		  nav{
		  	  width:100%;height:11vh;background:rgba(0,0,0,0.4); display: flex;justify-content: space-between;
		  	  align-items:center; text-transform:uppercase;font-family:'Flamenco',cursive;  
		  }
		  .logo{
		  	  color:cyan;margin-left: 10px; 
		  }
		  nav a{
		  	   text-decoration: none;color:white;padding-right:30px;font-size:20px;font-weight: 500;
		  }              
		  .title{
		  	    width: 100%;height:45px;
		  }	 
		 .title h1{
		 	     color:yellow;text-transform:uppercase;text-align:center;padding-top:20px;font-family: 'Flamenco' cursive;
		 	     font-size: 40px;  
		 } 
		 .description{
		 	  float: left;width:50%;
		 }
		 .des{
		 	 text-transform:uppercase;font-family:'Caveat',cursive;color:#FFE4B5;padding:30px; text-align:justify;
		 	 overflow-x: hidden;display:flex;justify-content:center;align-items:center;
		 	 letter-spacing:4px;word-spacing: 2px;font-size: 20px;      
		 }
         .map{
              height:auto;width: 50%;
              /*border:1px solid;*/
              float: right;padding:10px;

         }
         .map-info{
         	     width: 100%;height:100%;
         }
           @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
	</style>
		  
</head>
<body>
         <header>
         	<nav>
         		<div class="logo"><h1>Bharatwasii</h1></div>
         		<a href="sikkimtour.html">home</a>
         	</nav>
         	<div class="title"><h1>Zuluk</h1></div>
         	<div class="description">
         		<p class="des">Dzuluk or Zuluk or Jhuluk or Jaluk is a small hamlet located at a height of 9,400 feet (2,900 m) on the rugged terrain of the lower Himalayas in East Sikkim of the Indian state Sikkim . This place is relatively an emerging and offbeat destination in East Sikkim.
         			Zuluk is a relatively new tourist destination of East Sikkim. It is a small village with a large military settlement, given that the Indo-Tibet border is nearby. The village itself is an attractive tourist destination for visitors looking for a quiet sojourn. 
         			</p>
         		</br>
         	</div>
         	<div class="map">
         		<a href="https://goo.gl/maps/upJzKZMW613fCMXU8" target="_blank">
         			<div class="map-info">
         				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3546.9852866762153!2d88.77502441437373!3d27.250990802006925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e6ab5ab68bb187%3A0xeb3f2c1af7fd45bd!2sZuluk%2C%20Sikkim%20737131!5e0!3m2!1sen!2sin!4v1597327067138!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         				</div>
         		</a>
         	</div>
         </header>
</body>
</html>