<!DOCTYPE html>
<html>
	<head>
		<title>bagnath temple</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/MU2e2VP.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h2{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:18px;
			}
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h2>bagnath temple</h2></div>
			<div class="description">
			<span class="des">Bagnath Temple is an ancient shrine dedicated to Shiva, situated in the Bageshwar city at the confluence of Sarayu and Gomati rivers. Bagnath Temple is festooned with bells of all sizes and features impressive carvings. It is the most famous Temple in Bageshwar District. It is flooded with devotees on the occasion of Shivratri. The city of Bageshwar gets its name from this Temple.
			<br/>
			According to Hindu Legend, Sage Markandeya worshipped Shiva here. Lord Shiva blessed sage Markandeya by visiting here in the form of a Tiger.
			<br/>
			Though some sources state The existence of Bagnath temple since 7th Century, the present building in nagara style was built in 1450 by Chand ruler, Laxmi Chand. The various statues in the temple date back from 7th century AD to 16th century AD. In 1996, the Archeology department of Uttarakhand state took over the temple, following which, several inscriptions and idols from the eighth to the tenth century were sealed inside the temples. These include idols of Shiva, Ganesha, Vishnu, Chaturmukhi Shiva, Teen Mukhi Shiva, Panch Mukhi Shiva, Mahishasura Mardini, Sahasra Shivalinga, Ganesh, Karthikeya, Panchdevapath, Navagraha etc.
			<br/>
			The significance of the temple finds mention in the Skanda Purana. Hindu Pilgrims file in throughout the year to worship here. A water police post was opened in the premises of the temple on 19 September 2016 for patrolling and prevention of water crimes in the city.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/aSiEdJzMefo3iDAs8" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3460.926780210826!2d79.769976314677!3d29.837535181958007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a735c5e8a11ce9%3A0x4a3a14a25920f9fc!2sBagnath%20Temple%20Bageshwar!5e0!3m2!1sen!2sin!4v1598012010679!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
	
</html>