<!DOCTYPE html>
<html>
	<head>
		<title>Kanatal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/HoyoA3l.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h2{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:18px;
			}
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h2>Kanatal</h2></div>
			<div class="description">
			<span class="des">Kanatal is a small village and a hill station in the state of Uttarakhand, India. Kanatal is 78 km from Dehradun (capital of the State Uttarakhand), 38 km from Mussoorie and 12 km from Chamba.<br><br>The temperature here ranges between 10-20 degrees Celsius during summer, and -5 to 10 degrees Celsius during winter. The location experiences heavy snowfall blocking roads in winters. Due to the high altitude, Kanatal faces unpredictable high winds. <br><br>Kanatal has an average elevation of about 8500 feet (2590 meters). The highest point is Surkanda Devi Temple. Kanatal is connected by road to Delhi and major cities. You can reach here via Risikesh or via Dehradun. Both are major cities of uttrakhand. Both are connected by railways from Delhi. The nearest airport is at Dehradun. Surkanda Devi is a temple in Kaddukhal, dedicated to Sati. Surkanda is where the head of Sati had fallen after Shiva carried her on his trishool from Kankhal, Haridwar after she set herself on fire. You get a 360-degree view from the top of the temple. This temple is 8 km on the road to Mussoorie to Kaddukhal. 
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/36GRTmaVaGjKqPN78" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13763.146175320466!2d78.33651062269217!3d30.413797513008323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3908e1a9660030ed%3A0x5730466a139782a4!2sKanatal%2C%20Kaudia%20Range%2C%20Uttarakhand%20249130!5e0!3m2!1sen!2sin!4v1598079731815!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
	
</html>