<!DOCTYPE html>
<html>
	<head>
		<title>rishikesh</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/PQwlFSe.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h2{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:18px;
			}
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h2>RISHIKESH</h2></div>
			<div class="description">
			<span class="des">Rishikesh, a most tranquil place in northern Uttarakhand, surrounded by hills and bisected by the wide and sluggish Ganges, is often claimed as the `Yoga Capital of the World’. Back in the 1960s Rishikesh gained instant fame as the site where The Beatles came to stay with their guru, the Maharishi Mahesh Yogi. It is an excellent place to meditate and study yoga. Rishikesh is also a good starting Laxman Jhula point for treks to Himalayan pilgrimage centres such as Badrinath, Kedarnath , Gangotri, Yamnotri.It is rightly called the gateway to the Himalayan Shrines of Badrinath, Kedarnath, Gangotri and Yamunotri. 7 Story Temple Situated 24 km upstream from Haridwar, at the confluence of the Chandrabhaga and Ganga.<br>

<br>Rishikesh has long been a spiritual centre. It is said that the sage Raibhya Rishi did severe penance here and as a reward, God appeared to him in the form of Hrishikesh, hence the name. Rishikesh has numerous ashrams, some of which are internationally recognized as centers of philosophical studies, yoga and meditation. An international yoga week is organized here every year by Uttarakhand Tourism between 2nd and 7th of February. For the adventurous, there are opportunities for white water rafting on the Ganga. The climate here is continental type but its location in the foot hills gives it a pleasant weather throughout the year. One can visit Rishikesh any time of the year.<br>
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/2Jp4rZ4M2xpJohHd6" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110471.12527564957!2d78.20056783237645!3d30.08780871772101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39093e67cf93f111%3A0xcc78804a6f941bfe!2sRishikesh%2C%20Uttarakhand!5e0!3m2!1sen!2sin!4v1597950670777!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
	
</html>