<!DOCTYPE html>
<html>
	<head>
		<title>RudraPrayag</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/zhu7QcB.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h2{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:18px;
			}
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h2>rudraprayag</h2></div>
			<div class="description">
			<span class="des">Rudraprayag is a town and a municipality in Rudraprayag district in the Indian state of Uttarakhand. Rudraprayag is one of the Panch Prayag (five confluences) of Alaknanda River, the point of confluence of rivers Alaknanda and Mandakini. Kedarnath, a Hindu holy town is located 86 km from Rudraprayag. The man-eating Leopard of Rudraprayag hunted and written about by Jim Corbett dwelled here. <br><br>Rudranath Temple Rudraprayag is named after Lord Shiva, and the temple of lord Rudranath is situated at the confluence of the Alaknanda and Mandakini rivers. According to mythology Narada Muni worshiped god Shiva here to learn music from him. The god then taught him music in his form of Rudra (Lord of Music). There used to be a rock called Narad Shila, where Narada is said to have sat in meditation. <br><br>Basukedar Basukedar is where Shiva reputedly lived, before coming to Kedarnath. It's a Shiva temple constructed by Pandavas. The architecture and idols seem to be at least 1000 yrs old. It is a good place for meditation and dhyana yoga. It is around 35 km from Agustmuni. around 1.30 hr by drive. This is actually an old track to visit Kedarnath. It is said that Lord Shiva stayed a night in Basukedar while he was travelling to Kedarnath; this is the reason this place is called Basukedar <br><br>Shree Tungeshwar Mahadev Ji, Phalasi Near Chopta This temple has been here for centuries. Folklore has it that the Pandavas came here for penance. On the way from Chopta, there are many small temples up to the Tunganath Temple. On the temple walls, are terracotta style seals and Shiva-Parvati figurines. 
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/EdNtcve23YWCntrs5" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13781.21553003722!2d78.97096037263866!3d30.285409488036784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3909b7aea36f26f1%3A0x9eb43bf27ef18d47!2sRudraprayag%2C%20Uttarakhand%20246171!5e0!3m2!1sen!2sin!4v1598083326931!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
	
</html>