<!DOCTYPE html>
<html>
	<head>
		<title>Uttarkashi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/AOlilRM.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h2{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:18px;
			}
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h2>Uttarkashi</h2></div>
			<div class="description">
			<span class="des">Uttarkashi, meaning Kashi of the north, is a town in Uttarakhand, India. Uttarkashi(uki) means the Kashi of North and is also known as Somya Kashi. Uttarkashi is a religious place for spiritual and adventurous tourism. Uttarkashi town is also called as Shivnagri. The town has number of temples and ashrams. Uttarkashi is known for its religious people, weather, education. <br><br>It is the district headquarters of Uttarkashi district. Uttarkashi is situated on the banks of river Bhagirathi at an altitude of 1158 m above sea level. Uttarkashi is generally known as a holy town close to Rishikesh. It is located in the state of Uttarakhand in India. Uttarkashi is home to a number of ashrams and temples and also to the Nehru Institute of Mountaineering. The name of the town reflects its similarity to and location (as north of) the city of Kashi (Varanasi). Similar to Varanasi, town of Uttarkashi is situated on the Ganges, lies next to a hill named Varunavat, on confluence of two rivers Varuna and Asi, has a ghat called Manikarnika Ghat and has a temple dedicated to Shiva similar to (Kashi Vishwanath Temple) in Varanasi, in the center of the town. <br><br>Uttarkashi is also known as a trekking hub as it is gateway to the no. of unxexplored and unexplored trekking destinations. Some of the area's summer and winter trekking destinations are Dodital, Dayara Bugyal, Kedarkantha, Har Ki Dun for camping and grandeur Himalayan panoromic views. <br><br><!-- Dayara Bugyal: Situated on 11,975.07 ft height, this meadow is known for its grazing pastures and aromatic wild flowers.[citation needed] Gujjar, the tribal population reside here for 6 month with their livestock. The place is ideal for trekking, hiking and camping in the lap of Himalaya, during winters this meadows also attract skiing lovers. Dayara was also cited as Track of The Year 2015 by State Govt of Uttarakhand. In June 2011, Department of science & Technology, DST with the Science communicator fellow Mr. Sanjay Kumar, P.G. College Uttarkashi have organized Hareet Pathshala (Green Classes) for the benefit of gujjar population reside with their families.[5] Dayara is also famous for annual Butter Festival (Anduri Festival) organized by Angha Mountain organization and Hotel Association of Uttarkashi in month of August. -->
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/TmyiJk3rCwPH9bXT8" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27438.123536793824!2d78.41141915170881!3d30.724993816618873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3908ed2ff38e31ef%3A0x7fdeebfe93c9add1!2sUttarkashi%2C%20Uttarakhand!5e0!3m2!1sen!2sin!4v1598084763877!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
	
</html>