<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Damion&family=Lobster&family=Satisfy&family=Teko:wght@600&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <!-- <link rel="stylesheet" href="css/style.css"> -->
       <!--  <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->
     
<title>WEST BENGAL Gallery</title>
<link rel="stylesheet" type="text/css" href="westbengal.css">
</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">West Bengal Tourism</h1>
  <div class="map">
  <a href="https://goo.gl/maps/ghte3LuoygdfRLGJ6" target="_blank">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5041632.92859892!2d85.8705307725086!3d23.391882335794392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fa16ff1397e887%3A0x71543a3dc3e7a20a!2sWest%20Bengal!5e0!3m2!1sen!2sin!4v1596766948579!5m2!1sen!2sin" width="210" height="290" frameborder="0" style="border:0;"></iframe>
  </a>
  <p>West Bengal, located on eastern bottleneck of India stretching from the Himalayas in the north to the Bay of Bengal in the south, presents some of marvelous landscape features and natural scenic beauty.There are many hill stations in North West Bengal, of which Darjeeling is world-famous.From the majestic Himalayas to the serenity of the Gangetic plains, from quiet seashores to beautiful mangroves, West Bengal is a place with numerous natural wonders. Adding to its appeal, are the vivid festivities, sublime architecture, delightful crafts, classical and contemporary music, and scrumptious ethnic delicacies, that make West Bengal a splendid place offering extraordinary experiences. Regardless of whether you wish to be among scholars and meandering minstrels, or gutsy and choose to roam with rhinoceroses, these assorted West Bengal tourist places offer everything.You can even know more if you can spare some time and go there for a visit.</p>
  <p></p>
  <p></p>
</div>
</div>

<div class="container">
<div class="gallery">
<figure class="gallery__item gallery__item--1">
<a href="1kolkata " target="_blank"><img src="https://i.imgur.com/cR9dF4a.jpg" alt="Gallery image 1" class="gallery__img">
<figcaption>kolkata </figcaption></a>
</figure>

<figure class="gallery__item gallery__item--2">
<a href="2dargiling " target="_blank"><img src="https://i.imgur.com/oOa5656.jpg" alt="Gallery image 2" class="gallery__img">
<figcaption>Dargiling</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--3">
<a href="3sundarbans " target="_blank"><img src="https://i.imgur.com/iyoA5Ei.jpeg" alt="Gallery image 3" class="gallery__img">
<figcaption>Sundarbans </figcaption></a>
</figure>

<figure class="gallery__item gallery__item--4">
<a href="4mandarmani " target="_blank"><img src="https://i.imgur.com/rClufSB.jpg" alt="Gallery image 4" class="gallery__img">
<figcaption>Mandarmani </figcaption></a>
</figure>
                
<figure class="gallery__item gallery__item--5">
<a href="5bankura " target="_blank"><img src="https://i.imgur.com/XvTTmQZ.jpg" alt="Gallery image 5" class="gallery__img">
<figcaption>Bankura</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--6">
<a href="6kalimpong " target="_blank"><img src="https://i.imgur.com/D5cAdrt.jpg" alt="Gallery image 6" class="gallery__img">
<figcaption>Kalimpong </figcaption></a>
</figure>

<figure class="gallery__item gallery__item--7">
<a href="7gaur-pandua " target="_blank"><img src="https://i.imgur.com/uAujkGq.jpg" alt="Gallery image 7" class="gallery__img">
<figcaption>Gaur-pandua </figcaption></a>
</figure>
<figure class="gallery__item gallery__item--8">
<a href="8Barrackpore " target="_blank"><img src="https://i.imgur.com/TUlIeYt.jpg" alt="Gallery image 8" class="gallery__img">
<figcaption>Barrackpore</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--9">
<a href="9shantiniketan " target="_blank"><img src="https://i.imgur.com/Hv9nJvO.jpg" alt="Gallery image 9" class="gallery__img">
<figcaption>Shantiniketan</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--10">
<a href="15digha " target="_blank"><img src="https://i.imgur.com/irwHJhI.jpg" alt="Gallery image 10" class="gallery__img">
<figcaption>Digha</figcaption></a>
</figure>
<figure class="gallery__item gallery__item--11">
<a href="13siliguri " target="_blank"><img src="https://i.imgur.com/DqFgfua.jpg" alt="Gallery image 11" class="gallery__img">
<figcaption>Siliguri</figcaption></a>
</figure>
<!-- https://i.imgur.com/oMjcKbN.jpg -->
<figure class="gallery__item gallery__item--12">
<a href="12mayapur " target="_blank"><img src="https://i.imgur.com/uymca9g.jpg" alt="Gallery image 12" class="gallery__img">
<figcaption>Mayapur</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--13">
<a href="11coochbihar " target="_blank"><img src="https://i.imgur.com/IFu7zgG.jpg" alt="Gallery image 13" class="gallery__img">
<figcaption>Cooch Bihar</figcaption></a>
</figure>
<figure class="gallery__item gallery__item--14">
<a href="18durgapur " target="_blank"><img src="https://i.imgur.com/dupGF7c.jpg" alt="Gallery image 14" class="gallery__img">
<!-- https://i.imgur.com/dYoZs5q.jpg -->
<figcaption>Durgapur</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--15">
<a href="10hoogly " target="_blank"><img src="https://i.imgur.com/2aJe1hG.jpg" alt="Gallery image 15" class="gallery__img">
<figcaption>Hoogly</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--16">
<a href="16murshidabad " target="_blank"><img src="https://i.imgur.com/wO3rQEp.jpg" alt="Gallery image 16" class="gallery__img">
<figcaption>Murshidabad</figcaption></a>
</figure>
<figure class="gallery__item gallery__item--17">
<a href="17kurseong " target="_blank"><img src="https://i.imgur.com/1A67SXz.jpg" alt="Gallery image 17" class="gallery__img">
<figcaption>Kurseong</figcaption></a>
</figure>

<!-- <figure class="gallery__item gallery__item--6">
<a href="" target="_blank"><img src="https://i.imgur.com/lSUmdWy.jpeg" alt="Gallery image 6" class="gallery__img">
<figcaption>kolkata </figcaption></a>
</figure>
 -->
<figure class="gallery__item gallery__item--18">
<a href="14mirik " target="_blank"><img src="https://i.imgur.com/3MmQUSN.jpg" alt="Gallery image 18" class="gallery__img">
<figcaption>Mirik</figcaption></a>
</figure>
<figure class="gallery__item gallery__item--19">
<a href="19haldia " target="_blank"><img src="https://i.imgur.com/z4sTsJZ.jpg" alt="Gallery image 19" class="gallery__img">
<figcaption>Haldia</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--20">
<a href="20bakkhali " target="_blank"><img src="https://i.imgur.com/PSPSRc9.jpg" alt="Gallery image 20" class="gallery__img">
<figcaption>Bakkhali</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--21">
<a href="22bardhaman " target="_blank"><img src="https://i.imgur.com/0iGFV9M.jpg" alt="Gallery image 21" class="gallery__img">
<!-- https://i.imgur.com/6xLHgSw.jpg -->
<figcaption>Bardhaman</figcaption></a>
</figure>
<figure class="gallery__item gallery__item--22">
<a href="21bisnupur " target="_blank"><img src="https://i.imgur.com/6xLHgSw.jpg " alt="Gallery image 22" class="gallery__img">
<figcaption>Bisnupur</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--23">
<a href="23Doors " target="_blank"><img src="https://i.imgur.com/Q7zGeLO.jpg" alt="Gallery image 23" class="gallery__img">
<figcaption>Doors</figcaption></a>
</figure>


<figure class="gallery__item gallery__item--24">
<a href="25Raichak " target="_blank"><img src="https://i.imgur.com/mJR3YBv.jpg" alt="Gallery image 24" class="gallery__img">
<figcaption>Raichak</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--25">
<a href="26lataguri " target="_blank"><img src="https://i.imgur.com/kaIsEXU.jpg" alt="Gallery image 25" class="gallery__img">
<figcaption>Lataguri</figcaption></a>
</figure>
<figure class="gallery__item gallery__item--26">
<a href="27lolegaon " target="_blank"><img src="https://i.imgur.com/gZLMGoT.jpg" alt="Gallery image 26" class="gallery__img">
<figcaption>Lolegaon</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--27">
<a href="28mukutmaniput " target="_blank"><img src="https://i.imgur.com/9InHWao.jpg" alt="Gallery image 27" class="gallery__img">
<figcaption>Mukutmanipur</figcaption></a>
</figure>
<figure class="gallery__item gallery__item--28">
<a href="30shankarpur " target="_blank"><img src="https://i.imgur.com/IUoxMtO.jpg" alt="Gallery image 28" class="gallery__img">
<figcaption>Shankarapur</figcaption></a>
</figure>

<figure class="gallery__item gallery__item--29">
<a href="29malda " target="_blank"><img src="https://i.imgur.com/lcOIzGI.jpg" alt="Gallery image 29" class="gallery__img">
<figcaption>Malda</figcaption></a>
</figure>

</div>
</div>
</body>
</html>