
<!DOCTYPE html>
<html>
	<head>
		<title>ASSAM</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'forte', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://imgur.com/4waGUhk.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;border-radius:50px 50px 50px 50px;background-color:#21610B;background:flex;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;border-radius:50px 50px 50px 50px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Informal Roman', cursive;
			}

			#outer{
				height:100%;
				width:100%;
				border:1px solid;
			}
			
			.gallery img{
				width:100%;border-radius:50px 0px 50px 0px;


				
			}
			.des{
				padding:15px;
				text-align:center;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Pristina', cursive;
    			text-transform: uppercase;
    			font-weight: bolder;border-radius:50px 50px 50px 50px;
    			font-size: 21px; 
                        


			}
			.responsive{
				padding:0 6px;
				float:left;
				width:25%;
				padding-top: 20px;
				
			}

			.chnge:after{
    			content:'';
    			animation:changetext 10s infinite linear;color:#00b894;
			}


			@media only screen and (max-width: 1000px){
				.responsive{
					width:50%;
					margin:6px 0;
				}
				nav .logo{
					padding-left: 5px;background-color:#64FE2E;
				}
			}

			@media only screen and (max-width: 400px){
				.responsive{
					width:100%;	
				}
				nav .logo{
					padding-left: 5px;background-color:#64FE2E;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
         <div id="title">   <marquee   scrollamount="18" font-family: 'Informal Roman'><h1>TOURISM IN ASSAM</h1></marquee></div>

				<div class="responsive">
					<div class="gallery">
						<a href="Kamakhya temple " ><img src="https://imgur.com/RrGzRcQ.jpg" width="300" height="200"></a>
						<div class="des">Kamakhya Temple</div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="tea garden " ><img src="https://imgur.com/HxvYQfN.jpg" width="300" height="200"></a>	
						<div class="des">Tea Garden</div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="kaziranga national park " ><img src="https://imgur.com/pcl87u1.jpg" width="300" height="200"></a>	
						<div class="des">Kaziranga National Park</div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="brhamaputra " ><img src="https://imgur.com/1Gm4veu.jpg" width="300" height="200"></a>	
						<div class="des">Brahmaputra River</div>					
					</div>
				</div>	

				<div class="responsive">
					<div class="gallery">
						<a href="sivasagar " ><img src="https://imgur.com/rUZc8aj.jpg" width="300" height="200"></a>
						<div class="des">Sivasagar</div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="manas "><img src="https://imgur.com/kw8am0r.jpg" width="300" height="200"></a>	
						<div class="des">Manas National Park</div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="majuli island " ><img src="https://imgur.com/tzHDzO8.jpg" width="300" height="200"></a>	
						<div class="des">Majuli Island</div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="hajo " ><img src="https://imgur.com/14aiBJc.jpg" width="300" height="200"></a>	
						<div class="des">Hajo</div>					
					</div>
				</div>
				
				

				<div class="responsive">		
					<div class="gallery">
						<a href="nameric national park " ><img src="https://imgur.com/LdoMaiV.jpg" width="300" height="200"></a>	
						<div class="des">Nameric National Park</div>					
					</div>
				</div>
                                <div class="responsive">
					<div class="gallery">
						<a href="Kakochang waterfall " ><img src="https://imgur.com/Z83rife.jpg" width="300" height="200"></a>
						<div class="des">Kakochang Waterfall</div>
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="toklai tea garden " ><img src="https://imgur.com/dZUoc6b.jpg" width="300" height="200"></a>	
						<div class="des">Tocklai Tea Research Centre</div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="silchar " ><img src="https://imgur.com/AiGHWtr.jpg" width="300" height="200"></a>	
						<div class="des">Silchar</div>					
					</div>
				</div>	

				<div class="responsive">
					<div class="gallery">
						<a href="dipor bil " ><img src="https://imgur.com/L45NmtR.jpg" width="300" height="200"></a>
						<div class="des">Dipor Bil</div>
					</div>
				</div>
                                 <div class="responsive">
					<div class="gallery">
						<a href="guwahati palneteriunm " ><img src="https://imgur.com/Cksshek.jpg" width="300" height="200"></a>	
						<div class="des">Guwahati Planeterium</div>					
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="dima hasao " ><img src="https://imgur.com/H589UkB.jpg" width="300" height="200"></a>	
						<div class="des">Dima Hasao</div>					
					</div>
				</div>

				

				<div class="responsive">
					<div class="gallery">
						<a href="dibrugarh " ><img src="https://imgur.com/gqZjqhb.jpg" width="300" height="200"></a>	
						<div class="des">Dibrugarh </div>					
					</div>
				</div>
                                <div class="responsive">
					<div class="gallery">
						<a href="Orange National Park " ><img src="https://imgur.com/V7VXikK.jpg" width="300" height="200"></a>	
						<div class="des">Orange National Park</div>					
					</div>
				</div>
                                <div class="responsive">
					<div class="gallery">
						<a href="Panimoor Fall " ><img src="https://imgur.com/dGtY65R.jpg" width="300" height="200"></a>	
						<div class="des">Panimoor Falls</div>					
					</div>
				</div>
				<div class="responsive">
					<div class="gallery">
						<a href="padum pukhuri " ><img src="https://imgur.com/OBMMCLk.jpg" width="300" height="200"></a>	
						<div class="des">Padam Pukhuri</div>					
					</div>
				</div>
                                <div class="responsive">
					<div class="gallery">
						<a href="Haflong Lake Hill " ><img src="https://imgur.com/CiMkOVl.jpg" width="300" height="200"></a>	
						<div class="des">Haflong Lake And Hill </div>					
					</div>
				</div>
				
	
									
					</div>
				</div>

		</header>
	</body>
</html>