
<!DOCTYPE html>
<html>
	<head>
		<title>Dima Hasao</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/H589UkB.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href=" index ">Home</a>
            </nav>
            <div id="title"><h1>Dima Hasao</h1></div>
			<div class="description">
			<span class="des">Dima Hasao district, earlier called North Cachar Hills district, is an administrative district in the state of Assam in Northeastern India. As of 2011, it is the least populous district of Assam.

Dima Hasao district is one of the two Autonomous hill districts of the state of Assam. The district headquarter Haflong is the only hill station in Assam, a tourist paradise, also named the Switzerland of the north-east.The organisers feel that Haflong is the only hill station in Assam that can be developed for sustainable tourism.

Development of a tourist circuit, comprising places like Jatinga, Umrangso and Panimura waterfall, is in the pipeline.

The association will also hold its 8th annual general meeting in Haflong, the headquarters of the hill district, to promote Dima Hasao as a viable tourist destination.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/19exH5FV94NLJRtz5" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d922756.9633308981!2d92.45890213941122!3d25.387419304760822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374fa16a0dc9dd2b%3A0xb17080fae92d8710!2sDima%20Hasao%2C%20Assam!5e0!3m2!1sen!2sin!4v1599222578715!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
</html>