
<!DOCTYPE html>
<html>
	<head>
		<title>Guwahati Planetarium</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/Cksshek.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Informal Roman', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 13px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="1gujarat.html">Home</a>
            </nav>
            <div id="title"><h1>Guwahati Planetarium</h1></div>
			<div class="description">
			<span class="des">Guwahati Planetarium is one of its kind centre of astronomical education and research in Assam and the entire North-Eastern region of India. The Guwahati Planetarium is unrivalled in Assam and rest of northeast India with its distinctive dome and sloping walls that sets it apart in the skyline of the area. The Planetarium uses the Japanese Goto instrument. The hardware includes the Chronos starfield projector, Digital HD video projectors, and the Dolby sky theatre's sound system. The show software is also supplied by Goto.
Besides daily shows, the Planetarium also regularly organises seminars, workshops and conferences for the astronomy fraternity, and exhibitions, quizzes and outdoor viewing facilities during eclipses for students and the local community.



			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/19exH5FV94NLJRtz5" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.1622439958924!2d91.74977241486698!3d26.191399983443578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5a20dcb9fa8b%3A0x77603ed850deb763!2sGuwahati%20Planetarium!5e0!3m2!1sen!2sin!4v1599225006099!5m2!1sen!2sin.jpg" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
</html>