<!DOCTYPE html>
<html>
<head>
	<title>indian religions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background-image:url('https://i.imgur.com/6JPiXb0.jpg');
	     	background-repeat: no-repeat;background-size: cover;, 
   			
   				
   				overflow:auto;
	     }
	     nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
 .sg{
 	margin-top: 20px;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.info{
        	
					padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-weight: 100px;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
    			    font-family: 'Dancing Script', cursive;
    		     	
				}
					.fbox{
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:300px;
        	height:250px;
        	border-radius: 15px;
        
        }
        	#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }


	     </style>
	 </head>
	 <body><header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h1 class="glow"><b>"Buddhism"</b> </h1></div>
            <div class="sg"><p align="center"><img src="https://i.imgur.com/38idNXt.jpg" width="300" height="200"></p></div>
            <div class="about">
				<p class="info">Buddhism is an ancient Indian religion, which arose in and around the ancient Kingdom of Magadha (now in Bihar, India), and is based on the teachings of the Gautama Buddhawho was deemed a "Buddha" ("Awakened One"). Buddhism spread outside of Magadha starting in the Buddha's lifetime.

With the reign of the Buddhist Mauryan Emperor Ashoka, the Buddhist community split into two branches: the Mahāsāṃghika and the Sthaviravāda, each of which spread throughout India and split into numerous sub-sects. In modern times, two major branches of Buddhism exist: the Theravāda in Sri Lanka and Southeast Asia, and the Mahāyāna throughout the Himalayas and East Asia. The Buddhist tradition of Vajrayana is sometimes classified as a part of Mahāyāna Buddhism, but some scholars consider it to be a different branch altogether.

The practice of Buddhism as a distinct and organized religion lost influence after the Gupta reign (c.7th century CE), and declined from the land of its origin in around the 13th century, but not without leaving a significant impact on other local religious traditions. Except for the Himalayan region and south India, Buddhism almost became extinct in India after the arrival of Islam in the late 12th century. Buddhism is still practiced in the Himalayan areas such as Sikkim, Ladakh, Arunachal Pradesh, the Darjeeling hills in West Bengal, the Lahaul and Spiti areas of upper Himachal Pradesh, and Maharashtra. After B. R. Ambedkar's Dalit Buddhist movement, the number of Buddhists in India has increased considerably. According to the 2011 census, Buddhists make up 0.7% of India's population, or 8.4 million individuals. Traditional Buddhists are less than 13% and Navayana Buddhists (Converted, Ambedkarite or Neo-Buddhists) comprise more than 87% of the Indian Buddhist community according to the 2011 Census of India. According to the 2011 census, the largest concentration of Buddhism is in Maharashtra (6,530,000), where 77% of the total Buddhists in India reside. West Bengal (280,000), Madhya Pradesh (216,000), and Uttar Pradesh (200,000) are other states having large Buddhist populations. Ladakh (39.7%), Sikkim (27.4%), Arunachal Pradesh (11.8%), Mizoram (8.5%) and Maharashtra (5.8%) have emerged as top five states or union territories in terms of having the largest percentages of Buddhists.

.</p>
			</div>
			<div id="container">
     			
     			<div class="fbox"><img src="https://i.imgur.com/P6q40e4.jpg" ></div>
     			<div class="fbox"><img src="https://i.imgur.com/X5estDH.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/IJfiToh.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/A8Ok8fn.jpg"></div>
	 	






</div>
	 </body>
	</header></html>
