
<html>
<head>
	<title>indian religions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background-image:url('https://i.imgur.com/6JPiXb0.jpg');
	     	background-repeat: no-repeat;background-size: cover;, 
   			
   				
   				overflow:auto;
	     }
	     nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
 .sg{
 	margin-top: 20px;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.info{
        	
					padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-weight: 100px;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
    			    font-family: 'Dancing Script', cursive;
    		     	
				}
					.fbox{
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:300px;
        	height:250px;
        	border-radius: 15px;
        
        }
        	#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }


	     </style>
	 </head>
	 <body><header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h1 class="glow"><b>"Islam"</b> </h1></div>
            <div class="sg" style="border-radius:20px"><p align="center"><img src="https://i.imgur.com/TVfcFyg.jpg" width="350" height="300"></p></div>
            <div class="about">
				<p class="info"><b>Islam is the second-largest religion in India,with 14.2% of the country's population or approx. 172 million people identifying as adherents of Islam (2011 census). It makes India the country with the largest Muslim population outside Muslim-majority countries. The majority of Indian Muslims belong to Sunni sect of Islam while the Shia form a sizeable minority.

Islam in India existed in communities along the Arab coastal trade routes in Gujarat, Kerala, and Bengal as soon as the religion originated and had gained early acceptance in the Arabian Peninsula, though the first incursion through sea by the new Muslim successor states of the Arab World occurred around 636 CE or 643 AD, during the Rashidun Caliphate, long before any Arab army reached the frontier of India by land. The Barwada Mosque in Ghogha, Gujarat built before 623 CE, Cheraman Juma Mosque (629 CE) in Methala, Kerala and Palaiya Jumma Palli (or The Old Jumma Masjid - 628 - 630 CE) in Kilakarai, Tamil Nadu are three of the first mosques in India which were built by seafaring Arab Merchants.Islam arrived in North India in the 12th century via the Ghurids conquest and has since become a part of India's religious and cultural heritage.

The Delhi Sultanate and the Mughal Empire have ruled most of South Asia and the Bengal Sultanate, the Deccan sultanates and the Sur Empire have played major economic and political roles. The peak of the Islamic rule in India was marked under the sharia and proto-industrialised reign of emperor Aurangzeb, the world's largest economy, upon the compilation and establishment of the Fatawa Alamgiri.The re-introduction of further Islamic policies by Mysore King Tipu Sultan contributed to the South Indian culture. The Hyderabad State ruled by the Nizams served as the last self-governing princely state of India until its annexation by the Dominion of India. Over the centuries, there has been significant integration of Hindu and Muslim cultures across India and Muslims have played a notable role in economics, politics, and culture of India.
</b>
</p>
			</div>
			<div id="container">
     			
     			<div class="fbox"><img src="https://i.imgur.com/MAjigSr.jpg" ></div>
     			<div class="fbox"><img src="https://i.imgur.com/kSRRG2G.png"></div>
     			<div class="fbox"><img src="https://i.imgur.com/fFvh06Q.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/DtVGP3t.jpg"></div>
     			
	 	
	 	






</div>
	 </body>
	</header></html>
