<!DOCTYPE html>
<html>
<head>
	<title>indian religions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background-image:url('https://i.imgur.com/6JPiXb0.jpg');
	     	background-repeat: no-repeat;background-size: cover;, 
   			
   				
   				overflow:auto;
	     }
	     nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
 .sg{
 	margin-top: 20px;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.info{
        	
					padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-weight: 100px;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
    			    font-family: 'Dancing Script', cursive;
    		     	
				}
					.fbox{
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:300px;
        	height:250px;
        	border-radius: 15px;
        
        }
        	#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }


	     </style>
	 </head>
	 <body><header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h1 class="glow"><b>"Jainism"</b> </h1></div>
            <div class="sg"><p align="center"><img src="https://i.imgur.com/LhVHYpw.jpg" width="300" height="200"></p></div>
            <div class="about">
				<p class="info">Jainism is India's sixth-largest religion and is practiced throughout India.

Per the 2011 census, there are 4,451,753 Jains in the 1.21 billion population of India, the majority living in Maharashtra, Rajasthan, Gujarat and Madhya Pradesh, however, the influence of Jainism has been far greater on the Indian population than these numbers suggest. Jains can be found in 34 out of 35 states and union territories, with Lakshdweep being the only union territory without Jains. The state of Jharkhand, with a population of 16,301 Jains also contains the holy pilgrimage centre of Shikharji.

Jain doctrine teaches that Jainism has always existed and will always exist, Like most ancient Indian religions, Jainism has its roots from the Indus Valley Civilization, reflecting native spirituality prior to the Indo-Aryan migration into India. Other scholars suggested the Shramana traditions were separate and contemporaneous with Indo-Aryan religious practices of the historical Vedic religion. In August 2005, the Supreme Court of India ruled that Jainism, Sikhism (and Buddhism) are distinct religions, but are inter-connected and inter-related to Hinduism, so these three are part of wider broader Hindu religion, based on the historic background on how the Constitution had come into existence after. However, in the 2006 verdict, Supreme Court of India found that the "Jain Religion is indisputably not a part of the Hindu Religion".

.</p>
			</div>
			<div id="container">
     			
     			<div class="fbox"><img src="https://i.imgur.com/E3dw6yK.jpg" ></div>
     			<div class="fbox"><img src="https://i.imgur.com/f0wro8u.png"></div>
     			<div class="fbox"><img src="https://i.imgur.com/EY3AO0C.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/KlxNnUa.jpg"></div>
	 	






</div>
	 </body>
	</header></html>
