<!DOCTYPE html>
<html>
<head>
	<title>indian religions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background-image:url('https://i.imgur.com/6JPiXb0.jpg');
	     	background-repeat: no-repeat;background-size: cover;, 
   			
   				
   				overflow:auto;
	     }
	     nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
 .sg{
 	margin-top: 20px;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.info{
        	
					padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-weight: 100px;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
    			    font-family: 'Dancing Script', cursive;
    		     	
				}
					.fbox{
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:300px;
        	height:250px;
        	border-radius: 15px;
        
        }
        	#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }


	     </style>
	 </head>
	 <body><header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h1 class="glow"><b>"Judaism"</b> </h1></div>
            <div class="sg"><p align="center"><img src="https://i.imgur.com/lGYNNOk.jpg" width="300" height="200"></p></div>
            <div class="about">
				<p class="info">Judaism was one of the first foreign religions to arrive in India in recorded history. Indian Jews are a religious minority of India, but, unlike many parts of the world, have historically lived in India without any instances of anti-Semitism from the local majority populace. The better-established ancient communities have assimilated many local traditions through cultural diffusion. While some Jews state their ancestors arrived in India during the time of the Kingdom of Judah, others identify themselves as descendants of Israel's Ten Lost Tribes. It is estimated that India's Jewish population peaked at around 20,000 in the mid-1940s, and began to rapidly decline due to their emigration to Israel after its creation in 1948.
					The oldest of the Indian Jewish communities was in the erstwhile Cochin Kingdom. The traditional account is that traders of Judea arrived at Cranganore, an ancient port near Cochin in 562 BC, and that more Jews came as exiles from Israel in the year 70 AD, after the destruction of the Second Temple. Many of these Jews' ancestors passed on the account that they settled in India when the Hebrew King Solomon was in power. This was a time that teak wood, ivory, spices, monkeys, and peacocks were popular in trade in Cochin. There is no specific date or reason mentioned as to why they arrived in India, but Hebrew scholars date it to up to around the early Middle Ages. Cochin is a group of small tropical islands filled with markets and many different cultures such as Dutch, Hindu, Jewish, Portuguese, and British. The distinct Jewish community was called Anjuvannam. The still-functioning synagogue in Mattancherry belongs to the Paradesi Jews, the descendants of Sephardim that were expelled from Spain in 1492, although the Jewish community in Mattancherry adjacent to Fort Cochin had only six remaining members as of 2015.
</p>
			</div>
			<div id="container">
     			
     			<div class="fbox"><img src="https://i.imgur.com/edKasSh.jpg" ></div>
     			<div class="fbox"><img src="https://i.imgur.com/oxiSU6S.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/wqXftGX.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/2OCo0oa.jpg"></div>
	 	






</div>
	 </body>
	</header></html>
