
<!DOCTYPE html>
<html>
<head>
	<title>Sikhism</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://i.imgur.com/6JPiXb0.jpg");
	https://imgur.com/TcE0kx1.jpg
	     	background-repeat: no-repeat;background-size: cover;, 
   			
   				
   				overflow:auto;
	     }
	     nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
 .sg{
 	margin-top: 20px;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.info{
        	
					padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-weight: 100px;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
    			    font-family: 'Dancing Script', cursive;
    		     	
				}
					.fbox{
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:300px;
        	height:250px;
        	border-radius: 15px;
        
        }
        	#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }


	     </style>
	 </head>
	 <body><header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h1 class="glow"><b>"SIKHISM"</b> </h1></div>
            <div class="sg"><p align="center"><img src="https://i.imgur.com/GFSwbqe.jpg" width="350" height="300"></p></div>
            <div class="about">
				<p class="info">
              In 1469, Guru Nanak Dev founded the Sikhism religion in Punjab. In the 19th century, the Sikhs arrive first time in the US. The basic meaning of the Sikh in Punjabi is Disciple or learner. This religion has more than 20 million followers in the world and it is the 5th largest religion in the world.

              The people of this religion all time talk about the loyalty and remembrance of God, the fairness of mankind, living truly and many other things. They criticize the fallacy and blind customs. This religion is open to all the people by getting knowledge of Shri Guru Granth Sahib. This book is written in the style of poetry and also includes saints of other religions. They believe that there is only one god. They also believe that they can come closer to the god by helping other human beings. The Sikh people treat and believe that both man and woman have equal rights. The Sikh people believe that it is their duty to help needy or poor people, sharing with others, hard work, honesty, one creator and remember god at all the time.
              Sikhism religion gives equal right to every caste, religion, and other peoples. These people don’t believe in fasting, customs, and other things. The worship place of the Sikh people is Gurudwara, where there is also a signer and prayer reader. One of the unique features of Gurudwara is the Langar. The langar is open for all age group and all religion of people every day.

              The Sikh people have 5 unique identities which include comb, sword, uncut hair, bracelets and shorts. The people of Sikh never cut and shave their hair, beard. They always wear a turban on their head and cover their hair.
.</p>
			</div>
			<div id="container">
     			
     			<div class="fbox"><img src="https://imgur.com/ndpF7t5.jpg" ></div>
     			<div class="fbox"><img src="https://i.imgur.com/ie5igqy.jpg"></div>
     			<div class="fbox"><img src="https://imgur.com/RFV33CU.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/RJu82V7.jpg"></div>
     			






</div>
	 </body>
	</header></html>
