<!DOCTYPE html>
<html>
<head>
	<title>indian religions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background-image:url('https://i.imgur.com/6JPiXb0.jpg');
	     	background-repeat: no-repeat;background-size: cover;, 
   			
   				
   				overflow:auto;
	     }
	     nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
 .sg{
 	margin-top: 20px;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.info{
        	
					padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-weight: 100px;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
    			    font-family: 'Dancing Script', cursive;
    		     	
				}
					.fbox{
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:300px;
        	height:250px;
        	border-radius: 15px;
        
        }
        	#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }


	     </style>
	 </head>
	 <body><header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><h1 class="glow"><b>"The bahai"</b> </h1></div>
            <div class="sg"><p align="center"><img src="https://i.imgur.com/MYPDaMl.jpg" width="300" height="200"></p></div>
            <div class="about">
				<p class="info">The Baháʼí Faith in India is very small in proportion to the national population, but it is numerically large and has a long history culminating in recent times with the notable Lotus Temple, various Baháʼí schools, and increasing prominence. According to the 2016 World Religion Database, India had just over 2 million Baháʼís in 2015, and according to the Association of Religion Data Archives data there were 1,898,000 Baháʼís in India in 2010; however, the 2011 Census of India recorded only 4,572.

Professor Pritam Singh is believed to be the first member of the Sikh community in India to accept the Baháʼí Faith, and the first to publish a Baháʼí weekly magazine in India. He learned of the religion from Mirzá Mahmud soon after his graduation from the University of Calcutta in 1904. By 1908 the Baháʼí pioneers and representatives of ʻAbdu'l-Bahá, then head of the religion, had produced functioning communities in Bombay, Calcutta, Aligarh and Lahore. Narayenrao Rangnath Shethji is believed to be the first convert from Hindu background. Better known as Vakil, he was born in a well-known Hindu family in Nawsari. He became a Baháʼí in 1909. Representatives of the Indian Zoroastrian community had been sent to Persia to help their coreligionists. There they came into contact with the religion and supported its activities. Later, several Iranian Zoroastrian converts to the religion traveled to Bombay (notably Mulla Bahram Akhtar-Khavari) and actively promulgated their new religion among local Zoroastrians.

As early as 1910 the national community in India was being urged to distinguish itself from Islam by Baháʼí institutions of America. National coordinated activities began and reached a peak with the December 1920, first All-India Baháʼí Convention, held in Bombay for three days. Representatives from India's major religious communities were present as well as Baha'i delegates from throughout the country. The resolutions arrived at included the collection of funds to build a Baha'i temple, the establishment of a Baha'i school and the growth of teaching and translation work—goals reached before the end of the century .
.</p>
			</div>
			<div id="container">
     			
     			<div class="fbox"><img src="https://i.imgur.com/ZMcFZXw.jpg" ></div>
     			<div class="fbox"><img src="https://i.imgur.com/7lwjUbK.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/nF6AMn7.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/XPFjPfZ.jpg"></div>
	 	






</div>
	 </body>
	</header></html>
