<!DOCTYPE html>
<html>
<head>
	<title>indian religions</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background-image:url('https://i.imgur.com/6JPiXb0.jpg');
	     	background-repeat: no-repeat;background-size: cover;, 
   			
   				
   			overflow:auto;
	     }
	     nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow {
  font-size:35px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
 .sg{
 	margin-top: 20px;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.info{
        	
					padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-weight: 100px;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
    			    font-family: 'Dancing Script', cursive;
    		     	
				}
					.fbox{
        	//border:1px solid red;
        	margin:10px 0px 10px;
        }
        .fbox img
        {
        	width:300px;
        	height:250px;
        	border-radius: 15px;
        
        }
        	#container {
			padding:0px 75px 10px;
			//border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            justify-content:space-around;
            width:100%;
        }
       
		 @media only screen and (max-width: 1024px){
			#title{
				width:100%;
				height: 100%;
			}
			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
		}
			 @media only screen and (max-width: 400px){
			#title{
				width:100%;
				height: 100%;
			}
			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
                font-family: 'Sofia', cursive;
				
			
			}
			.glow{
				font-size: 30px;
			}
		}

	     </style>
	 </head>
	 <body><header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
            </nav>
            <div id="title"><span style="text-align :center"><h1 class="glow"><b>"Zoroastrianism"</b> </h1></span>></div>
            <div class="sg"><p align="center"><img src="https://i.imgur.com/ZuR268w.png" width="350" height="200"></p></div>
            <div class="about">
				<p class="info">Zoroastrianism or Mazdayasna is one of the world's oldest continuously practiced religions. It is a multi-faceted faith centered on a dualistic cosmology of good and evil and an eschatology predicting the ultimate conquest of evil with theological elements of henotheism, monotheism/monism, and polytheism.

Ascribed to the teachings of the Iranian-speaking spiritual leader Zoroaster (also known as Zarathushtra), it exalts an uncreated and benevolent deity of wisdom, Ahura Mazda (Wise Lord), as its supreme being. Historical features of Zoroastrianism, such as messianism, judgment after death, heaven and hell, and free will may have influenced other religious and philosophical systems, including Second Temple Judaism, Gnosticism, Greek philosophy, Christianity, Islam, the Baháʼí Faith, and Buddhism.

With possible roots dating back to the second millennium BCE, Zoroastrianism enters recorded history in the 5th century BCE. It served as the state religion of the ancient Iranian empires for more than a millennium, from around 600 BCE to 650 CE, but declined from the 7th century onwards following the Muslim conquest of Persia of 633–654. Recent estimates place the current number of Zoroastrians at around 110,000–120,000 at most with the majority living in India, Iran, and North America; their number has been thought to be declining.

The most important texts of the religion are those of the Avesta, which includes as central the writings of Zoroaster known as the Gathas, enigmatic ritual poems that define the religion's precepts, which is within Yasna, the main worship service of modern Zoroastrianism.

.</p>
			</div>
			<div id="container">
     			
     			<div class="fbox"><img src="https://i.imgur.com/gjqBhop.jpg" ></div>
     			<div class="fbox"><img src="https://i.imgur.com/75BLgWF.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/jzjtifQ.jpg"></div>
     			<div class="fbox"><img src="https://i.imgur.com/RGSRgWB.jpg"></div>
	 	






</div>
	 </body>
	</header></html>
