<!DOCTYPE html>
<html>
<head>
	<title>indian dance</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background: rgba(0,0,0,2);font-family: 'Bad Script',cursive;
   			
   				
   				overflow:auto;
	     }
	     nav{
	     	width: 100%;height: 10vh;background: rgba(0,0,0,0.8);display: flex;justify-content: space-between;
	     }
	     nav a{
	     	color:#fff;font-weight: 500;font-size: 122%; text-decoration: none;text-transform: uppercase; padding-right: 30px;padding-top: 20px;
	     }
	     .logo{
	     	color: white;font-size: 22px;font-weight: 400;padding-left: 7%;
	     }
	     .maah{
	     	text-align: center;padding-top: 12px;color:white;font-weight: 400;text-transform: uppercase; 
	     }
	     h1{
	     	margin: 0px;padding: 0px;font-size: 3em;
	     }
	     h1 span{
	     	  animation:animate 2s linear infinite;
	     }
	     h1 span:nth-child(1)
	     {
              animation-delay: 0s;
	     }
	      h1 span:nth-child(2)
	     {
              animation-delay: 0.25s;
	     }
	      h1 span:nth-child(3)
	     {
              animation-delay: 0.5s;
	     }
	      h1 span:nth-child(4)
	     {
              animation-delay: 0.75s;
	     }
	      h1 span:nth-child(5)
	     {
              animation-delay: 1s;
	     }
	      h1 span:nth-child(6)
	     {
              animation-delay: 1.25s;
	     }
	      h1 span:nth-child(7)
	     {
              animation-delay: 1.5s;
	     }
	      h1 span:nth-child(8)
	     {
              animation-delay: 1.75s;
	     }
	      h1 span:nth-child(9)
	     {
              animation-delay: 2s;
	     }
	      h1 span:nth-child(10)
	     {
              animation-delay: 2.25s;
	     }
	      h1 span:nth-child(11)
	     {
              animation-delay: 2.5s;
	     }
	      h1 span:nth-child(12)
	     {
              animation-delay: 2.75s;
	     }
	      h1 span:nth-child(13)
	     {
              animation-delay: 3s;
	     }
	     @keyframes animate {
	     	0%,100%{
	     		color: #fff;filter: blur(0.5px);text-shadow: 0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff;


	     		                                          }
	     	5%,95%{
	     		color: #111;filter: blur(0px);text-shadow: 0 0 10px none;
	     	}
	     }
	     .img{
	     	object-fit: contain;
        	margin-top: 10px;
        	width: 25%;
        	height: 25%;
        justify-content: center;
        }
        .info{
        	
					padding: 10px;
					text-align:justify;
				    overflow-x: hidden;
				    display: flex;
				    color:#00FF7F;justify-content: center;
    			    align-items: center;font-family: 'Bad Script', cursive;
    		     	text-transform: uppercase;
    		     	letter-spacing: 2px;
    		    	word-spacing: 4px; 
    		    	font-size:15px;margin-left: 10px;margin-right: 10px;
    		    	font-weight: 20px;
				}

		@media only screen and (max-width: 420px){
			.img{
				width:100%;
				height: 100%;
			}
		}
		</style>
        
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h2 class="animated infinite heartBeat">Bharatwasii</h2></div>
			<a href="#">Home</a>
		</nav>
			<div class="maah"><h1><span>K</span>
				                  <span>U</span>
				                  <span>C</span>
				                  <span>H</span>
				                  <span>I</span>
				                  <span>P</span>
				                  <span>U</span>
				                  <span>D</span>
				                  <span>I</span>
				                 
				                  
			</h1></div>
			<p align="center"><img class="img"src="https://i.imgur.com/Gd7wvhx.jpg"></p>
				<div class="about">
				<p class="info"><b>Kuchipudi derives its name from the village of Kuchelapuram, in Andhra Pradesh, India. As a classical form of dance, drama and music Kuchipudi enjoys a unique place among the Indian classical idioms. Kuchipudi grew largely as a product of the Bhakti movement beginning in the seventh century A.D. However, it was in the 14th century that the ascetic Siddhendra Yogi appeared on the scene and gave Kuchipudi a new definition and direction.
Kuchipudi was originally a male dance tradition. Groups of men traveled from village to village enacting stories from the Hindu mythology. As in Elizabethan theatre men portrayed the roles of women. It was only in last 9 or 10 decades that women were introduced to this art form. Kuchipudi in its present form is the result of the vision of stalwarts like Vempati Chinna Satyam and the late Vedantam Laxminarayana Shastry.
Kuchipudi is characterized by fast rhythms and fluid movements, creating a unique blend of control and abandon, strength and delicacy.</b>



.</p>
			</div>
	</body>