<!DOCTYPE html>
<html>
<head>
	<title>indian dance</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet"href='https://fonts.googleapis.com/css?family=Bad+Script'rel="stylesheet">
		
	<style>
		*{
			margin: 0px;padding: 0px;box-sizing: border-box;
		}

	     body{
	     	background: rgba(0,0,0,2);font-family: 'Bad Script',cursive;
   			
   				
   				overflow:auto;
	     }
	     nav{
	     	width: 100%;height: 10vh;background: rgba(0,0,0,0.8);display: flex;justify-content: space-between;
	     }
	     nav a{
	     	color:#fff;font-weight: 500;font-size: 122%; text-decoration: none;text-transform: uppercase; padding-right: 30px;padding-top: 20px;
	     }
	     .logo{
	     	color: white;font-size: 22px;font-weight: 400;padding-left: 7%;
	     }
	     .maah{
	     	text-align: center;padding-top: 12px;color:white;font-weight: 400;text-transform: uppercase; 
	     }
	     h1{
	     	margin: 0px;padding: 0px;font-size: 3em;
	     }
	     h1 span{
	     	  animation:animate 2s linear infinite;
	     }
	     h1 span:nth-child(1)
	     {
              animation-delay: 0s;
	     }
	      h1 span:nth-child(2)
	     {
              animation-delay: 0.25s;
	     }
	      h1 span:nth-child(3)
	     {
              animation-delay: 0.5s;
	     }
	      h1 span:nth-child(4)
	     {
              animation-delay: 0.75s;
	     }
	      h1 span:nth-child(5)
	     {
              animation-delay: 1s;
	     }
	      h1 span:nth-child(6)
	     {
              animation-delay: 1.25s;
	     }
	      h1 span:nth-child(7)
	     {
              animation-delay: 1.5s;
	     }
	      h1 span:nth-child(8)
	     {
              animation-delay: 1.75s;
	     }
	      h1 span:nth-child(9)
	     {
              animation-delay: 2s;
	     }
	      h1 span:nth-child(10)
	     {
              animation-delay: 2.25s;
	     }
	      h1 span:nth-child(11)
	     {
              animation-delay: 2.5s;
	     }
	      h1 span:nth-child(12)
	     {
              animation-delay: 2.75s;
	     }
	      h1 span:nth-child(13)
	     {
              animation-delay: 3s;
	     }
	     @keyframes animate {
	     	0%,100%{
	     		color: #fff;filter: blur(0.5px);text-shadow: 0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff,
	     		                                          0 0 10px #00b3ff;


	     		                                          }
	     	5%,95%{
	     		color: #111;filter: blur(0px);text-shadow: 0 0 10px none;
	     	}
	     }
	     .img{
	     	object-fit: contain;
        	margin-top: 10px;
        	width: 50%;
        	height: 50%;
        justify-content: center;
        }
        .info{
        	
					padding: 10px;
					text-align:justify;
				    overflow-x: hidden;
				    display: flex;
				    color:#008080;justify-content: center;
    			    align-items: center;font-family: 'Bad Script', cursive;
    		     	text-transform: uppercase;
    		     	letter-spacing: 2px;
    		    	word-spacing: 4px; 
    		    	font-size:15px;margin-left: 10px;margin-right: 10px;
    		    	font-weight: 40px;
				}

		@media only screen and (max-width: 420px){
			.img{
				width:100%;
				height: 100%;
			}
		}
		</style>
        
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h2 class="animated infinite heartBeat">Bharatwasii</h2></div>
			<a href="#">Home</a>
		</nav>
			<div class="maah"><h1><span>S</span>
				                  <span>A</span>
				                  <span>T</span>
				                  <span>T</span>
				                  <span>R</span>
				                  <span>I</span>
				                  <span>Y</span>
				                  <span>A</span>
				                  
				                 
				                  
			</h1></div>
			<p align="center"><img class="img"src="https://i.imgur.com/fGQXMdE.jpg"></p>
				<div class="about">
				<p class="info"><br>Assam is a land known for its animated colors, rich history and a culture which is basically a hybrid of many different traditions and values. Assamese ethnicity is extremely popular when it comes to different handicrafts and visual arts, namely dance. The Sattriya dance, which is a prehistoric Indian classical dance form, is amongst the 8 most renowned Indian traditional dances. The perfectly executed hand movements, bright and dramatic colored sarees, exuberant expressions and a sense of gaiety that creates a halo around this dance makes it nothing less of a visual treat for the spectators.</br>

<br>
The inception of the Sattriya dance dates itself back to the 15th century, and this dance form is approximately 500 years old. Unlike some other classical dances intrinsic to Assamese culture which have undergone several innovations in terms of technique and style, the Sattriya dance has been left untouched in this regard and has been the same since its birth. The great saint Srimanta Sankardev was the founder of this dance and gave it the recognition and popularity, which till date stands extremely strong. Under the patronage of Srimanta Sankardev, the social and religious group known as the ‘Sattras’ formulated this dance to celebrate their beliefs which were embedded in Hinduism and its various teachings.</br>
<br>
What is interesting is that initially this dance form was only performed by males; female dancers were introduced to this dance much later.
</br>



.</p>
			</div>
	</body>