<!DOCTYPE html>
<html>
<head>
	<title>Bhangarh Fort</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/jh3rDTo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Bhangarh Fort</i></b></span></div>
		<div class="description">
			<span class="des">The Bhangarh Fort is a 17th-century fort built in the Rajasthan state of India.It was built by Bhagwant Das for his younger son Madho Singh I.The fort and its precincts are well preserved.<br><br>The Bhangarh Fort is located on the border of the Sariska Reserve in the Aravali range of hills in Alwar district of Rajasthan.The nearest village is Gola ka Baas.The fort is situated at the foot of the hills on sloping terrain. The ruins of the king's palace are located on the lower slope of the hills; trees surround the pond area and a natural stream falls into the pond within the premises of the palace.<br><br>According to legend, a sadhu named Baba Balak Nath lived within the fort area, and it was his injunction that any house built in the precinct of the fort should not be taller than his own, and if the shadow of any such house fell on his, it would result in destruction of the fort town.According to another tale, a wizard adept in black magic named Sinhai fell in love with Ratnavati, a beautiful Bhangarh princess with many suitors. One day, the wizard followed her to the marketplace and offered her a love potion; however, she refused it, throwing it onto a large rock that consequently rolled onto the wizard and crushed him to death.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/dUovhcagJuNqAbEu6" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.9013849288185!2d76.28398201504885!3d27.096405183048905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396d8522c8a74f25%3A0x59400bd073d17528!2sBhangarh%20Fort!5e0!3m2!1sen!2sin!4v1596217462506!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



