<!DOCTYPE html>
<html>
<head>
	<title>Chitorgarh fort</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/XzjxdfQ.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Chitorgarh fort</i></b></span></div>
		<div class="description">
			<span class="des">The Chittor Fort or Chittorgarh is the largest forts in India. It is a UNESCO World Heritage Site. The fort was the capital of Mewar and is located in the present-day town of Chittor. It sprawls over a hill 180 m (590.6 ft) in height spread over an area of 280 ha (691.9 acres) above the plains of the valley drained by the Berach River. The fort precinct has several historical palaces, gates, temples and two prominent commemorative towers.<br><br>Beginning in the 7th century, the fort was controlled by the Mewar Kingdom. From the 9th to 13th centuries,[citation needed] the fort was ruled by Paramara dynasty. In 1303, the Turkic ruler of Delhi, Alauddin Khalji defeated Rana Ratan Singh's forces at the fort. In 1535 Bahadur Shah, the Sultan of Gujarat, defeated Bikramjeet Singh and took the fort. In 1567 Akbar defeated Maharana Udai Singh II's troops. The fort's defenders sallied forth to charge the attacking enemy but yet were not able to succeed. Following these defeats, the men committed saka, where they would ritually march to the battlefield expecting certain death; while the women are said to have committed jauhar or mass self-immolation, an example of which was led by Rani Karnavati on 8 March 1535 CE. The rulers, soldiers, noblewomen, and commoners considered death preferable to the mass rape and pillaging that was thought to occur following to surrender to the Sultanate forces.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/1BUHv8ARM4satKpi7" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.2955319217726!2d74.64290391500336!3d24.887899084040995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3968a0f41033ea0d%3A0x4ef923088d726382!2sChittor%20Fort%20.!5e0!3m2!1sen!2sin!4v1596186385827!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



