<!DOCTYPE html>
<html>
<head>
	<title>Jal Mahal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/Dnk830t.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Jal Mahal</i></b></span></div>
		<div class="description">
			<span class="des">Jal Mahal is a palace in the middle of the Man Sagar Lake in Jaipur city, the capital of the state of Rajasthan, India. The palace and the lake around it were renovated and enlarged in the 18th century by Maharaja Jai Singh II of Amber.<br><br>The Jal Mahal palace is an architectural showcase of the Rajput style of architecture (common in Rajasthan) on a grand scale. The building has a picturesque view of the lake itself but owing to its seclusion from land is equally the focus of a viewpoint from the Man Sagar Dam on the eastern side of the lake in front of the backdrop of the surrounding Nahargarh ("tiger-abode") hills. The palace, built-in red sandstone, is a five storied building, of which four floors remain underwater when the lake is full and the top floor is exposed.[1] One rectangular Chhatri on the roof is of the Bengal type. The chhatris on the four corners are octagonal. The palace had suffered subsidence in the past and also partial seepage (plasterwork and wall damage equivalent to rising damp) because of waterlogging, which have been repaired under a restoration project of the Government of Rajasthan.<br><br>The restoration works of the early 2000s were not satisfactory and an expert in the field of similar architectural restoration works of Rajasthan palaces carefully examined the designs that could decipher the originally existing designs on the walls, after removing the recent plasterwork. Based on this finding, restoration works were re-done with traditional materials for plastering – the plaster consists of partly organic material: a mortar mix of lime, sand and surkhi mixed with jaggery, guggal and methi powder. It was also noticed that there was hardly any water seepage, except for a little dampness, on the floors below the water level. But the original garden, which existed on the terrace had been lost. Now, a new terrace is being created based on a similar roof garden of the Amer Palace. The building is located near the shoreline of a lake with a maximum depth of 15 ft. Though 4 stories of the building are under the surface of the water, they would be built into the bed of the lake.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/e9NA1VfmB9FitjKeA" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3556.424030656081!2d75.84394931504588!3d26.95346818311003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db11be9767295%3A0x97d34f11a313abd2!2sJal%20Mahal!5e0!3m2!1sen!2sin!4v1596186804209!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



