<!DOCTYPE html>
<html>
<head>
	<title>Mehrangarh fort</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/GvDl896.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Mehrangarh Fort</i></b></span></div>
		<div class="description">
			<span class="des">Mehrangarh, located in Jodhpur, Rajasthan, is one of the largest forts in India. Built in around 1459 by Rao Jodha, the fort is situated 410 feet (125 m) above the city and is enclosed by imposing thick walls. Inside its boundaries there are several palaces known for their intricate carvings and expansive courtyards. A winding road leads to and from the city below. The imprints of the impact of cannonballs fired by attacking armies of Jaipur can still be seen on the second gate. To the left of the fort is the chhatri of Kirat Singh Soda, a soldier who fell on the spot defending Mehrangarh.<br><br>There are seven gates, which include Jayapol (meaning 'victory gate'), built by Maharaja Man Singh to commemorate his victories over Jaipur and Bikaner armies. There is also a Fattehpol (also meaning 'victory gate'), which commemorates Maharaja Ajit Singhji victory over Mughals.<br><br>The museum in the Mehrangarh fort is one of the most well-stocked museums in Rajasthan. In one section of the fort museum, there is a selection of old royal palanquins, including the elaborate domed gilt Mahadol palanquin which was won in a battle from the Governor of Gujarat in 1730. The museum exhibits the heritage of the Rathores in arms, costumes, paintings and decorated period.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/opxb3fyvewJXcooP6" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3576.881651293733!2d73.01665531503205!3d26.297936383396166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418db7f5a4e8d5%3A0x91c3eb1d93338906!2sMehrangarh%20Fort%20and%20Museum!5e0!3m2!1sen!2sin!4v1596214375857!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



