<!DOCTYPE html>
<html>
<head>
	<title>Rajasthan Tourism</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/vrNyz8W.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 30px;
	font-weight: 700;
	font-size:22px;
}

            #title{
				width:100%;
				text-align:center;
				text-transform: uppercase;
				
			}

			#outer{
				height:100%;
				width:100%;
				border:1px solid;
			}
			
			.gallery{
			/*	border:1px solid;*/
			}
			.gallery img{
				width:100%;
				height: auto;
				border-radius: 5px 5px 5px 5px;
			}
			.place{
				padding:3px;
				text-align:center;
				color: white;
				font-size: 20px;
				
				
			}
			.responsive{
				padding:0 15px;
				float:left;
				width:20%;
				padding-top: 30px;

			}
			.chnge:after{
    			content:'';
    			animation:changetext 10s infinite linear;color:#00b894;
			}
			@media only screen and (max-width: 1000px){
				.responsive{
					width:50%;
					margin:6px 0;
				}
			}

			@media only screen and (max-width: 500px){
				.responsive{
					width:100%;	

				}
  </style>
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
                <a href="#">Home</a>
		</nav>
         <div id="title"><br><span style="color:white; text-shadow:2px 2px black"><h1><b><i> Rajasthan Tourist Place</i></b></h1></span></div>

				<div class="responsive">
					<div class="gallery">
						<a href="Hawa Mahal " target="_blank"><img src="https://i.imgur.com/H5mDbXf.jpg" width="300" height="200"></a>
						<div class="place">Hawa-Mahal </div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="Jaisalmer fort " target="_blank"><img src="https://i.imgur.com/OhoB1Yg.jpg" width="300" height="200"></a>	
						<div class="place">Jaisalmer-fort</div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="Chittorgarh fort " target="_blank"><img src="https://i.imgur.com/xyclYw4.jpg" width="300" height="200"></a>	
						<div class="place">Chittorgarh-Fort </div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="Jal Mahal " target="_blank"><img src="https://i.imgur.com/k78XwCN.jpg" width="300" height="200"></a>	
						<div class="place">Jal-Mahal </div>					
					</div>
				</div>	

				<div class="responsive">
					<div class="gallery">
						<a href="Amer Fort " target="_blank"><img src="https://i.imgur.com/d3LlFNe.jpg" width="300" height="200"></a>
						<div class="place">Amer-fort</div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="Jaigarh Fort " target="_blank"><img src="https://i.imgur.com/9k1UoVa.jpg" width="300" height="200"></a>	
						<div class="place">Jaigarh-Fort</div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="Junargarh Fort " target="_blank"><img src="https://i.imgur.com/2kj2cf5.jpg" width="300" height="200"></a>	
						<div class="place">Junagarh-Fort </div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="Lake Pichola " target="_blank"><img src="https://i.imgur.com/nUFChyZ.jpg" width="300" height="200"></a>	
						<div class="place">Lake-Pichola </div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Khwaja Dargah " target="_blank"><img src="https://i.imgur.com/pEbSE6d.jpg" width="300" height="200"></a>	
						<div class="place">Khwaja-Dargah</div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Kumbhalgarh Fort " target="_blank"><img src="https://i.imgur.com/GFUMR2P.jpg" width="300" height="200"></a>	
						<div class="place">Kumbhalgarh-Fort</div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Badalgarh fort " target="_blank"><img src="https://i.imgur.com/I5K0ZUS.jpg" width="300" height="200"></a>	
						<div class="place">Badalgarh-Fort</div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Mehrangarh fort " target="_blank"><img src="https://i.imgur.com/V7Gq6Uc.jpg" width="300" height="200"></a>	
						<div class="place">Mehrangarh-Fort </div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Ranthambore Fort " target="_blank"><img src="https://i.imgur.com/Mt8zAGO.jpg" width="300" height="200"></a>	
						<div class="place">Ranthambore-Fort</div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Ranakpur Jain " target="_blank"><img src="https://i.imgur.com/hFz8gb1.jpg" width="300" height="200"></a>	
						<div class="place">Ranakpur-Jain </div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Taragarh Fort " target="_blank"><img src="https://i.imgur.com/isySBiz.jpg" width="300" height="200"></a>	
						<div class="place">Taragarh-Fort </div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Sariska National Park " target="_blank"><img src="https://i.imgur.com/SdRIPSJ.jpg" width="300" height="200"></a>	
						<div class="place">Sariska Tiger Reserve</div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="Bhangarh Fort " target="_blank"><img src="https://i.imgur.com/GrOQSbR.jpg" width="300" height="200"></a>	
						<div class="place">Bhangarh-Fort </div>					
					</div>
				</div>			

				<div class="responsive">
					<div class="gallery">
						<a href="City Palace " target="_blank"><img src="https://i.imgur.com/cj0I44b.jpg" width="300" height="200"></a>	
						<div class="place">City-Palace </div>					
					</div>
				</div>			

				


	</header>

</body>
</html>
