<!DOCTYPE html>
<html>
<head>
	<title>Ranakpur Jain</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/WeoW7IG.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Ranakpur Jain</i></b></span></div>
		<div class="description">
			<span class="des">Ranakpur Jain temple or Chaturmukha Dharana Vihara is a Jain temple at Ranakpur is dedicated to Tirthankara Rishabhanatha.The temple is located in a village of Ranakpur near Sadri town in the Pali district of Rajasthan.<br><br>Darna Shah, a local Jain businessperson, started construction of the temple in the 15th century following a divine vision. The temple honors Adinath, the first Tirthankar of the present half-cycle (avasarpiṇī) according to Jain cosmology.The Ranakpur temple is one of the largest and most important temples of Jain culture.The campus includes various temples such as Chaumukha temple, Surya temple, Suparshvanatha temple and Amba temple.<br><br>The construction is well documented in a 1436 CE copper-plate record, inscriptions in the temple and a Sanskrit text Soma-Saubhagya Kavya. Inspired by a dream of a celestial vehicle, Dharna Shah,a Porwal from Ghanerao, commenced its construction in 1389, under the patronage of Rana Kumbha, then ruler of Mewar. The architect who oversaw the project was named Dwepa.There is an inscription on a pillar near the main shrine stating that in 1439 Deepaka, an architect, constructed the temple at the direction of Dharanka, a devoted Jain.When the ground floor was completed, Acharya Soma Sundar Suri of Tapa Gaccha supervised the ceremonies, which are described in Soma-Saubhagya Kavya.The construction continued until 1458 CE. However, according to the audio guide provided to visitors to the site, construction lasted fifty years (and involved 2785 workers).Another source reports that construction continued until 1496, fifty years from 1446. The town of Ranakpur and the temple are named after the provincial ruler monarch, Rana Kumbha who supported the construction of the temple.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/7X6WDMfzKDvyZ3Fn8" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.592323443435!2d73.47068481500789!3d25.115657983934206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3968200ebea75025%3A0xded51f5beb355524!2sRanakpur%20Jain%20Temple!5e0!3m2!1sen!2sin!4v1596216079232!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



