<!DOCTYPE html>
<html>
<head>
	<title>Ranthambore Fort</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/sQ4HZZK.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Ranthambore Fort</i></b></span></div>
		<div class="description">
			<span class="des">Ranthambore Fort lies within the Ranthambore National Park, near the city of Sawai Madhopur, the park being the former hunting grounds of the Maharajahs of Jaipur until the time of India's Independence. It is a formidable fort having been a focal point of the historical developments of Rajasthan. The fort was held by the Chahamanas (Chauhans) until the 13th century, when the Delhi Sultanate captured it.<br><br>In 2013, at the 37th session of the World Heritage Committee, Ranthambore Fort, along with 5 other forts of Rajasthan, was declared a UNESCO World Heritage Site under the group Hill Forts of Rajasthan.<br><br>A widely held belief states that the fort was built in the reign of Sapaldaksha, in 944 CE. Another theory states that the fort was built during the reign of Jayant, in 1110 CE. According to Government of Rajasthan's Amber Development & Management Authority, it is likely that the construction started in the mid-10th century during the reign of Sapaldaksha, and continued a few centuries after that.<br><br>Its earlier name was Ranastambha or Ranastambhapura. It was associated with Jainism during the reign of Prithviraja I of Chahamana (Chauhan) dynasty in the 12th century. Siddhasenasuri, who lived in the 12th century has included this place in the list of holy Jain tirthas. In the Mughal period, a temple of Mallinatha was built in the fort.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/CqB3EJeeKQUiWaQj8" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28683.682814267235!2d76.43866298471873!3d26.018489495317873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396e277def3ba853%3A0xc649062f5d92f021!2sRanthambore%20Fort!5e0!3m2!1sen!2sin!4v1596214815275!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



