<!DOCTYPE html>
<html>
<head>
	<title>Sariska Tiger Reserve</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/IXq8eIv.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Sariska Tiger Reserve</i></b></span></div>
		<div class="description">
			<span class="des">Sariska Tiger Reserve is a tiger reserve in Alwar district, Rajasthan, India. It stretches over an area of 881 km2 (340 sq mi) comprising scrub-thorn arid forests, dry deciduous forests, grasslands, and rocky hills. This area was a hunting preserve of the Alwar state and was declared a wildlife reserve in 1955. It was given the status of a tiger reserve making it a part of India's Project Tiger in 1978. The wildlife sanctuary was declared a national park in 1990, with a total area of about 273.8 km2 (105.7 sq mi).It is the first reserve in the world with successfully relocated tigers. It is an important biodiversity area in the Northern Aravalli leopard and wildlife corridor.<br><br>The park is situated 106 km (66 mi) away from Hindaun, 107 km (66 mi) from Jaipur and 200 km (120 mi) from Delhi.It is a part of the Aravalli Range and the Khathiar-Gir dry deciduous forests ecoregion.It is rich in mineral resources, such as copper. In spite of the Supreme Court's 1991 ban on mining in the area, marble mining continues to threaten the environment.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/9WgHEhgacXb9HKXu9" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3545.0877280586424!2d76.43672801505348!3d27.310442882957794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396d7fad54382e5d%3A0x4860ac432e594e26!2sSariska%20Tiger%20Reserve!5e0!3m2!1sen!2sin!4v1596217087343!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



