<!DOCTYPE html>
<html>
<head>
	<title>Taragarh Fort</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet"> 
	<style>
            *{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Caveat', cursive;
      }
    body{
    width: 100%;height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('https://i.imgur.com/isySBiz.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: fixed;
    
}
nav{
    width:100%;height:15vh;
    background:rgba(0,0,0,0.3);
    color:white;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav a{
	text-decoration: none;
	color:white;
	padding-right: 35px;
	font-weight: 700;
	font-size:22px;
}


		#title {
			width:100%;
			height:70px;
			text-align:center;
			text-transform: uppercase;
			padding-top: 15px;
			font-family:serif;
			font-size: 33px;

		}			

		.des{
				padding: 10px;
				padding-left: 25px;
				text-align:justify;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family:serif;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:20px;
			}
			
			.description{
				width:65%;
				float:left;
			}
			
			.map{
			height: auto;
			width:35%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;
			padding-right: 25px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
		}

	</style>	
</head>
<body>
	<header>
		<nav>
			<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="#">Home</a>
		</nav>
		<div id="title"><span style="color:white;font-family:serif;text-transform: uppercase;"><b><i>Taragarh Fort</i></b></span></div>
		<div class="description">
			<span class="des">Taragarh Fort or Star Fort is a structure in the city of Ajmer in the Indian state of Rajasthan. It was constructed in 1113 AD upon a steep hillside and built under the reign of King Ajaypal Chauhan.<br><br>There are three gateways to the fort known as Lakshmi Pol, Phuta Darwaza, and Gagudi ki Phatak. Most parts of these gateways are now in ruins. During its heyday, Taragarh Fort was renowned for its tunnels crisscrossing the entire hillside. However, these tunnels are now inaccessible. The largest of its battlements is the 16th-century bastion known as the Bhim Burj, on which was once mounted a large cannon called Garbh Gunjam, or 'Thunder from the Womb'.<br><br>In the fort are water reservoirs. These reservoirs were built to store water and supply the residents during times of crisis. The reservoirs have been carved out of the rocky base of the fort. Rani Mahal is a small palace within the fort complex, built for the wives and concubines of the rulers.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/AAkaM6rymkjYUci96" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.6305695927877!2d75.63498601501459!3d25.45061168377887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396f093947783c33%3A0x73510fef291368b6!2sTaragarh%20Fort!5e0!3m2!1sen!2sin!4v1596216435640!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
	</header>

</body>
</html>



