<!DOCTYPE html>
<html>
	<head>
		<title>bhedaghat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/u5pU04k.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Sofia', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Sofia', cursive;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 18px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
				.glow{
					font-size: 40px;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 16px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
				.glow{
					font-size: 35px;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="mp ">Go Back</a>
            </nav>
            <div id="title"><h1>bhedaghat</h1></div>
			<div class="description">
				</br>
			</br>
				<h1 class="glow"><b>"The Land of the Marble Rocks" </b> </h1>
			</br>
			<span class="des">Bhedaghat is known for the Dhuandar Falls (Dhuan means smoke and Dhar means flow), a huge cascade of water that falls from a height of 98 feet. Boating in Bhedaghat especially during the moonlit night would surely make up for an unforgettable experience. The boatmen of these place are storytellers that will tell you about the place in the form of interesting stories.
<br/>
			</br>
			Also regarded as the Marble Rocks of Bhedaghat, this small town has earned a reputation for the massive 100 ft rocks on either side of the Narmada. Bhedaghat is in close proximity of one of the major cities of Madhya Pradesh of Jabalpur.
</br>
</br>
The other notable attractions include 64 Yogini Temple and 'Bandar Kudini', a spot where two cliffs are so close to each other that monkeys hop over from one side to another.


			
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/rNqUqVKYSUZNUY7f6">

			    
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.0601751921386!2d79.79915676465578!3d23.13147563489801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981b43b7ed09283%3A0x337bbbc5541e09e3!2sBhedaghat%2C%20Madhya%20Pradesh%20483053!5e0!3m2!1sen!2sin!4v1597293238448!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
</html>