<!DOCTYPE html>
<html>
	<head>
		<title>Ujjain</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/pVXhSuU.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Sofia', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Sofia', cursive;
    			
    			
    			letter-spacing: 3px;
    			word-spacing: 5px; 
    			font-size:22px;
			}
			
			.description{
				width:50%;
				float:left;
			}
			.glow {
  font-size:50px;
  color: black;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1325F0, 0 0 40px #1325F0, 0 0 50px #1325F0, 0 0 60px #1325F0, 0 0 70px #1325F0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 18px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
				.glow{
					font-size: 40px;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 16px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
				.glow{
					font-size: 35px;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="mp ">Go Back</a>
            </nav>
            <div id="title"><h1>bhimbetka</h1></div>
			<div class="description">
				</br>
			</br>
				<h1 class="glow"><b>"The Exotic Rock Shelters"</b> </h1>
			</br>
			<span class="des">The Bhimbetka rock shelters are an archaeological site, exhibiting the earliest traces of human life on the Indian subcontinent, and thus the beginning of the South Asian Stone Age. It was declared a World Heritage Site in 2003.
<br/>
			</br>
			Bhimbetka is home to more than 500 rock shelters and caves which have a large number of paintings. The oldest paintings are considered to be 30,000 years old, but some of the geometric figures date to as recently as the medieval period. The colours used are vegetable colours which have endured through time because the drawings were generally made deep inside a niche or on inner walls. It a great place to visit for people of almost all age groups.



			
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/mFRzS3Nq45ZwAWvR9">

			    
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.289958741702!2d77.61024441465179!3d22.939546084995083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c357473b13b3f%3A0xb8823ee0ae5de8e6!2sBhimbetka%20rock%20shelters!5e0!3m2!1sen!2sin!4v1597292254082!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
</html>