<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Baloo+bhei+2&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
*
{
margin:0px;
padding:0px;
box-sizing:border-box;
}
body
{
height:100vh;
width:100%;
background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://i.imgur.com/E7ozA0V.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
overflow: auto;
background-position:center;
}
.container1
{
width:50%;
float:left;
}
.container2{

				padding:0 6px;
				float:left;
				width:25%;
				padding-top: 20px;
				justify-content:space-around;


				}
.fuse img{
				width:100%;
				border-radius:25px;
				
				
			}

.son
{
padding: 10px;
text-align:justify;
overflow-x: hidden;
display: flex;
justify-content: center;
align-items: center;
color:white;
text-transform: uppercase;
letter-spacing: 2px;
word-spacing: 5px; 
font-size:18px;
font-family:'baloo bhai 2', cursive;
}
.shihojabhai{
	padding-bottom:450px;
}
nav
{
width:100%;
height:15vh;
background:rgba(0,0,0,0.7);
color:white;
display: flex;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
font-family:'baloo bhai 2', cursive;
}
nav .logo
{
 width: 25%;
text-align: center;    
}
nav a
{
text-decoration: none;
color:#00b894;
padding-right: 30px;
font-weight: 700;
font-size:30px;
}
#title
{
width:100%;
height:72px;
font-family:'baloo bhai 2', cursive;
}
#title h1
{
text-align:center;
text-transform: uppercase;
padding-top: 20px;
color:#fff;
}
.map{
height: auto;
width:50%;/*border:1px solid;*/
float:right;
padding: 10px;
margin-right: 0px;	
}
.map-tile{
width:100%;
height:100%;
}
@media only screen and (max-width: 1000px){
.son{
font-size: 15px; 
font-family:'baloo bhai 2', cursive;
}
.container1
{
width:100%;
}
.map
{
width:100%;
}
.container2{
					width:50%;
					margin:6px 0;
				}
}
@media only screen and (max-width: 400px){
.son
{
font-size: 13px;
}
.container1
{
width: 100%;
}
.map
{
width:100%;
}
.container2{
					width:100%;
					
				}
}

</style>
</head>
<body>
<nav>
<div class="logo"><h1 >Bharatwasii</h1></div>
 <a href="manipur.html">Home</a>
 </nav>
 <div id="title"><h1>About Senapati</h1></div>
 <div class="shihojabhai">
<div class="container1">
<span class ="son">
Senapati District is located in the northern part of Manipur bordered by Phek district on the North, Tamenglong District on the West, Imphal East and West District on the South and Ukhrul district on the east. The general topography of the district is hilly. The hills run in the north to south alignment gradually sloping down to south meeting the plain of Manipur valley. National Highway 39 stretches through the heart of the district. Sekmai is the South of the district. Mao bordered the Nagaland in the North end. Total land area of 60% of the district is forest and 40% is arable land. The land is rich of flora and fauna. The forest is adorned with centuries old trees. The district comes under humid Sub-tropical climate.
</span><br/></div>
<div class="map"><a href= https://goo.gl/maps/EJrtLihqwbwJaNK38  target="_blank">
<div id="map-tile">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14432.03030281959!2d94.01374338052928!3d25.270330596133718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3748bf040a9aa7cf%3A0xede33029cf3c90e2!2sSenapati%2C%20Manipur!5e0!3m2!1sen!2sin!4v1598555600236!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</a>
</div>
</div>
</div>
<div class="container2">
<div class="fuse"><img src="https://i.imgur.com/MR5llvu.jpg" width="250" height="200" /></div></div>
<div class="container2">
<div class="fuse"><img src="https://i.imgur.com/dgn9p6R.jpg" width="250" height="200"/></div></div>
<div class="container2">
<div class="fuse"><img src="https://i.imgur.com/1gtrJa6.jpg" width="250" height="200"/></div></div>
<div class="container2">
<div class="fuse"><img src="https://i.imgur.com/Ue4KwDg.jpg" width="250" height="200"/></div></div>
</body>
</html>