<!DOCTYPE html>
<html>
	<head>
		<title>MEGHALAYA</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/QzFTx7p.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h1{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			#outer{
				height:100%;
				width:100%;
				border:1px solid;
			}
			
			.gallery img{
				width:100%;
				
			}
			.wlink{
				padding:15px;
				text-align:center;
				overflow-x: hidden;
				display: flex;
				text-decoration: none;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: bolder; 
    			
			}
			.responsive{
				padding:0 6px;
				float:left;
				width:25%;
				padding-top: 20px;
				
			}

			.chnge:after{
    			content:'';
    			animation:changetext 10s infinite linear;color:#00b894;
			}


			@media only screen and (max-width: 1000px){
				.responsive{
					width:50%;
					margin:6px 0;
				}
				nav .logo{
					padding-left: 5px;
				}
			}

			@media only screen and (max-width: 400px){
				.responsive{
					width:100%;	
				}
				nav .logo{
					padding-left: 5px;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="index  ">Home</a>
            </nav>
            <div id="title"><h1>tourism in meghalaya</h1></div>

            	<div class="responsive">
					<div class="gallery">
						<a href="nohkalikai falls " target="_blank"><img src="https://imgur.com/7T8Biio.jpg" width="300" height="200"></a>	
						<div class="des"><a href="nohkalikai falls " class="wlink">nohkalikai falls</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="umiam lake " target="_blank"><img src="https://imgur.com/8GGIflv.jpg" width="300" height="200"></a>	
						<div class="des"><a href="umiam lake " class="wlink">umiam lake</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="dainthlen falls " target="_blank"><img src="https://i.imgur.com/VoNGDXX.jpg" width="300" height="200"></a>	
						<div class="des"><a href="dainthlen falls " class="wlink">dainthlen falls</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="laitkor peak " target="_blank"><img src="https://i.imgur.com/1IvqtAW.jpg" width="300" height="200"></a>
						<div class="des"><a href="laitkor peak " class="wlink">laitkor peak</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="balpakram national park " target="_blank"><img src="https://i.imgur.com/wzWY6uU.jpg" width="300" height="200"></a>	
						<div class="des"><a href="balpakram national park " class="wlink">balpakram national park</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="nohsngithiang falls " target="_blank"><img src="https://i.imgur.com/aET8XFY.jpg" width="300" height="200"></a>	
						<div class="des"><a href="nohsngithiang falls " class="wlink">nohsngithiang falls</a></div>					
					</div>
				</div>
				
				<div class="responsive">
					<div class="gallery">
						<a href="elephant falls " target="_blank"><img src="https://i.imgur.com/LxgSAsj.jpg" width="300" height="200"></a>	
						<div class="des"><a href="elephant falls " class="wlink">elephant falls</a></div>					
					</div>
				</div>	

				<div class="responsive">
					<div class="gallery">
						<a href="double decker living root bridge " target="_blank"><img src="https://i.imgur.com/Sc9lU9M.jpg" width="300" height="200"></a>
						<div class="des"><a href="double decker living root bridge " class="wlink">double decker living root bridge</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="don bosco museum " target="_blank"><img src="https://i.imgur.com/pceDhII.jpg" width="300" height="200"></a>	
						<div class="des"><a href="don bosco museum " class="wlink">don bosco museum</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="nokrek national park " target="_blank"><img src="https://i.imgur.com/SP2TKZI.jpg" width="300" height="200"></a>	
						<div class="des"><a href="nokrek national park " class="wlink">nokrek national park</a></div>					
					</div>
				</div>
				
				<div class="responsive">
					<div class="gallery">
						<a href="krang suri waterfall " target="_blank"><img src="https://i.imgur.com/UsYzWOQ.jpg" width="300" height="200"></a>
						<div class="des"><a href="krang suri waterfall " class="wlink">krang suri waterfall</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="mawsmai cave road " target="_blank"><img src="https://i.imgur.com/sBDB0O6.jpg" width="300" height="200"></a>	
						<div class="des"><a href="mawsmai cave road " class="wlink">mawsmai cave road</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="garo hills " target="_blank"><img src="https://i.imgur.com/9iFKxbz.jpg" width="300" height="200"></a>	
						<div class="des"><a href="garo hills " class="wlink">garo hills</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="laitlum grand canyon " target="_blank"><img src="https://i.imgur.com/KaU1b9W.jpg" width="300" height="200"></a>	
						<div class="des"><a href="laitlum grand canyon " class="wlink">laitlum grand canyon</a></div>					
					</div>
				</div>	

				<div class="responsive">
					<div class="gallery">
						<a href="kynrem falls " target="_blank"><img src="https://i.imgur.com/bEOHBxX.jpg" width="300" height="200"></a>
						<div class="des"><a href="kynrem falls " class="wlink">kynrem falls</a></div>
					</div>
				</div>

				<div class="responsive">		
					<div class="gallery">
						<a href="mawphlang sacred grove " target="_blank"><img src="https://i.imgur.com/KIv5r8x.jpg" width="300" height="200"></a>	
						<div class="des"><a href="mawphlang sacred grove " class="wlink">mawphlang sacred grove</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="rainbow falls " target="_blank"><img src="https://i.imgur.com/5uuHXmL.jpg" width="300" height="200"></a>	
						<div class="des"><a href="rainbow falls " class="wlink">rainbow falls</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="air force museum " target="_blank"><img src="https://i.imgur.com/PfC8wW7.jpg" width="300" height="200"></a>	
						<div class="des"><a href="air force museum " class="wlink">air force museum</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="ward's lake " target="_blank"><img src="https://i.imgur.com/QSKeSXY.jpg" width="300" height="200"></a>	
						<div class="des"><a href="ward's lake " class="wlink">ward's lake</a></div>					
					</div>
				</div>

				<div class="responsive">
					<div class="gallery">
						<a href="garden of caves " target="_blank"><img src="https://i.imgur.com/4ukAH5Q.jpg" width="300" height="200"></a>	
						<div class="des"><a href="garden of caves " class="wlink">garden of caves</a></div>					
					</div>
				</div>
		</header>
	</body>
</html>