<!DOCTYPE html>
<html>
	<head>
		<title>Ward's Lake</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
		<style>
			*{
				margin:0px;
				padding:0px;
				box-sizing:border-box;
				font-family: 'Caveat', cursive;
			}

			body{
				width: 100%;
				height: 100vh;
    			background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('https://i.imgur.com/QSKeSXY.jpg');
        		background-repeat: no-repeat;
   				background-size: cover;
   				background-position: center;
   				overflow:auto;
   				background-color: black;
			}

			nav{
			    width:100%;
			    height:15vh;
			    background:rgba(0,0,0,0.5);
			    color:white;display: flex;
			    justify-content: space-between;
			    align-items: center;
			    text-transform: uppercase;
			}
			nav .logo{
			    width: 25%;
			    text-align: center;    
			}
			nav a{
				text-decoration: none;
				color:#00b894;
				padding-right: 30px;
				font-weight: 700;
				font-size:22px;
			}

			#title{
				width:100%;
				height:72px;
			}

			#title h2{
				text-align:center;
				text-transform: uppercase;
				padding-top: 20px;
				color:#fff;
				font-family: 'Flamenco', cursive;
			}

			.des{
				padding: 10px;
				text-align:justify;
				overflow-x: hidden;
				display: flex;
				justify-content: center;
    			align-items: center;
    			color:white;
    			font-family: 'Flamenco', cursive;
    			text-transform: uppercase;
    			font-weight: lighter;
    			letter-spacing: 2px;
    			word-spacing: 5px; 
    			font-size:18px;
			}
			.description{
				width:50%;
				float:left;
			}
			
			.map{
			height: auto;
			width:50%	;
			/*border:1px solid;*/
			float:right;
			padding: 10px;	
		    }
		    .map-tile{
		    	width:100%;
		    	height:100%;
		    }
		    @media only screen and (max-width: 1024px){
				.des{
					font-size: 15px;
				}
				.description{
					width:100%;
				}
				.map{
					width:100%;
				}
			}

			@media only screen and (max-width: 400px){
				.des{
					font-size: 10px;
				}
				.description{
					width: 100%;
				}
				.map{
					width:100%;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
            	<div class="logo"><h1 class="animated infinite heartBeat">Bharatwasii</h1></div>
            	<a href="1meghalaya.html">Home</a>
            </nav>
            <div id="title"><h2>ward's lake</h2></div>
			<div class="description">
			<span class="des">
				One of the most popular attractions of Shillong, Ward’s lake is a must-visit place when in this pristine north-eastern city. Also known as Pollock’s Lake, this artificial water body is encircled by an extensive lush garden and lies in the middle of the city. Take a walk around this horse-shoe shaped lake on the cobble-stone path or simply admire the colorful floral beds in the garden. It is equally popular amidst locals, family vacationers and honeymooning couples, as a picnic spot.
				<br/>
				The lake is named after the then Chief Commissioner of Assam, Sir William Ward, who started the plan for the establishment of this lake. It was later on constructed in the year 1894 by Colonel Hopkins. One of the associated stories is that a Khasi prisoner develop the area around the Lake to change the monotony is his daily routine.
				<br/>
				Close to the Ward’s Lake is a botanical garden that boasts of several orchids along with a number of other floral species. In the middle of the lake is a wooden bride from where you can enjoy a lovely views of the Lake and you can partake in feeding the fishes too. Visitors can also enjoy boating here on the placid waters of the Lake.
			</span>
			<br/>
			</div>
			<div class="map">
        		<a href="https://goo.gl/maps/TpgNgL4P8BRuc6cUA" target="_blank">
          			<div id="map-tile">
            			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1799.4522813902693!2d91.88540875800267!3d25.57484174593055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37507e94145b7c09%3A0x84366096de7b510a!2sWard&#39;s%20Lake!5e0!3m2!1sen!2sin!4v1596964298278!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          			</div>
        		</a>
     		</div>
		</header>
	</body>
	
</html>