<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<title>tourism in himanchal pradesh </title>
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Vampiro One' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
	</head>
	<style type="text/css" media="screen">
	@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
	}
	*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	}
	/* Flex styles -------------------------------------------------*/
	@media (min-width: 700px) {
	.leading {
	display: flex;
	align-items: center;
	}
	}
	/* Grid styles -------------------------------------------------*/
	.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 70px;


	}
	@media (min-width: 700px) {
	.leading {
	display: flex;
	align-items: center;
	}
	}
	.carousel-inner img {
	width: 100%;
	height: 50vw;
	background-size: cover;
	}
	.as
	{

	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3)),   url("https://i.imgur.com/M5gQ3Oh.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	  background-attachment: fixed;
	}
	.leading1 {
    margin: 0 0 0 0;
	background: transparent;
	color: black;
	font-size: 4vw;
	font-family: 'Vampiro One';
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 2px 2px 5px skyblue;
    
    
	animation: mymove 3s infinite;
	}
	@keyframes mymove {
	20% {font-weight: bold;}
	}
	nav
	{
	width: 100%;
	height: 15vh;
	  background:rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: space-between;
   letter-spacing: 1px;
	
	}
	.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
	.navbar-brand{
	float: left;
	padding: 10px 10px;
	text-transform: uppercase;
  font-family: 'allan';
  font-size: 40px;
	animation: mymove 3s infinite;
	}
	@keyframes mymove {
	50% {font-weight: bold;}
	}
	.cards {
	max-width: 960px;
 margin: 0 auto 30px;

	}
	article {
	position: relative;
	}
	.article-img {
	height: 300px;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;

	}
	
	.article-img:hover
	{
	opacity: 0.8;
	border: 2px solid #ccc;
	}
	.article-title {
	padding: 10px;
	 position: absolute;
  bottom: 0;
	width: 100%;
	text-align: center;
	font-family: 'Aclonica';
	font-size: 22px;
	color:skyblue;
	background-color: rgba(0, 0, 0, 0.5);
	}
	body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	</style>
	<body>
		
		<header id="header" class="as">
			<nav class="navbar navbar-inverse" style="background-color:rgba(0.0,0.0,0.0,0.3)" >
				<div class="container-fluid" >
					<div class="navbar-header" ">
						<a href="#" class="navbar-brand" style="color:white;">bharatwasii</a>
					</div>
					<ul class="nav navbar-nav navbar-right" style="font-family: 'Caveat', cursive;font-size: 30px;float: right;padding: 10px 10px;"><li><a href="#"  style="color:skyblue;text-transform: uppercase;">home</a></li></ul>
					</div>
				</nav>
				<div id="demo" class="carousel slide" data-ride="carousel" style="padding-bottom: 50px;">
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>
					<div class="carousel-inner">
						
						
						<div class="carousel-item active" id="xyz">
							<img src="https://i.imgur.com/cTHHpT0.jpg"alt="Los Angeles" width="1100" height="500">
							<div class="carousel-caption">
								<p class="leading1" >tourism in himanchal pradesh</p>
								<p class="leading1" >"the land of gods"</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="https://i.imgur.com/fsZLaRw.jpg" alt="Chicago" width="1100" height="500">
							<div class="carousel-caption">
								<p class="leading1">tourism in himanchal pradesh</p>
								<p class="leading1">"the land of gods"</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="https://i.imgur.com/ncwOARc.jpg" alt="Rohtang La" width="1100" height="500">
							<div class="carousel-caption">
								<p class="leading1">tourism in himanchal pradesh</p>
								<p class="leading1">"the land of gods"</p>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
				
				
				<section class="cards" style="">
					<article class="img-hover-zoom">
					
						<a href="shimla.html"><img class="article-img" src="https://i.imgur.com/1kVglwM.jpg" alt=" " /></a>
						<h1 class="article-title">
							shimla
						</h1>
						<p id="demo"></p>
					
					</article>
			
					<article class="img-hover-zoom">
						<a href="kullu.html"><img class="article-img" src="https://i.imgur.com/oW4XdRA.jpg" alt=" " /></a>
						<h1 class="article-title">
							kullu
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="chitkul.html" ><img class="article-img" src="https://i.imgur.com/MLbNolb.jpg"alt=" " /></a>
						<h1 class="article-title">
							chitkul
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="kufri.html"><img class="article-img" src="https://i.imgur.com/U4a97N2.jpg" alt=" " /></a>
						<h1 class="article-title">
							kufri
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="mcleodganj.html"><img class="article-img" src="https://i.imgur.com/ixu1JLQ.jpg" alt=" " /></a>
						<h1 class="article-title">
							mcleodganj
						</h1>
					</article>
					<article class="img-hover-zoom">
					<a href="rohtang la.html">	<img class="article-img" src="https://i.imgur.com/Fiev9fJ.jpg" alt=" " /></a>
						<h1 class="article-title">
							rohtangla
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="manali.html"><img class="article-img" src="https://i.imgur.com/DvovdLY.jpg"alt=" " /></a>
						<h1 class="article-title">
							manali
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="kangra.html"><img class="article-img" src="https://i.imgur.com/LyNhHeq.jpg" alt=" " /></a>
						<h1 class="article-title">
							kangra
						</h1>
					</article>
					<article class="img-hover-zoom">
					<a href="chamba.html">	<img class="article-img" src="https://i.imgur.com/NGQx85qm.jpg"alt=" " /></a>
						<h1 class="article-title">
							chamba
						</h1>
					</article>
					<article class="img-hover-zoom">
					<a href="malana.html">	<img class="article-img" src="https://i.imgur.com/CGWLN2u.jpg" alt=" " /></a>
						<h1 class="article-title">
							malana
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="barrot.html"><img class="article-img" src="https://i.imgur.com/uiwsVP9.jpg" alt=" " /></a>
						<h1 class="article-title">
							barot
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="kasauli.html"><img class="article-img" src="https://i.imgur.com/GeONFkI.jpg"alt=" " /></a>
						<h1 class="article-title">
							kasauli
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="dharamshala.html"><img class="article-img" src="https://i.imgur.com/rZH8IkP.jpg"alt=" " /></a>
						<h1 class="article-title">
							dharamshala
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="mandi.html"><img class="article-img" src="https://i.imgur.com/bb0Lz2Am.jpg"alt=" " /></a>
						<h1 class="article-title">
							mandi
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="sangla.html"><img class="article-img" src="https://i.imgur.com/mqkZ8Q8.jpg"alt=" " /></a>
						<h1 class="article-title">
							sangla
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="bir_billing.html"><img class="article-img" src="https://i.imgur.com/pCKmkCT.jpg"alt=" " /></a>
						<h1 class="article-title">
							bir billing
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="dalhousie.html"><img class="article-img" src="https://i.imgur.com/oTUwUfl.jpg"alt=" " /></a>
						<h1 class="article-title">
							dalhousie
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="kinnaur.html"><img class="article-img" src="https://i.imgur.com/4CIdQMu.jpg"alt=" " /></a>
						<h1 class="article-title">
							kinnaur
						</h1>
					</article>
					<article class="img-hover-zoom">
						<a href="mashobra.html"><img class="article-img" src="https://i.imgur.com/iNf7naH.jpg"alt=" " /></a>
						<h1 class="article-title">
							mashobra
						</h1>
					</article>
				</section>
			</header>
		</body>
	</html>